<div class="uk-inline uk-width-1-1">
  <button
    title={{t "snippets.title"}}
    uk-icon="icon: list"
    class="uk-form-icon uk-form-icon-flip"
    type="button"
  ></button>
  <div uk-dropdown="mode: click; pos: bottom-right" class="uk-padding-small">
    {{#if this.snippets.isRunning}}
      <UkSpinner class="uk-animation-fade" />
    {{else}}
      <ul uk-accordion="multiple: true" class="uk-margin-remove">
        {{#each-in this.snippets.value as |category snippets|}}
          <li>
            <a class="uk-accordion-title uk-text-default" href="#">{{category}}</a>
            <div class="uk-accordion-content">
              <ul class="uk-list uk-list-bullet">
                {{#each snippets as |snippet|}}
                  <li>
                    <a class="uk-link-text" href="" {{on "click" (fn this.apply snippet)}}>
                      {{snippet.subject}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </li>
        {{else}}
          <li>{{t "global.empty"}}</li>
        {{/each-in}}
      </ul>
    {{/if}}
  </div>
  {{yield}}
</div>

