{{#if this.submit.isRunning}}
  <div class="uk-text-center"><UkSpinner ratio="2" /></div>
{{else}}
  <BeClaimsForm::list::item @claim={{@claim}} @onCancel={{@onCancel}} />

  <hr>

  <label class="uk-form-label uk-text-bold">{{t "claims.documents"}}</label>
  <div
    uk-grid
    masonry="true"
    class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m"
    {{did-insert (perform this.fetchAttachments)}}
  >
    {{#each this.buckets as |bucket|}}
      <BeDocumentBucket
        @slug={{bucket}}
        @disabled={{@claim.isAnswered}}
        @deletable={{not @claim.isAnswered}}
        @loading={{this.fetchAttachments.isRunning}}
        @attachments={{get this.attachments bucket}}
        @onUpload={{perform this.add}}
        @onDelete={{perform this.remove}}
      />
    {{/each}}
  </div>

  <div class="uk-margin">
    <label class="uk-form-label uk-text-bold" for="comment">{{t "claims.comment"}}</label>
    {{#if @claim.isAnswered}}
      <CfFieldValue @field={{@claim.comment}} @tagName="p" class="uk-text-italic uk-margin-remove-vertical" />
    {{else}}
      <div class="uk-form-controls">
        <Textarea @value={{@claim.comment.answer.value}} id="comment" class="uk-textarea" name="comment" rows="6" />
      </div>
    {{/if}}
  </div>

  {{#unless @claim.isAnswered}}
    <div class="uk-text-right">
      <UkButton
        @color="primary"
        @disabled={{not this.canSubmit}}
        @label={{t "claims.submit"}}
        @onClick={{perform this.submit}}
      />
    </div>
  {{/unless}}
{{/if}}
