<div class="uk-position-relative">
  <CfField::info
    @text={{concat (t "documents.buckets.descriptions.prefix") this.category.description}}
    class="uk-position-top-right uk-margin-small-right uk-margin-small-top"
  />

  {{#if @disabled}}
    <div class="uk-placeholder uk-margin-remove uk-padding-medium">
      <p class="uk-text-center uk-margin-left uk-margin-right uk-margin-remove-bottom">{{this.category.name}}</p>

      {{#if (or @loading @attachments.length)}}
        <div class="uk-margin uk-width-1-1">
          <AlexandriaAttachmentList
            @loading={{@loading}}
            @attachments={{@attachments}}
            @deletable={{false}}
          />
        </div>
      {{/if}}
    </div>
  {{else}}
    <Dropzone
      @multiple={{true}}
      @allowedMimetypes={{this.allowedMimetypes}}
      @onFileAdded={{perform this.upload}}
      @onValidationError={{this.onValidationError}}
      class="uk-text-meta"
    >
      <:header>
        <p class="uk-margin-right uk-margin-left">{{this.category.name}}</p>
      </:header>
      <:footer>
        {{#if (or @loading @attachments.length)}}
          <div class="uk-text-left uk-margin uk-width-1-1">
            <AlexandriaAttachmentList
              @loading={{@loading}}
              @attachments={{@attachments}}
              @deletable={{@deletable}}
              @onDelete={{perform this.delete}}
              @useConfidential={{this.useConfidential}}
              @onConfidential={{this.toggleConfidential}}
              @attachmentLoading={{this.attachmentLoading}}
            />
          </div>
        {{/if}}
      </:footer>
    </Dropzone>
  {{/if}}
</div>