<iframe
  class="gis-map"
  title={{t "gis.title"}}
  name="map"
  src={{this.link}}
></iframe>

<div
  {{did-insert this.addMessageListener}}
  {{will-destroy this.removeMessageListener}}
  class="uk-flex uk-flex-between uk-margin-small-top"
>
  <div>
    <GisApplyButton
      @label={{t "gis.apply-button"}}
      @document={{@field.document}}
      @disabled={{not this.egrids}}
      @params={{hash egrids=this.egrids}}
      @confirmField={{this.confirmField}}
      @confirmFieldUnchecked={{this.confirmFieldUnchecked}}
      @onGetData={{this.applySelection}}
      @size="small"
      @instanceId={{@context.instanceId}}
    />

    <button
      type="button"
      uk-icon="warning"
      class="uk-margin-small-left"
      title={{t "gis.attention"}}
      {{on "click" (fn (mut this.showInstructions) true)}}
    >
      <span class="uk-hidden">{{t "gis.attention"}}</span>
    </button>
  </div>

  <div class="uk-text-right">
    <small class="uk-text-muted">
      {{t "gis.no-map.message"}}
      <a href={{this.link}} target="map">{{t "gis.no-map.link"}}</a>
    </small>
  </div>
</div>

{{#if this.oerebLinkData.length}}
  <div class="uk-margin-top uk-padding-small uk-box-shadow-small uk-border">
    {{t "gis.oereb"}}
    <ul class="uk-margin-remove-bottom uk-margin-small-top">
      {{#each this.oerebLinkData as |data|}}
        <li>
          <a
            href="https://oerebview.apps.be.ch/#/d/{{data.egrid}}"
            target="_blank"
            rel="noopener noreferrer"
          >{{t "gis.parcel"}} {{data.parcel}} ({{data.egrid}})</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<UkModal
  @visible={{this.showInstructions}}
  @onHide={{fn (mut this.showInstructions) false}}
  as |Modal|
>
  <Modal.body>{{t "gis.info-override"}}</Modal.body>
</UkModal>