{{#if (not (is-embedded))}}
  <nav class="be-navbar">
    <div class="uk-container uk-container-large">
      <div class="uk-width-1-1 uk-position-relative">
        <div class="uk-flex uk-flex-middle uk-flex-between uk-height-1-1">
          <LinkTo @route="index" class={{concat "main-logo-" (application-name) " uk-link-reset"}}>
            {{#if (is-application "be")}}
              <img
                class="uk-height-1-1"
                src="/assets/images/logo-ebau-bern-1-{{this.session.language}}.svg"
                alt={{t "global.title"}}
              />
            {{else if (is-application "ur")}}
              <img
                class="uk-height-1-1"
                src="/assets/images/logo-urec.svg"
                alt={{t "global.urec"}}
              />
             {{else if (is-application "gr")}}
              <div class="uk-flex uk-flex-middle logo-gr">
                <img
                  class="uk-height-1-1"
                  src="/assets/images/logo-kanton-gr.svg"
                  alt={{t "global.title"}}
                />
                <div class="uk-flex uk-flex-column aside-languages">
                  {{#each this.languages as |lang|}}
                    <span lang="{{lang}}" class="uk-text-bold uk-text-small">{{t "logo-gr.title" locale=lang}}</span>
                  {{/each}}
                </div>
              </<div>
            {{else if (is-application "demo")}}
              <img
                class="uk-height-1-1"
                src="/assets/images/logo-ebau-inosca-wide.svg"
                alt={{t "global.title"}}
              />
            {{/if}}
          </LinkTo>
          <div class="uk-text-right">
            {{#if (is-application "ur")}}
              <img
                class="uk-height-1-1 secondary-logo"
                src="/assets/images/logo-kanton-uri.svg"
                alt={{t "global.title"}}
              />
            {{/if}}
            {{#if (and this.session.isAuthenticated this.session.groups.length)}}
              <div class="uk-margin-small-top uk-margin-small-bottom">
                <a href="{{this.internalLink}}" class="be-navbar-internal-link">
                  {{t "nav.internal"}}
                  <UkIcon @icon="arrow-right" />
                </a>
              </div>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-flex">
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            {{! template-lint-disable no-unknown-arguments-for-builtin-components }}
            {{#if this.session.isAuthenticated}}
              <UkSubnav::Item @href="/">{{t "nav.index"}}</UkSubnav::Item>
              <UkSubnav::Item @href="/instances">{{t "nav.instances"}}</UkSubnav::Item>
              <UkSubnav::Item @href="/communications-global">{{t "nav.communications" }}
                <Communication::UnreadMessageBadge class="uk-margin-small-left" />
              </UkSubnav::Item>
              <UkSubnav::Item @href="/support">{{t "nav.support"}}</UkSubnav::Item>
            {{/if}}
            {{#if (or this.session.isAuthenticated (is-application "ur"))}}
              <UkSubnav::Item @href="/public-instances">
                {{t "nav.public-instance"}}
              </UkSubnav::Item>
            {{/if}}
            {{#if (macroCondition (macroGetOwnConfig "enableFaq"))}}
              {{#if this.session.isAuthenticated}}
                <UkSubnav::Item @href="/faq">{{t "nav.faq"}}</UkSubnav::Item>
              {{/if}}
            {{/if}}
            {{#if this.showFormBuilder}}
              <UkSubnav::Item @href="/form-builder">{{t "nav.form-builder"}}</UkSubnav::Item>
            {{/if}}
          </ul>
        </div>

        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            {{#if this.session.isAuthenticated}}
              <li>
                <a href="#">
                  {{this.session.user.fullName}}
                  {{#if this.session.group}}
                    ({{this.session.group.name}})
                  {{/if}}
                </a>
                {{#if this.session.groups.length}}
                  <div
                    uk-dropdown
                    animation="uk-animation-slide-top-small"
                    duration="300"
                    mode="click"
                    pos="bottom-right"
                  >
                    <ul class="uk-nav uk-dropdown-nav">
                      <li class={{unless this.session.group "uk-active"}}>
                        <a
                          data-test-no-group
                          href="#"
                          {{on "click" (fn this.setGroup null)}}
                        >
                          {{t "nav.applicant"}}
                        </a>
                      </li>
                      <li class="uk-nav-divider"></li>
                      {{#each this.session.groups as |g|}}
                        <li class={{if (eq g.id this.session.group.id) "uk-active"}}>
                          <a
                            data-test-group={{g.id}}
                            href="#"
                            {{on "click" (fn this.setGroup g.id)}}
                          >
                            {{g.name}}
                          </a>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                {{/if}}
              </li>
            {{/if}}
            {{#each this.languages as |lang|}}
              <li class={{if (eq lang this.session.language) "uk-active"}}>
                <a href="#" {{on "click" (fn this.setLanguage lang)}}>
                  {{lang}}
                </a>
              </li>
            {{/each}}
            {{#if (macroCondition (macroGetOwnConfig "showProfileLink"))}}
              <li>
                <a href={{this.profileURL}} title={{t "nav.profile" }} uk-icon="user">
                  <span class="uk-hidden">
                    {{t "nav.profile"}}
                  </span>
                </a>
              </li>
            {{/if}}
            {{#if this.session.isAuthenticated}}
              <li>
                <a href="#" title={{t "nav.logout"}} {{on "click" this.logout}}>
                  <UkIcon @icon="sign-out" />
                  <span class="uk-hidden">
                    {{t "nav.logout"}}
                  </span>
                </a>
              </li>
            {{else}}
              <li>
                <LinkTo @route="login" title={{t "nav.login"}}>
                  <UkIcon @icon="sign-in" />
                  <span class="uk-hidden">
                    {{t "nav.login"}}
                  </span>
                </LinkTo>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
{{/if}}
