{{#if (eq this.state "loading")}}
  <div class="uk-flex uk-flex-center"><UkSpinner @ratio="2" /></div>
{{else if (eq this.state "no-permission")}}
  <div class="uk-text-center">
    <h1 class="uk-heading-2xlarge">{{t "notfound.title"}}</h1>
    <h3>{{t "notfound.subtitle"}}</h3>
    <p class="uk-text-muted">{{t "notfound.link"}} <LinkTo @route="index">{{t "notfound.home"}}</LinkTo></p>
  </div>
{{else}}
  {{yield}}
{{/if}}

<template
  {{did-insert (perform this.setTemplate)}}
  {{did-update (perform this.setTemplate) @loading @hasPermission}}
></template>