{{#if (eq this.state "loading")}}
  <div class="uk-flex uk-flex-center"><UkSpinner @ratio="2" /></div>
{{else if (eq this.state "no-permission")}}
  <div class="uk-text-center uk-width-1-3 uk-margin-auto">
    <h2>{{t "notfound.title"}}</h2>
    <p>{{t "notfound.subtitle"}}</p>
    <p class="uk-text-muted">{{t "notfound.link"}}
      <LinkTo @route="index">{{t "notfound.home"}}</LinkTo></p>
  </div>
{{else}}
  {{yield}}
{{/if}}

<template
  {{did-insert (perform this.setTemplate)}}
  {{did-update (perform this.setTemplate) @loading @hasPermission}}
></template>