<header class="so-navbar">
  <div class="so-navbar__header">
    <div class="so-navbar__header__logo">
      <a href={{macroGetOwnConfig "eGovPortalURL"}} target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/logo-my.so.ch-header.png" alt={{t "so-footer.e-gov-title"}}>
        {{#if this.watermark}}
          <div class="so-navbar__header__watermark">{{this.watermark}}</div>
        {{/if}}
      </a>
    </div>
  </div>

  <nav class="so-navbar__nav">
    <div>
      <SoNavbar::Toggle class="uk-hidden@m" />
      <div
        class="so-navbar__dropdown uk-hidden@m"
        uk-dropdown
        mode="click"
        pos="bottom-right"
        offset="6"
      >
        <SoNavbar::Nav
          @isAuthenticated={{this.session.isAuthenticated}}
          @isInternal={{this.session.isInternal}}
          @showFormBuilder={{this.showFormBuilder}}
        />
      </div>
      <SoNavbar::Nav
        @isAuthenticated={{this.session.isAuthenticated}}
        @isInternal={{this.session.isInternal}}
        @showFormBuilder={{this.showFormBuilder}}
        class="uk-visible@m"
      />
    </div>
    <div>
      <ul>
        <li><a href={{macroGetOwnConfig "eGovPortalURL"}}>{{t "so-footer.leave"}}</a></li>
        <li><a href="https://so.ch/ebau" title={{t "nav.faq"}}><FaIcon @icon="question-circle" /></a></li>
        {{#if (and this.session.isAuthenticated this.session.user)}}
          <li>
            <a href="#">
              <img
                src="/assets/images/my.so.ch-profile.png"
                class="so-navbar__nav__profile"
                alt={{this.session.user.fullName}}
              >
              <div class="so-navbar__nav__user uk-hidden@l">
                <FaIcon @icon="caret-down" />
              </div>
              <div class="so-navbar__nav__user uk-visible@l">
                <div>{{this.session.user.fullName}}</div>
                {{#if this.session.group}}
                  <div>
                    <span class="so-navbar__nav__user__caret"></span>
                    {{this.session.group.name}}
                  </div>
                {{/if}}
              </div>
            </a>
            <div
              class="so-navbar__dropdown"
              uk-dropdown
              mode="click"
              pos="bottom-right"
              offset="0"
            >
              <ul>
                <li class="uk-hidden@l"><a href="#">{{this.session.user.fullName}}</a></li>
                {{#if this.session.groups.length}}
                  <li>
                    <a
                      data-test-no-group
                      href="#"
                      class={{unless this.session.group "active"}}
                      {{on "click" (fn this.setGroup null)}}
                    >
                      {{t "nav.applicant"}}
                    </a>
                  </li>
                  {{#each this.session.groups as |g|}}
                    <li>
                      <a
                        data-test-group={{g.id}}
                        href="#"
                        class={{if (eq g.id this.session.group.id) "active"}}
                        {{on "click" (fn this.setGroup g.id)}}
                      >
                        {{g.name}}
                      </a>
                    </li>
                  {{/each}}
                {{/if}}
                <li><a href="" {{on "click" this.logout}}><FaIcon @icon="power-off" />{{t "nav.logout"}}</a></li>
              </ul>
            </div>
          </li>
        {{/if}}
        {{#if this.session.isAuthenticated}}
          <li><a href="" title={{t "nav.logout"}} {{on "click" this.logout}}><FaIcon @icon="power-off" /></a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>