<li class={{if this.isActive "uk-active"}}>
  <LinkTo
    @route={{module-route "additional-demand" "detail"}}
    @models={{this.models}}
  >
    {{#let
      (concat
        @demand.createdByGroup.name
        " "
        (format-date @demand.raw.createdAt format="date")
      )
      as |labelText|
    }}
      <span class="uk-width-expand uk-text-truncate" title={{labelText}}>
        {{labelText}}
      </span>
    {{/let}}

    <UkIcon @icon={{this.status.icon}} {{uk-tooltip this.status.title pos="top"}} />
  </LinkTo>
</li>