<li>
  <article class="uk-comment">
    <header class="uk-comment-header">
      <div class="uk-comment-title">
        <span>{{@journalEntry.user.fullName}}</span>
      </div>
      <div class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
        <div>
          <span class="uk-margin-small-right">
            {{format-date
              @journalEntry.creationDate
              day="2-digit"
              month="2-digit"
              year="numeric"
              hour="2-digit"
              minute="2-digit"
              hour12=false
            }}
          </span>

          {{#if @journalEntry.visibility}}
            <i title={{t "journal.visibilityAuthorities" }}>
              <FaIcon @icon="eye" />
            </i>
          {{else}}
            <i title={{t "journal.visibleForOwnOrganization" }}>
              <FaIcon @icon="eye-slash" />
            </i>
          {{/if}}
        </div>
        {{#if (and (can "edit journal-entry") (not @journalEntry.edit))}}
          <div>
            <UkButton
              @color="text"
              @type="button"
              @title={{t "journal.edit" }}
              @on-click={{toggle "edit" @journalEntry}}
              data-test-edit-entry
            >
              {{t "journal.edit"}}
            </UkButton>
          </div>
        {{/if}}
      </div>
    </header>
    <div class="uk-comment-body">
      {{#if @journalEntry.edit}}
        <JournalTextarea
          @journalEntry={{@journalEntry}}
        />
      {{else}}
        <span class="journal-entry-text">{{@journalEntry.text}}</span>
      {{/if}}
    </div>
  </article>
</li>
