<li>
  <article class="uk-comment">
    <header class="uk-comment-header">
      <div class="uk-comment-title">
        <span>{{@journalEntry.user.fullName}}</span>
      </div>
      <div class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
        <div>
          <span class="uk-margin-small-right">
            {{format-date @journalEntry.creationDate format="datetime"}}
          </span>
          {{#if this.displayJournalEntryDuration}}
              <span uk-icon="icon: future; ratio: 0.7" />
              <span class="uk-margin-small-right journal-entry__space">
                {{@journalEntry.duration}}
              </span>
          {{/if}}

          <FaIcon
            @icon={{if @journalEntry.visibility "eye" "eye-slash"}} 
            @fixedWidth={{true}}
            title={{if
              @journalEntry.visibility
              (t "journal.visibleForAuthorities")
              (t "journal.visibleForOwnOrganization")
            }}
          />

        </div>
        {{#if (and (can "edit journal-entry" @journalEntry) (not @journalEntry.edit))}}
          <div>
            <UkButton
              @color="text"
              @type="button"
              @title={{t "journal.edit" }}
              @onClick={{toggle "edit" @journalEntry}}
              data-test-edit-entry
            >
              {{t "journal.edit"}}
            </UkButton>
          </div>
        {{/if}}
      </div>
    </header>
    <div class="uk-comment-body">
      {{#if @journalEntry.edit}}
        <JournalTextarea
          @journalEntry={{@journalEntry}}
          @showJournalEntryDuration={{@showJournalEntryDuration}}
        />
      {{else}}
        <span class="journal-entry-text">{{@journalEntry.text}}</span>
      {{/if}}
    </div>
  </article>
</li>
