<Notifications />

<h2>
  {{t "workItems.edit"}}
</h2>

<div>
  <div>
    <h3>
      {{@model.name}}
    </h3>
    {{if @model.description @model.description "-"}}
  </div>
  <div class="work-item-attributes">
    <div class="work-item-attribute">
      <span class="work-item-attribute__title">
        {{t "workItems.responsible"}}
      </span>
      {{#each @model.addressedServices as |service|}}
        {{service.name}}
      {{else}}
        -
      {{/each}}
    </div>
    <div class="work-item-attribute">
      <span class="work-item-attribute__title">
        {{t "workItems.deadline"}}
      </span>
      {{
        format-date
        @model.deadline
        day="2-digit"
        month="2-digit"
        year="numeric"
        hour="2-digit"
        minute="2-digit"
        hour12=false
      }}
    </div>
    <div class="work-item-attribute">
      <span class="work-item-attribute__title">
        {{t "workItems.createdBy"}}
      </span>
      {{if @model.createdByUser @model.createdByUser.fullName "-"}}
    </div>
    <div class="work-item-attribute">
      <span class="work-item-attribute__title">
        {{t "workItems.createdAt"}}
      </span>
      {{
        format-date
        @model.createdAt
        day="2-digit"
        month="2-digit"
        year="numeric"
        hour="2-digit"
        minute="2-digit"
        hour12=false
      }}
    </div>
  </div>
</div>

{{#if this.isWorkItemCompleted}}
  <div class="work-item-attributes">
    <div class="work-item-attribute">
      <span class="work-item-attribute__title">
        {{t "workItems.closedBy"}}
      </span>
      {{@model.closedByUser.fullName}}
    </div>
    <div class="work-item-attribute">
      <span class="work-item-attribute__title">
        {{t "workItems.closedAt"}}
      </span>
      {{
        format-date
        @model.closedAt
        day="2-digit"
        month="2-digit"
        year="numeric"
        hour="2-digit"
        minute="2-digit"
        hour12=false
      }}
    </div>
    <div class="work-item-attribute">
      <span class="work-item-attribute__title">
        {{t "workItems.comment"}}
      </span>
      {{if @model.meta.completion-comment @model.meta.completion-comment "-"}}
    </div>
  </div>
{{else if (and this.isManualWorkItem this.isCreator)}}
  <form
    class="work-item-form form"
    {{on "submit" (perform this.saveManualWorkItem)}}
  >
    <label class="work-item-input">
      {{t "workItems.description"}}
      <Textarea @value={{@model.description}} />
    </label>
    <label class="work-item-input">
      {{t "workItems.deadline"}}
      <PikadayInput
        class="deadline"
        @value={{@model.deadline}}
        @useUTC={{true}}
        @onSelection={{this.setDeadline}}
      />
    </label>

    <div class="work-item-input">
      {{t "workItems.notifications"}}
      <label class="checkbox-label">
        <Input @type="checkbox" @checked={{mut @model.meta.notify-completed}} />
        {{t "workItems.notifyCompleted"}}
      </label>
      <label class="checkbox-label">
        <Input @type="checkbox" @checked={{mut @model.meta.notify-deadline}} />
        {{t "workItems.notifyDeadline"}}
      </label>
    </div>

    <div class="buttons">
      <button class="button buttonstyle btn success" type="submit">
        {{t "global.save"}}
      </button>
    </div>
  </form>
{{else if this.model.isAddressed}}
  <form
    class="work-item-form"
    {{did-insert (perform this.fetchUserChoices)}}
    {{on "submit" (perform this.workItemAssignUsers)}}
  >
    <label class="work-item-input">
      {{t "workItems.assignedUser"}}
      <PowerSelect
        @searchEnabled={{true}}
        @searchField="fullName"
        @renderInPlace={{true}}
        @options={{this.userChoices}}
        @selected={{this.responsibleUser}}
        @noMatchesMessage={{t "global.noMatch"}}
        @onChange={{fn (mut this.responsibleUser)}} as |responsibleUser|
      >
        {{responsibleUser.fullName}}
      </PowerSelect>
    </label>

    <div class="buttons">
      <button class="button buttonstyle btn success" type="submit">
        {{t "global.save"}}
      </button>
    </div>
  </form>
{{/if}}

{{#if
  (and (not this.isWorkItemCompleted) this.isManualWorkItem this.model.isAddressed)
}}
  <h2>
    {{t "workItems.actions.finish"}}
  </h2>

  <form
    class="form work-item-form"
    {{on "submit" (perform this.finishWorkItem)}}
  >
    <label class="work-item-input">
      {{t "workItems.comment"}}
      <Textarea @value={{@model.meta.completion-comment}} />
    </label>

    <div class="buttons">
      <button class="button buttonstyle btn success" type="submit">
        {{t "workItems.actions.finish"}}
      </button>
    </div>
  </form>
{{/if}}
