{{#if this.workItemsQuery.isLoading}}
  <div class="uk-text-center">
    <UkSpinner @ratio="2" />
  </div>
{{else if this.workItem}}
  <h2 class="uk-margin-remove-top">{{this.workItem.name}}</h2>

  <p class="uk-text-italic white-space-pre-wrap">{{or this.workItem.description "-"}}</p>

  <div class="uk-grid-small uk-child-width-1-5" uk-grid>
    <div>
      <p class="uk-text-bold uk-margin-remove">{{t "workItems.responsible"}}</p>
      {{this.workItem.addressedService.name}}
    </div>
    <div>
      <p class="uk-text-bold uk-margin-remove">{{t "workItems.deadline"}}</p>
      {{format-date this.workItem.deadline format="date"}}
    </div>
    {{#if (eq this.workItem.task.slug "create-manual-workitems")}}
      <div>
        <p class="uk-text-bold uk-margin-remove">{{t "workItems.createdBy"}}</p>
        {{this.workItem.createdByUser.fullName}}
      </div>
    {{/if}}
    <div>
      <p class="uk-text-bold uk-margin-remove">{{t "workItems.createdAt"}}</p>
      {{format-date this.workItem.createdAt format="datetime"}}
    </div>
    <div>
      <p class="uk-text-bold uk-margin-remove">{{t "workItems.createdAt"}}</p>
      {{format-date this.workItem.createdAt format="datetime"}}
    </div>
    {{#if this.workItem.isCompleted}}
      <div>
        <p class="uk-text-bold uk-margin-remove">{{t "workItems.closedBy"}}</p>
        {{this.workItem.closedByUser.fullName}}
      </div>
      <div>
        <p class="uk-text-bold uk-margin-remove">{{t "workItems.closedAt"}}</p>
        {{format-date this.workItem.closedAt format="datetime"}}
      </div>
      <div>
        <p class="uk-text-bold uk-margin-remove">{{t "workItems.comment"}}</p>
        {{or this.workItem.meta.completion-comment "-"}}
      </div>
    {{/if}}
  </div>

  {{#unless this.isWorkItemCompleted}}
    <h2>{{t "workItems.actions.edit"}}</h2>

    <form
      class="uk-form-stacked"
      {{on "submit" (perform this.saveWorkItem)}}
    >
      {{#if this.workItem.isAddressedToCurrentService}}
        <div class="uk-margin">
          <label class="uk-form-label uk-text-bold">
              {{t "workItems.assignedUser"}}
              <span class="uk-text-danger">*</span>
          </label>
          <div class="uk-form-controls">
            <PowerSelect
              @searchEnabled={{true}}
              @searchField="fullName"
              @renderInPlace={{true}}
              @options={{this.users.records}}
              @selected={{this.workItem.assignedUser}}
              @noMatchesMessage={{t "global.noMatch"}}
              @onChange={{fn (mut this.workItem.assignedUser)}} as |user|
            >
              {{user.fullName}}
            </PowerSelect>
          </div>
        </div>
      {{/if}}

      {{#if (can "edit as creator or controller work-item" this.workItem)}}
        <div class="uk-margin">
          <label class="uk-form-label uk-text-bold">
            {{t "workItems.description"}}
          </label>
          <div class="uk-form-controls">
            <Textarea id="description" @value={{this.workItem.description}} class="uk-textarea" {{autoresize mode="height"}} />
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label uk-text-bold">
            {{t "workItems.deadline"}}
            <span class="uk-text-danger">*</span>
          </label>
          <div class="uk-form-controls">
            <input
              id="deadline"
              type="text"
              class="uk-input"
              {{pikaday value=this.workItem.deadline onSelect=(fn (mut this.workItem.deadline))}}
              required
            />
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label uk-text-bold">
            {{t "workItems.notifications"}}
          </label>
          <div class="uk-form-controls">
            <label class="checkbox-label">
              <Input
                @type="checkbox"
                @checked={{this.workItem.meta.notify-completed}}
                class="uk-checkbox"
              />
              {{t "workItems.notifyCompleted"}}
            </label>
            <br />
            <label class="checkbox-label">
              <Input
                @type="checkbox"
                @checked={{this.workItem.meta.notify-deadline}}
                class="uk-checkbox"
              />
              {{t "workItems.notifyDeadline"}}
            </label>
          </div>
        </div>
      {{/if}}

      <div>
        <LinkTo @route="work-items.instance.index" class="uk-button uk-button-default">
          {{t "global.cancel"}}
        </LinkTo>

        <button class="uk-button uk-button-primary" type="submit">
          {{t "global.save"}}
        </button>
      </div>
    </form>
  {{/unless}}

  {{#if (can "complete work-item" this.workItem)}}
    <h2>{{t "workItems.actions.finish"}}</h2>

    <form
      aria-label={{t "work-items.completeFormLabel"}}
      class="form form-edit work-item-form"
      {{on "submit" (perform this.finishWorkItem)}}
    >
      <div class="uk-margin">
        <label class="uk-form-label uk-text-bold">
          {{t "workItems.comment"}}
        </label>
        <div class="uk-form-controls">
            <Textarea @value={{this.workItem.meta.completion-comment}} name="comment" id="comment" class="uk-textarea" {{autoresize mode="height"}} />
        </div>
      </div>

      <div>
        <button class="uk-button uk-button-primary" type="submit">
          {{t "workItems.actions.finish"}}
        </button>
      </div>
    </form>
  {{/if}}
{{/if}}
