<h2>Involvierte Personen</h2>

<table
  class="uk-table uk-table-striped uk-margin-remove uk-table-small uk-table-responsive uk-table-middle"
>
  <thead>
    <tr>
      <th title="E-Mail">
        E-Mail
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.applicants as |row|}}
      <tr>
        <td>
          {{get row "email"}}
        </td>
        <td class="uk-text-right">
          {{#if (gt this.applicants.length 1)}}
            <button
              type="button"
              title="Eintrag Löschen"
              data-test-delete-row
              class="uk-icon-button"
              uk-icon="trash"
              {{on "click" (fn (perform this.deleteRow) row)}}
            ></button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  {{#if (eq @model.meta.access-type "applicant")}}
    <tfoot>
      <tr>
        <td colspan="2" class="uk-text-center">
          <div uk-toggle="target: #modal-applicants">
            <UkButton @size="small" @on-click={{perform this.addRow}}>
              <UkIcon @icon="plus"/>
            </UkButton>
          </div>
        </td>
      </tr>
    </tfoot>
  {{/if}}
</table>

<div id="modal-applicants" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button type="button" class="uk-modal-close-default" uk-close></button>

    <h2 class="uk-modal-title">
      Eintrag hinzufügen
    </h2>

    <div class="uk-margin">
      <label
        class="uk-form-label uk-text-bolder {{if (get this (concat "_value.error." "email")) "uk-text-danger"}}"
      >
        E-Mail
        <span class="uk-text-danger">
          *
        </span>
      </label>
      <Input
        @type="email"
        @value={{get this._value "email"}}
        {{on "change" (fn this.change "email")}}
        class="uk-input"
      />
      {{#with (get this (concat "_value.error." "email")) as |error|}}
        {{camac-input-error error.validation}}
      {{/with}}
    </div>
    {{camac-input-error this.saveErrors}}

    <div class="uk-text-right">
      <UkButton class="uk-modal-close">
        Abbrechen
      </UkButton>
      <UkButton
        @loading={{this.saveRow.isRunning}}
        @disabled={{not this._value.isValid}}
        @color="primary"
        @type="button"
        {{on "click" (perform this.saveRow)}}
      >
        Speichern
      </UkButton>
    </div>
  </div>
</div>