<h1 class="uk-text-center">
  {{t "cases.new.title"}}
</h1>

<p class="uk-text-center uk-text-large">
  {{t "cases.new.type"}}
</p>

{{#if this.formQuery.isLoading}}
  <LoadingText />
{{else}}
  <div class="uk-margin-bottom uk-margin-large-top uk-flex uk-flex-wrap">
    {{#each this.formQuery.value as |form|}}
      <div class="uk-padding-small uk-width-1-2">
        <UkButton
          @width="1-1"
          @label={{form.name}}
          @color={{
            if (eq form.slug this.selectedForm) "secondary" "default"
          }}
          @on-click={{fn (mut this.selectedForm) form.slug}}
          class=""
        />
      </div>
    {{else}}
      <div class="uk-padding-small uk-width-1-1 uk-text-center">
        {{t "global.empty"}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="uk-text-right">
  <UkButton
    @color="primary"
    @label={{t "global.continue"}}
    @disabled={{or (not this.selectedForm) this.createCase.isRunning}}
    @loading={{this.createCase.isRunning}}
    @on-click={{perform this.createCase}}
  />
</div>
