{{#if this.casesQuery.value.length}}
  <div class="uk-text-right">
    {{this.paginationInfo}}
  </div>
{{/if}}

<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
    <tr>
      {{#each this.tableColumns as |tColumn|}}
        <CaseTable::Header
          @column={{tColumn}}
          @currentOrder={{@order}}
          @onSetOrder={{@onSetOrder}}
        />
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each this.casesQuery.value as |node|}}
      <tr
        role="link"
        class="pointer {{
          if
          node.activationWarning
          (concat "activation-warning-row " node.activationWarning)
        }}"
        {{on "click" (fn this.redirectToCase node)}}
      >
        {{#each this.tableColumns as |tColumn|}}
          <td
            class="
              {{if (eq tColumn.name "intent") "uk-text-truncate uk-table-expand"}}
              {{if (eq tColumn.name "applicants") "uk-text-break"}}
            "
            title={{if (eq tColumn.name "instanceState") (get node "instanceStateDescription")}}
          >
            {{#if (eq tColumn.name "applicant")}}
              {{get node (concat tColumn.name ".name")}}
            {{else if (eq tColumn.name "processingDeadline")}}
              {{date-from-now (get node tColumn.name)}}
            {{else}}
              {{get node tColumn.name}}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{else}}
      <tr>
        <td colspan={{this.tableColumns.length}} class="uk-text-center">
          {{#if this.casesQuery.isLoading}}
            <UkSpinner />
          {{else}}
            {{t "global.empty"}}
          {{/if}}
        </td>
      </tr>
    {{/each}}

    <tr>
      {{#if this.casesQuery.hasNextPage}}
        <td colspan={{this.tableColumns.length}} class="uk-text-center">
          {{#if this.casesQuery.isLoading}}
            <UkSpinner />
          {{else}}
            <button type="button" class="uk-button uk-button-link" {{on "click" this.casesQuery.fetchMore}}>
              {{t "global.loadMore"}}
            </button>
          {{/if}}
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>

{{#if this.casesQuery.value.length}}
  <div class="uk-text-right">
    {{#if (macroCondition (macroGetOwnConfig "isBE"))}}
      <a href="#" class="uk-link-text uk-margin-small-right" {{on "click" (perform this.export)}}>
        <UkIcon @icon="file-text" />
        {{t "cases.export.title"}}
      </a>
    {{/if}}
    {{this.paginationInfo}}
  </div>
{{/if}}
