<div class="uk-text-right">
  {{this.paginationInfo}}
</div>

<table {{did-insert this.setup}} {{did-update this.setup @filter}}>
  <thead>
    <tr>
      {{#each this.tableColumns as |tColumn|}}
        <th>
          {{t (concat "cases.tableHeaders." tColumn)}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each this.casesQuery.value as |node|}}
      <tr
        role="link"
        class={{
          if
          node.activationWarning
          (concat "activation-warning " node.activationWarning)
        }}
        {{on "click" (fn this.redirectToCase node)}}
      >
        {{#each this.tableColumns as |tColumn|}}
          <td
            class={{
              if (eq tColumn "intent") "uk-text-truncate uk-table-expand"
            }}
          >
            {{#if (eq tColumn "applicant")}}
              {{get node (concat tColumn ".name")}}
            {{else if (eq tColumn "processingDeadline")}}
              {{moment-from (get node tColumn)}}
            {{else}}
              {{get node tColumn}}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{else}}
      <tr>
        <td colspan={{this.tableColumns.length}} class="uk-text-center">
          {{#if this.casesQuery.isLoading}}
            {{t "global.loading"}}
          {{else}}
            {{t "global.empty"}}
          {{/if}}
        </td>
      </tr>
    {{/each}}

    <tr>
      {{#if (and this.casesQuery.hasNextPage (not this.casesQuery.isLoading))}}
        <td colspan={{this.tableColumns.length}} class="uk-text-center">
          <button type="button" {{on "click" this.loadNextPage}}>
            {{t "global.loadMore"}}
          </button>
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>
<div class="uk-text-right">
  {{this.paginationInfo}}
</div>
