{{#if data.lastSuccessful.value}}
  <h1>Meine Dossiers</h1>

  <table class="uk-table uk-table-striped uk-table-hover uk-table-responsive">
    <thead>
      <tr>
        <th>eBau-Nr.</th>
        <th>Gesuchsart</th>
        <th>Gemeinde</th>
        <th>Adresse</th>
        <th class="uk-text-right">Erstelldatum</th>
        <th>Status</th>
        <th>Beschreibung</th>
      </tr>
    </thead>
    <tbody>
      {{#each cases as |case|}}
        <tr>
          <td>
            {{#link-to "instances.edit" case.ebauNr title="Klicken Sie um das Gesuch zu bearbeiten"}}
              {{case.ebauNr}}
            {{/link-to}}
          </td>
          <td>{{case.type}}</td>
          <td class="uk-text-nowrap">{{case.municipality}}</td>
          <td>{{case.address}}</td>
          <td class="uk-text-right uk-text-nowrap">{{format-date case.createdAt}}</td>
          <td>{{case.status}}</td>
          <td class="uk-text-truncate" title={{case.description}}>{{case.description}}</td>
        </tr>
      {{/each}}
      <tr role="link" title="Klicken Sie um ein neues Gesuch zu erstellen" class="pointer" {{action (transition-to "instances.new") on="click"}}>
        <td class="uk-text-center" colspan="7">
          {{uk-icon "plus" scale=2}}
        </td>
      </tr>
    </tbody>
  </table>
{{else if data.isRunning}}
  {{#uk-flex horizontal="center" class="uk-padding uk-animation-fade"}}
    {{uk-spinner ratio=3}}
  {{/uk-flex}}
{{else}}
  {{#uk-flex horizontal="center" vertical="middle" direction="column"}}
    <div class="uk-text-center uk-width-large">
      <object data="/assets/images/stamp-document.svg" class="uk-width-medium"></object>
      <h4 class="uk-margin-remove-top">Sie haben noch keine Gesuche!</h4>
      <p>
        Erstellen Sie jetzt schnell und bequem Ihr erstes Gesuch. Sie
        können es jederzeit schliessen und problemlos ein andermal weiter
        ausfüllen.
      </p>
      {{#link-to "instances.new" class="uk-button uk-button-primary uk-button-large"}}Gesuch erstellen{{/link-to}}
    </div>
  {{/uk-flex}}
{{/if}}
