{{#with model.instance as |instance|}}
  <div uk-grid>
    <div class="uk-width-1-1 uk-width-1-3@m">
      <ul class="uk-tab uk-tab-left">
        {{#active-link activeClass='uk-active'}}
          {{link-to 'Allgemeine Informationen' 'instances.edit.index' class='uk-text-bold'}}
        {{/active-link}}
        {{#each navigation as |m|}}
          {{#if m.state.lastSuccessful.value}}
            {{camac-nav-module module=m}}
          {{/if}}
        {{/each}}
        {{#if (contains 'form' model.meta.editable)}}
          {{#active-link activeClass='uk-active'}}
            {{link-to 'Einreichen' 'instances.edit.submit' class='uk-text-bold'}}
          {{/active-link}}
        {{/if}}
      </ul>
    </div>

    <div class="uk-width-1-1 uk-width-2-3@m">
      <h1 class="uk-heading-divider uk-margin-medium uk-flex uk-flex-between uk-flex-wrap">
        {{#if instance.identifier}}{{instance.identifier}} - {{/if}}
        {{instance.form.description}}
        <span>
          {{uk-label label=instance.instanceState.description}}
        </span>
      </h1>

      {{focusing-outlet}}

      <hr class="uk-margin uk-margin-medium-top">

      <div uk-grid class="uk-child-width-1-2">
        <div>
          {{#if hasPrev}}
            {{uk-button label='Zurück' loading=prev.isRunning on-click=(perform prev)}}
          {{/if}}
        </div>
        <div class="uk-text-right">
          {{#if hasNext}}
            {{uk-button label='Weiter' color='primary' loading=next.isRunning on-click=(perform next)}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/with}}
