<div uk-grid>
  <div class="uk-width-1-1 uk-width-1-3@m">
    <ul class="uk-tab uk-tab-left" uk-sticky="offset: 40; media: 960;">
      {{#active-link activeClass='uk-active'}}
        {{link-to 'Allgemeine Informationen' 'instances.edit.index' class='uk-text-bold'}}
      {{/active-link}}
      {{#each (await navigation) as |m|}}
        {{#if (await m.state)}}
          {{camac-nav-module module=m}}
        {{/if}}
      {{/each}}
      {{#active-link activeClass='uk-active'}}
        {{link-to 'Einreichen' 'instances.edit.submit' class='uk-text-bold'}}
      {{/active-link}}
    </ul>
  </div>

  <div class="uk-width-1-1 uk-width-2-3@m">
    <h1 class="uk-heading-divider uk-margin-medium uk-flex uk-flex-between uk-flex-wrap">
      {{#if model.identifier}}{{model.identifier}} - {{/if}}
      {{model.form.description}}
      <span>
        {{uk-label label=model.instanceState.description}}
      </span>
    </h1>

    {{focusing-outlet}}

    <hr class="uk-margin uk-margin-medium-top">

    <div uk-grid class="uk-child-width-1-2">
      <div>
        {{#if (await hasPrev)}}
          {{uk-button label='Zurück' on-click=(perform prev)}}
        {{/if}}
      </div>
      <div class="uk-text-right">
        {{#if (await hasNext)}}
          {{uk-button label='Weiter' color='primary' on-click=(perform next)}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
