<div class="uk-width-1" {{did-insert (perform this.fetchCase)}}>
  {{#if this.isLoading}}
    <div class="uk-flex uk-flex-center">
      <UkSpinner />
    </div>
  {{else}}
    <CaseDashboard::Section @sectionTitle={{t "dashboard.generalData"}}>
      <tr>
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.dossierNr"}}
          @value={{this.models.caseModel.dossierNr}}
        />
        <CaseDashboard::Column
          @header={{t "dashboard.buildingProjectStatus"}}
          @value={{this.models.caseModel.buildingProjectStatus}}
        />
      </tr>
      <tr>
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.intent"}}
          @value={{this.models.caseModel.intent}}
        />
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.lead"}}
          @value={{this.models.caseModel.authority}}
        />
      </tr>
      {{#if (can "link dossiers to instance" this.models.caseModel.instance)}}
        <tr>
          <CaseDashboard::Column @header={{t "cases.tableHeaders.linkedInstances"}} colspan="3">
            {{#if this.linkedDossiers}}
              <ul class="uk-list uk-list-collapse" {{did-insert (perform this.fetchLinkedDossiers)}}>
                {{#each this.linkedDossiers as |linkedDossier|}}
                  <li class="uk-margin-small">
                    <div class="uk-flex uk-flex-inline uk-flex-middle">
                      <a href="{{t "cases.miscellaneous.instanceLink" linkedDossierId=linkedDossier.id }}">
                        {{linkedDossier.form.name}} ({{linkedDossier.dossierNumber}})
                      </a>
                      <button
                        class="uk-button-link uk-margin-small-left uk-flex uk-flex-middle"
                        ratio="0.7"
                        uk-icon="trash"
                        type="button"
                        title={{t "cases.miscellaneous.unLinkInstance"}}
                        {{on "click" (perform this.unLinkDossier linkedDossier)}}>
                      </button>
                    </div>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
            <div>
              <Input
                @type="text"
                @value={{this.dossierNumber}}
                class="uk-input uk-form-width-medium uk-form-small"
                aria-label={{t "cases.miscellaneous.linkedInstances"}}
                placeholder={{t "cases.miscellaneous.enterDossierNumber" }}
              />
              <button
                id={{t "cases.miscellaneous.linkedInstances"}}
                class="uk-button uk-button-small uk-button-primary"
                type="button"
                title={{t "cases.miscellaneous.linkInstance"}}
                {{on "click" (perform this.linkDossier)}}
              >
                <UkIcon @icon="plus" />
              </button>
            </div>
          </CaseDashboard::Column>
        </tr>
      {{/if}}
    </CaseDashboard::Section>
    <hr />

    <CaseDashboard::Section @sectionTitle={{t "dashboard.personalData"}}>
      <tr>
        <CaseDashboard::Column @header={{t "cases.tableHeaders.applicant"}}>
          <CaseDashboard::Address @contact={{this.models.caseModel.applicant}} />
        </CaseDashboard::Column>

        {{#if this.models.caseModel.projectAuthor}}
          <CaseDashboard::Column @header={{t "dashboard.projectAuthor"}}>
            <CaseDashboard::Address
              @contact={{this.models.caseModel.projectAuthor}}
            />
          </CaseDashboard::Column>
        {{else}}
          {{! Empty column so the spacing is correct}}
          <CaseDashboard::Column />
        {{/if}}
      </tr>
      <tr>
        {{#if this.models.caseModel.landowner}}
          <CaseDashboard::Column @header={{t "dashboard.landowner"}}>
            <CaseDashboard::Address
              @contact={{this.models.caseModel.landowner}}
            />
          </CaseDashboard::Column>
        {{else}}
          {{! Empty column so the spacing is correct}}
          <CaseDashboard::Column />
        {{/if}}
        {{#if this.models.caseModel.invoiceRecipient}}
          <CaseDashboard::Column @header={{t "dashboard.invoiceRecipient"}}>
            <CaseDashboard::Address
              @contact={{this.models.caseModel.invoiceRecipient}}
            />
          </CaseDashboard::Column>
        {{else}}
          {{! Empty column so the spacing is correct}}
          <CaseDashboard::Column />
        {{/if}}
      </tr>
    </CaseDashboard::Section>
    <hr />

    <CaseDashboard::Section @sectionTitle={{t "dashboard.editing"}}>
      <tr>
          <CaseDashboard::Column
            @header={{t "cases.tableHeaders.dossierCreated"}}
            @value={{moment-format this.models.acceptDate "DD.MM.YYYY"}}
          />
        <CaseDashboard::Column @header={{t "cases.tableHeaders.involvedServices"}}>
          <ul>
            {{#each this.models.involvedServices as |service|}}
              <li>{{service}}</li>
            {{/each}}
          </ul>
        </CaseDashboard::Column>
      </tr>

      <tr>
        {{#if (and this.isService this.models.ownActivation)}}
          <CaseDashboard::Column @header={{t "cases.tableHeaders.processingDeadline"}}
            @value={{moment-format this.models.ownActivation.deadlineDate "DD.MM.YYYY"}} />
        {{/if}}
      </tr>
    </CaseDashboard::Section>
    <hr />

    <CaseDashboard::Section @sectionTitle={{t "dashboard.location"}}>
      <tr>
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.municipality"}}
          @value={{this.models.caseModel.municipality}}
        />
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.street"}}
          @value={{this.models.caseModel.street}}
        />
      </tr>

      <tr>
        <CaseDashboard::Column @header={{t "dashboard.parcels"}}>
          <ul class="uk-list uk-list-disc uk-list-collapse">
            {{#each this.models.caseModel.parcelNumbers as |parcelNumber|}}
              <li>
                <a
                  href="https://egov.ur.ch/teraspur/cgi2TERwww.asp?usr=eigentum&pass=terintra2014&gem={{
                    this.models.caseModel.communalFederalNumber
                  }}&nr={{
                    parcelNumber
                  }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{parcelNumber}}
                </a>
              </li>
            {{/each}}
          </ul>
        </CaseDashboard::Column>
        <CaseDashboard::Column @header={{t "dashboard.egrid"}}>
          <ul class="uk-list uk-list-disc uk-list-collapse">
            {{#each this.models.caseModel.egridNumbers as |egridNumber|}}
              <li>
                <a
                  href="https://oereb.ur.ch/?egrid={{egridNumber}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{egridNumber}}
                </a>
              </li>
            {{/each}}
          </ul>
        </CaseDashboard::Column>
      </tr>
      <tr>
        <CaseDashboard::Column @header={{t "dashboard.basicUsage"}}>
          {{this.models.caseModel.basicUsage}}
        </CaseDashboard::Column>
        <CaseDashboard::Column @header={{t "dashboard.overlayUsage"}}>
          {{this.models.caseModel.overlayUsage}}
        </CaseDashboard::Column>
      </tr>

    </CaseDashboard::Section>
    {{#if this.models.parcelPicture}}
      <CaseDashboard::Section>
        <tr>
          <img class="uk-width-1-1" src="{{this.models.parcelPicture}}" alt={{t "cases.tableHeaders.parcelPicture"}}>
        </tr>
      </CaseDashboard::Section>
    {{/if}}

    <hr />

    <CaseDashboard::Journal @journalEntries={{this.models.journalEntries}} />
  {{/if}}
</div>
