<div class="uk-width-1" {{did-insert (perform this.initialize)}}>
  {{#if this.isLoading}}
    <div class="uk-flex uk-flex-center">
      <UkSpinner />
    </div>
  {{else}}
    <CaseDashboard::Section @sectionTitle={{t "dashboard.generalData"}}>
      <tr>
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.dossierNumber"}}
          @value={{this.models.caseModel.dossierNumber}}
        />
        <CaseDashboard::Column
          @header={{t "dashboard.buildingProjectStatus"}}
          @value={{this.models.caseModel.buildingProjectStatus}}
        />
      </tr>
      <tr>
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.intent"}}
          @value={{this.models.caseModel.intent}}
        />
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.lead"}}
          @value={{this.models.caseModel.authority}}
        />
      </tr>
      <tr>
        <CaseDashboard::Column @header={{t "cases.tableHeaders.linkedInstances"}}>
          {{#if this.currentInstance.linkedInstances}}
            <ul class="uk-list uk-list-collapse">
              {{#each this.currentInstance.linkedInstances as |linkedInstance|}}
                <li class="uk-margin-small">
                  <div class="uk-flex uk-flex-right">
                    <a class="uk-width-expand" href="/index/redirect-to-instance-resource/instance-id/{{linkedInstance.id}}">
                      {{linkedInstance.form.name}} ({{linkedInstance.dossierNumber}})
                    </a>
                    {{#if (can "link dossiers to instance" this.models.caseModel.instance)}}
                      <button
                        class="uk-button-link uk-flex"
                        ratio="0.8"
                        uk-icon="trash"
                        type="button"
                        title={{t "cases.miscellaneous.unLinkInstance"}}
                        {{on "click" (perform this.unLinkDossier linkedInstance)}}>
                      </button>
                    {{/if}}
                  </div>
                </li>
              {{/each}}
            </ul>
          {{/if}}
          {{#if (can "link dossiers to instance" this.models.caseModel.instance)}}
            <div>
              <Input
                @type="text"
                @value={{this.dossierNumber}}
                class="uk-input uk-form-width-medium uk-form-small"
                aria-label={{t "cases.miscellaneous.linkedInstances"}}
                placeholder={{t "cases.miscellaneous.enterDossierNumber" }}
              />
              <button
                id={{t "cases.miscellaneous.linkedInstances"}}
                class="uk-button uk-button-small uk-button-primary"
                type="button"
                title={{t "cases.miscellaneous.linkInstance"}}
                {{on "click" (perform this.searchAndLinkDossier)}}
              >
                <UkIcon @icon="plus" />
              </button>
            </div>
          {{/if}}
        </CaseDashboard::Column>
        <CaseDashboard::Column @header={{t "cases.tableHeaders.instancesOnSamePlot"}}>
          {{#if this.instancesOnSamePlot}}
            <ul class="uk-list uk-list-collapse">
              {{#each this.instancesOnSamePlot as |instanceOnSamePlot index|}}
                {{#if (lt index 5)}}
                  <li class="uk-margin-small">
                    <div class="uk-flex uk-flex-right">
                      <a class="uk-width-expand" href="/index/redirect-to-instance-resource/instance-id/{{instanceOnSamePlot.id}}">
                        {{instanceOnSamePlot.form.name}} ({{instanceOnSamePlot.dossierNumber}})
                      </a>
                      {{#if (can "link dossiers to instance" this.models.caseModel.instance)}}
                        <LinkInstanceButton
                          @type={{if (includes instanceOnSamePlot this.linkedAndOnSamePlot) "unlink" "link"}}
                          @onLink={{this.linkDossier}}
                          @onUnlink={{this.unLinkDossier}}
                          @instanceOnSamePlot={{instanceOnSamePlot}}
                        />
                      {{/if}}
                    </div>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
            {{#if (gte this.instancesOnSamePlot.length 5)}}
              <button
                class="uk-button uk-button-small uk-button-default"
                type="button"
                {{on "click" this.toggleModal}}>
                  {{t "cases.miscellaneous.showAll"}} ({{this.totalInstancesOnSamePlot}})
              </button>
            {{/if}}
          {{/if}}
        </CaseDashboard::Column>
      </tr>
      <tr>
        <CaseDashboard::Journal @journalEntries={{this.models.journalEntries}} @header={{t "journal.title"}} @totalJournalEntries={{this.totalJournalEntries}} @instanceId={{@instanceId}} @instanceResourceId={{this.journalInstanceResourceId}} />
      </tr>
    </CaseDashboard::Section>
    <hr />
    <CaseDashboard::Section @sectionTitle={{t "dashboard.personalData"}}>
      <tr>
        <CaseDashboard::Column @header={{t "cases.tableHeaders.applicant"}}>
          <CaseDashboard::Address @contact={{this.models.caseModel.applicant}} />
          <FurtherPeople
            @instanceId={{@instanceId}}
            @numberOfPersons={{this.models.caseModel.numberOfApplicants}}>
          </FurtherPeople>
        </CaseDashboard::Column>

        {{#if this.models.caseModel.projectAuthor}}
          <CaseDashboard::Column @header={{t "dashboard.projectAuthor"}}>
            <CaseDashboard::Address
              @contact={{this.models.caseModel.projectAuthor}}
            />
            <FurtherPeople
              @instanceId={{@instanceId}}
              @numberOfPersons={{this.models.caseModel.numberOfProjectAuthors}}>
            </FurtherPeople>
          </CaseDashboard::Column>
        {{else}}
          {{! Empty column so the spacing is correct}}
          <CaseDashboard::Column />
        {{/if}}
      </tr>
      <tr>
        {{#if this.models.caseModel.landowner}}
          <CaseDashboard::Column @header={{t "dashboard.landowner"}}>
            <CaseDashboard::Address
              @contact={{this.models.caseModel.landowner}}
            />
            <FurtherPeople
              @instanceId={{@instanceId}}
              @numberOfPersons={{this.models.caseModel.numberOfLandowners}}>
            </FurtherPeople>
          </CaseDashboard::Column>
        {{else}}
          {{! Empty column so the spacing is correct}}
          <CaseDashboard::Column />
        {{/if}}
        {{#if this.models.caseModel.invoiceRecipient}}
          <CaseDashboard::Column @header={{t "dashboard.invoiceRecipient"}}>
            <CaseDashboard::Address
              @contact={{this.models.caseModel.invoiceRecipient}}
            />
            <FurtherPeople
              @instanceId={{@instanceId}}
              @numberOfPersons={{this.models.caseModel.numberOfInvoiceRecipients}}>
            </FurtherPeople>
          </CaseDashboard::Column>
        {{else}}
          {{! Empty column so the spacing is correct}}
          <CaseDashboard::Column />
        {{/if}}
      </tr>
    </CaseDashboard::Section>
    <hr />

    <CaseDashboard::Section @sectionTitle={{t "dashboard.editing"}}>
      <tr>
          <CaseDashboard::Column
            @header={{t "cases.tableHeaders.dossierCreated"}}
            @value={{format-date this.models.acceptDate format="date"}}
          />
        <CaseDashboard::Column @header={{t "cases.tableHeaders.involvedServices"}}>
          <ul class="uk-list">
            {{#each this.models.activations as |activation|}}
              <li>
                <ActivationIndicator @activation={{activation}} />
                {{activation.service.name}}
              </li>
            {{/each}}
          </ul>
        </CaseDashboard::Column>
      </tr>

      <tr>
        {{#if (and this.isService this.models.ownActivation)}}
          <CaseDashboard::Column @header={{t "cases.tableHeaders.processingDeadline"}}
            @value={{format-date this.models.ownActivation.deadlineDate format="date"}} />
        {{/if}}
      </tr>
    </CaseDashboard::Section>
    <hr />

    <CaseDashboard::Section @sectionTitle={{t "dashboard.location"}}>
      <tr>
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.municipality"}}
          @value={{this.models.caseModel.municipality}}
        />
        <CaseDashboard::Column
          @header={{t "cases.tableHeaders.street"}}
          @value={{this.models.caseModel.street}}
        />
      </tr>

      <tr>
        <CaseDashboard::Column @header={{t "dashboard.parcels"}}>
          <ul class="uk-list uk-list-disc uk-list-collapse">
            {{#each this.models.caseModel.plotAndBuildingLawNumbers as |numbers|}}
              <li>
                <a
                  href="https://geo.ur.ch/grundbuchauskunft/?gem={{
                    this.models.caseModel.communalFederalNumber
                  }}&nr={{
                    numbers.parcel
                  }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{numbers.parcel}} {{if numbers.buildingLaw (concat '(BR ' numbers.buildingLaw ')')}}
                </a>
              </li>
            {{/each}}
          </ul>
        </CaseDashboard::Column>
        <CaseDashboard::Column @header={{t "dashboard.egrid"}}>
          <ul class="uk-list uk-list-disc uk-list-collapse">
            {{#each this.models.caseModel.egridNumbers as |egridNumber|}}
              <li>
                <a
                  href="https://oereb.ur.ch/?egrid={{egridNumber}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{egridNumber}}
                </a>
              </li>
            {{/each}}
          </ul>
        </CaseDashboard::Column>
      </tr>
      <tr>
        <CaseDashboard::Column @header={{t "dashboard.basicUsage"}}>
          {{this.models.caseModel.basicUsage}}
        </CaseDashboard::Column>
        <CaseDashboard::Column @header={{t "dashboard.overlayUsage"}}>
          {{this.models.caseModel.overlayUsage}}
        </CaseDashboard::Column>
      </tr>

    </CaseDashboard::Section>
    {{#if this.models.parcelPicture}}
      <CaseDashboard::Section>
        <tr>
          <img class="uk-width-1-1" src="{{this.models.parcelPicture}}" alt={{t "cases.tableHeaders.parcelPicture"}}>
        </tr>
      </CaseDashboard::Section>
    {{/if}}
  {{/if}}

  {{!-- render modal in if such that instances table only loads data after opening the modal --}}
  {{#if this.showModal}}
    <UkModal @dialogClass="uk-width-2xlarge" class="uk-modal-container" @visible={{true}} as |Modal|>
      <Modal.body>
        <button
          type="button"
          class="uk-modal-close-default" uk-close
          {{on "click" this.toggleModal}}>
        </button>
        <h2 class="uk-modal-title">
          {{t "cases.miscellaneous.modalTitle"}} {{this.models.caseModel.parcelNumbers}}, {{this.models.caseModel.municipality}}
        </h2>
        <LinkedInstancesTable
          @instancesOnSamePlot={{this.instancesOnSamePlot}}
          @linkedInstances={{this.currentInstance.linkedInstances}}
          @filters={{this.samePlotFilters}}
          @onLink={{this.linkDossier}}
          @onUnlink={{this.unLinkDossier}}
          @currentInstanceId={{@instanceId}}
        />
      </Modal.body>
    </UkModal>
  {{/if}}
</div>


