<ul ...attributes>
  {{#if (and @isAuthenticated (not @isPublicAccess))}}
    <li><LinkTo @route="index">{{t "global.title"}}</LinkTo></li>
    <li><LinkTo @route="instances">{{t "nav.instances"}}</LinkTo></li>
    {{#if (and (has-feature "communications.enabled") (not @isInternal))}}
      <li>
        <LinkTo @route="communications-global">
          {{t "nav.communications"}}
          <Communication::UnreadMessageBadge />
        </LinkTo>
      </li>
    {{/if}}
  {{/if}}
  {{#if
    (and
      (or @isAuthenticated (has-feature "publication.disableAuthentication"))
      @isPublicAccess
    )
  }}
    <li><LinkTo @route="public-instances">{{t
          "nav.public-instance"
        }}</LinkTo></li>
  {{/if}}
  {{#if @showFormBuilder}}
    <li><LinkTo @route="form-builder">{{t "nav.form-builder"}}</LinkTo></li>
  {{/if}}
</ul>