<ul ...attributes>
  {{#if @isAuthenticated}}
    <li><LinkTo @route="index">{{t "global.title"}}</LinkTo></li>
    <li><LinkTo @route="instances">{{t "nav.instances"}}</LinkTo></li>
    {{#if (and (has-feature "communications") (not @isInternal))}}
      <li>
        <LinkTo @route="communications-global">
          {{t "nav.communications"}}
          <Communication::UnreadMessageBadge />
        </LinkTo>
      </li>
    {{/if}}
  {{/if}}
  {{#if (or @isAuthenticated (has-feature "publication.disableAuthentication"))}}
    <li><LinkTo @route="public-instances">{{t "nav.public-instance"}}</LinkTo></li>
  {{/if}}
  {{#if @showFormBuilder}}
    <li><LinkTo @route="form-builder">{{t "nav.form-builder"}}</LinkTo></li>
  {{/if}}
</ul>