{{#if @groups.length}}
  <li>
    <a href="#">{{t "nav.group"}} <UkIcon @icon="triangle-down" /></a>
    <div uk-dropdown="mode: click;">
      <ul class="uk-nav uk-dropdown-nav">
        <li class={{unless @currentGroup "uk-active"}}>
          <a data-test-no-group href="#" {{on "click" (fn @onSelect null)}}>
            {{t "nav.applicant"}}
          </a>
        </li>
        <li class="uk-nav-divider"></li>
        {{#each @groups as |group|}}
          <li class={{if (eq group.id @currentGroup) "uk-active"}}>
            <a data-test-group={{group.id}} href="#" {{on "click" (fn @onSelect group.id)}}>
              {{group.name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </li>
{{/if}}