<div class="uk-width-1" {{did-insert (perform this.fetchCase)}}>
  {{#if this.isLoading}}
    <div class="uk-flex uk-flex-center">
      <UkSpinner />
    </div>
  {{else}}
    <table class="uk-table uk-table-justify uk-table-small unstyled">
      <tbody>
        <tr>
          <th class="uk-text-bold uk-width-1-6">
            {{t "cases.tableHeaders.dossierNr"}}
          </th>
          <td class="uk-width-1-3">
            {{this.models.caseModel.dossierNr}}
          </td>

          <th class="uk-text-bold uk-width-1-6">
            {{t "cases.tableHeaders.municipality"}}
          </th>
          <td class="uk-width-1-3">
            {{this.models.caseModel.municipality}}
          </td>
        </tr>
        <tr>
          <th class="uk-text-bold uk-width-1-6">
            {{t "cases.tableHeaders.instanceState"}}
          </th>
          <td class="uk-width-1-3">
            {{this.models.caseModel.instanceState}}
          </td>

          <th class="uk-text-bold uk-width-1-6">
            {{t "cases.tableHeaders.street"}}
          </th>
          <td class="uk-width-1-3">
            {{this.models.caseModel.street}}
          </td>
        </tr>
        <tr>
          <th class="uk-text-bold uk-width-1-6">
            {{t "cases.tableHeaders.user"}}
          </th>
          <td class="uk-width-1-3">
            {{this.models.caseModel.user}}
          </td>

          <th class="uk-text-bold uk-width-1-6">
            {{t "cases.tableHeaders.applicant"}}
          </th>
          <td class="uk-width-1-3">
            {{this.models.caseModel.applicant}}
          </td>
        </tr>

        <tr>
          <th class="uk-text-bold uk-width-1-6">
            {{t "cases.tableHeaders.submitDate"}}
          </th>
          <td class="uk-width-1-3">
            {{if
              this.models.caseModel.submitDate
              (moment-format this.models.caseModel.submitDate "DD.MM.YYYY")
              "-"
            }}
          </td>
          <th class="uk-text-bold uk-width-1-6">
            {{t "cases.tableHeaders.form"}}
          </th>
          <td class="uk-width-1-3">
            {{this.models.caseModel.form}}
          </td>
        </tr>
        <tr>
          <th class="uk-text-bold uk-width-1-6 uk-text-top">
            {{t "cases.tableHeaders.intent"}}
          </th>
          <td class="uk-width-1-3 uk-text-top" colspan="3">
            {{this.models.caseModel.intent}}
          </td>
        </tr>

        <tr>
          <th class="uk-text-bold uk-width-1-6 uk-text-top">
            {{t "journal.title"}}
          </th>
          <td class="uk-text-top" colspan="3">
            {{#each this.models.journalEntries as |journalEntry|}}
              <article
                class="uk-comment uk-comment-primary uk-border-rounded uk-margin-bottom"
              >
                <div class="uk-comment-body">
                  <p>
                    <div class="uk-flex-column">
                      <span
                        class="uk-margin-small-right uk-flex uk-flex-between"
                      >
                        <span class="uk-text-bold">
                          {{journalEntry.user.username}}
                        </span>
                        {{moment-format
                          journalEntry.creationDate
                          "HH:mm DD.MM.YY"
                        }}
                      </span>
                      <hr class="uk-margin-small-top uk-margin-small-bottom" />

                      <span class="uk-width-2-3">
                        {{journalEntry.text}}
                      </span>
                    </div>
                  </p>
                </div>
              </article>
            {{/each}}
          </td>
        </tr>
      </tbody>
    </table>
  {{/if}}
</div>
