<Notifications />

<h2>
  {{t "workItems.new"}}
</h2>

<form
  class="form work-item-form"
  {{did-insert (perform this.getData)}}
  {{on "submit" (perform this.createWorkItem)}}
>
  <label class="work-item-input">
    {{t "workItems.responsible"}}
    <PowerSelect
      @searchEnabled={{true}}
      @searchField="name"
      @renderInPlace={{true}}
      @options={{this.services}}
      @selected={{this.responsibleService}}
      @noMatchesMessage={{t "global.noMatch"}}
      @onChange={{fn (mut this.responsibleService)}} as |service|
    >
      {{service.name}}
    </PowerSelect>
  </label>
  {{#if this.selectedOwnService}}
    <label class="work-item-input">
      {{t "workItems.assignedUser"}}
      <PowerSelect
        @searchEnabled={{true}}
        @searchField="fullName"
        @renderInPlace={{true}}
        @options={{this.users}}
        @selected={{this.responsibleUser}}
        @noMatchesMessage={{t "global.noMatch"}}
        @onChange={{fn (mut this.responsibleUser)}} as |user|
      >
        {{user.fullName}}
      </PowerSelect>
    </label>
  {{/if}}
  <label class="work-item-input">
    {{t "workItems.title"}}
    <Input @type="text" @value={{mut this.workItem.title}} />
  </label>
  <label class="work-item-input">
    {{t "workItems.description"}}
    <Textarea @value={{this.workItem.description}} />
  </label>
  <label class="work-item-input">
    {{t "workItems.deadline"}}
    <PikadayInput
      class="deadline"
      @value={{this.workItem.deadline}}
      @useUTC={{true}}
      @onSelection={{this.setDeadline}}
    />
  </label>

  <div class="work-item-input">
    {{t "workItems.notifications"}}
    <label class="checkbox-label">
      <Input
        @type="checkbox"
        @checked={{mut this.workItem.notificationCompleted}}
      />
      {{t "workItems.notifyCompleted"}}
    </label>
    <label class="checkbox-label">
      <Input
        @type="checkbox"
        @checked={{mut this.workItem.notificationDeadline}}
      />
      {{t "workItems.notifyDeadline"}}
    </label>
  </div>

  <div class="buttons">
    <button class="button buttonstyle btn success" type="submit">
      {{t "global.save"}}
    </button>
  </div>
</form>