<Notifications />

<h3 class="hide-be">
  {{t "workItems.new"}}
</h3>

<form
  class="form form-edit work-item-form"
  {{did-insert (perform this.getData)}}
  {{on "submit" (perform this.createWorkItem)}}
>
  <fieldset>
    <legend class="hide-sz">
      {{t "workItems.new"}}
    </legend>

    <div class="row first">
      <div class="label">
        <label>
          {{t "workItems.responsible"}}
          <span class="mandatory">
            *
          </span>
        </label>
      </div>
      <div class="column-2">
        <PowerSelect
          @required={{true}}
          @searchEnabled={{true}}
          @searchField="name"
          @renderInPlace={{true}}
          @options={{this.services}}
          @selected={{this.responsibleService}}
          @noMatchesMessage={{t "global.noMatch"}}
          @onChange={{fn (mut this.responsibleService)}} as |service|
        >
          {{service.name}}
        </PowerSelect>
      </div>
    </div>

    {{#if this.selectedOwnService}}
      <div class="row">
        <div class="label">
          <label>
            {{t "workItems.assignedUser"}}
          </label>
        </div>
        <div class="column-2">
          <PowerSelect
            @searchEnabled={{true}}
            @searchField="fullName"
            @renderInPlace={{true}}
            @options={{this.users}}
            @selected={{this.responsibleUser}}
            @noMatchesMessage={{t "global.noMatch"}}
            @onChange={{fn (mut this.responsibleUser)}} as |user|
          >
            {{user.fullName}}
          </PowerSelect>
        </div>
      </div>
    {{/if}}

    <div class="row">
      <div class="label">
        <label for="title">
          {{t "workItems.title"}}
          <span class="mandatory">
            *
          </span>
        </label>
      </div>
      <div class="column-2">
        <Input @type="text" @value={{mut this.workItem.title}} name="title" id="title" required={{true}} />
      </div>
    </div>

    <div class="row">
      <div class="label">
        <label for="description">
          {{t "workItems.description"}}
        </label>
      </div>
      <div class="column-2">
        <Textarea @value={{this.workItem.description}} name="description" id="description" />
      </div>
    </div>

    <div class="row">
      <div class="label">
        <label>
          {{t "workItems.deadline"}}
          <span class="mandatory">
            *
          </span>
        </label>
      </div>
      <div class="column-2">
        <PikadayInput
          required={{true}}
          @value={{this.workItem.deadline}}
          @useUTC={{true}}
          @onSelection={{this.setDeadline}}
        />
      </div>
    </div>

    <div class="row">
      <div class="label">
        <label>
          {{t "workItems.notifications"}}
        </label>
      </div>
      <div class="column-2">
        <label>
          <Input
            @type="checkbox"
            @checked={{this.workItem.notificationCompleted}}
          />
          {{t "workItems.notifyCompleted"}}
        </label>
        <br />
        <label>
          <Input
            @type="checkbox"
            @checked={{this.workItem.notificationDeadline}}
          />
          {{t "workItems.notifyDeadline"}}
        </label>
      </div>
    </div>
  </fieldset>

  <div class="row buttons-container">
    <LinkTo @route="work-items.instance.index" class="button buttonstyle btn">
      {{t "global.cancel"}}
    </LinkTo>

    <button class="button buttonstyle btn success" type="submit">
      {{t "global.save"}}
    </button>
  </div>
</form>
