<Notifications />

<h2>{{t "workItem.createWorkitem"}}</h2>

<form
  {{did-insert (perform this.getData)}}
  {{on "submit" (perform this.createWorkItem)}}
  class="form work-item-form"
>
  <label class="work-item-input">
    {{t "workItem.responsible"}}
    <PowerSelect
      @searchEnabled={{true}}
      @searchField="name"
      @renderInPlace={{true}}
      @options={{this.services}}
      @selected={{this.responsibleService}}
      @noMatchesMessage={{t "global.noMatch"}}
      @onChange={{fn (mut this.responsibleService)}} as |service|
    >
      {{service.name}}
    </PowerSelect>
  </label>
  {{#if this.selectedOwnService}}
    <label class="work-item-input">
      {{t "workItem.responsiblePerson"}}
      <PowerSelect
        @searchEnabled={{true}}
        @searchField="fullName"
        @renderInPlace={{true}}
        @options={{this.users}}
        @selected={{this.responsibleUser}}
        @noMatchesMessage={{t "global.noMatch"}}
        @onChange={{fn (mut this.responsibleUser)}} as |user|
      >
        {{user.fullName}}
      </PowerSelect>
    </label>
  {{/if}}
  <label class="work-item-input">
    {{t "workItem.title"}}
    <Input @type="text" @value={{mut this.workItem.title}}/>
  </label>
  <label class="work-item-input">
    {{t "workItem.description"}}
    <Textarea @value={{this.workItem.description}}/>
  </label>
  <label class="work-item-input">
    {{t "workItem.deadline"}}
    <PikadayInput
      class="deadline"
      @value={{this.workItem.deadline}}
      @useUTC={{true}}
      @onSelection={{this.setDeadline}}
    />
  </label>

  <div class="work-item-input">
    {{t "workItem.notifications"}}
    <label class="checkbox-label">
      <Input @type="checkbox" @checked={{mut this.workItem.notificationCompleted}}/>
      {{t "workItem.notifyCompleted"}}
    </label>
    <label class="checkbox-label">
      <Input @type="checkbox" @checked={{mut this.workItem.notificationDeadline}}/>
      {{t "workItem.notifyDeadline"}}
    </label>
  </div>

  <button class="button buttonstyle btn success" type="submit">{{t "global.save"}}</button>
</form>
