<button {{on "click" this.back}} class="button btn buttonstyle" type="button">{{t "global.back"}}</button>

<h2>{{t "workItem.createWorkitem"}}</h2>

<form {{did-insert (perform this.getData)}} {{on "submit" (perform this.createWorkItem)}} class="form">
  <label class="work-item-input">
    {{t "workItem.responsible"}}
    <PowerSelectMultiple
      @searchEnabled={{true}}
      @searchField="name"
      @renderInPlace={{true}}
      @options={{this.services}}
      @selected={{this.responsibleServices}}
      @noMatchesMessage={{t "global.noMatch"}}
      @onChange={{fn (mut this.responsibleServices)}} as |responsibleService|
    >
     {{responsibleService.name}}
    </PowerSelectMultiple>
  </label>
  {{#if this.selectedOwnService}}
    <label class="work-item-input">
      {{t "workItem.responsiblePerson"}}
      <PowerSelectMultiple
        @searchEnabled={{true}}
        @searchField="fullName"
        @renderInPlace={{true}}
        @options={{this.ownServiceUsers}}
        @selected={{this.responsibleUsers}}
        @noMatchesMessage={{t "global.noMatch"}}
        @onChange={{fn (mut this.responsibleUsers)}} as |responsibleUser|
      >
        {{responsibleUser.fullName}}
      </PowerSelectMultiple>
    </label>
  {{/if}}
  <label class="work-item-input">
    {{t "workItem.title"}}
    <Input @type="text" @value={{mut this.title}}/>
  </label>
  <label class="work-item-input">
    {{t "workItem.description"}}
    <Textarea @value={{mut this.description}}/>
  </label>
  <label class="work-item-input">
    {{t "workItem.deadline"}}
    <PikadayInput
      class="deadline"
      @value={{this.deadline}}
      @useUTC={{true}}
      @onSelection={{this.setDeadline}}
      @options={{hash i18n=this.pikadayTraslation}}
    />
  </label>

  <div class="work-item-input">
    {{t "workItem.notifications"}}
    <label class="checkbox-label">
      <Input @type="checkbox" @checked={{mut this.notificationCompleted}}/>
      {{t "workItem.notifyCompleted"}}
    </label>
    <label class="checkbox-label">
      <Input @type="checkbox" @checked={{mut this.notificationDeadline}}/>
      {{t "workItem.notifyDeadline"}}
    </label>
  </div>

  <button class="button buttonstyle btn success" type="submit">{{t "workItem.saveWorkItem"}}</button>
</form>