<div class="uk-margin">
  <LinkTo
    @route={{module-route "service-permissions" "permissions.add"}}
    class="uk-button uk-button-default"
  >
    {{t "service-permissions.permissions-add"}}
  </LinkTo>
</div>

<div class="uk-search uk-search-default uk-width-1-1">
  <span uk-search-icon></span>
  <input
    class="uk-search-input"
    type="search"
    placeholder={{t "global.search"}}
    aria-label={{t "global.search"}}
    value={{this.search}}
    {{on "input" (perform this.updateSearch)}}
  >
</div>

<table class="uk-table uk-table-striped uk-table-middle">
  <thead>
    <tr>
      <th>{{t "service-permissions.name"}}</th>
      <th>{{t "service-permissions.email"}}</th>
      <th>{{t "service-permissions.group"}}</th>
      <th>{{t "service-permissions.created-by"}}</th>
      <th>{{t "service-permissions.created-at"}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#unless this.userGroups.isResetting}}
      {{#each this.userGroups.records as |row|}}
        <tr>
          <td>{{row.user.fullName}}</td>
          <td>{{row.user.email}}</td>
          <td>{{row.group.name}}</td>
          <td>{{row.createdBy.fullName}}</td>
          <td>{{format-date row.createdAt format="date"}}</td>
          <td class="uk-text-right">
            <button
              type="button"
              class="uk-button uk-button-link"
              {{on "click" (perform this.delete row)}}
            >
              <UkIcon @icon="trash" />
            </button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="6" class="uk-text-center uk-text-italic">
            {{t "global.empty"}}
          </td>
        </tr>
      {{/each}}
    {{/unless}}
    {{#if this.userGroups.isLoading}}
      <tr>
        <td colspan="6" class="uk-text-center">
          <UkSpinner @ratio="0.7" />
        </td>
      </tr>
    {{else if this.userGroups.hasMore}}
      <tr {{in-viewport onEnter=this.updatePage}}></tr>
    {{/if}}
  </tbody>
</table>