{{#if this.fetchImport.isRunning}}
  <div uk-spinner></div>
{{else}}
  <h3
    data-test-import-detail
    class="uk-margin-small-top uk-margin-small-bottom"
  >
    {{t
      "dossierImport.detail.title"
      creationDate=(format-date this.import.createdAt format="datetime")
      user=(if this.isProd this.import.group.name this.import.user.fullName)
    }}
  </h3>
  {{#if (or this.isValidated this.isImported)}}
    <DossierImportDetailBlock @title={{t "dossierImport.detail.analysis.title"}}>
      <div>
        <DossierImportIconText
          @status={{if (eq this.import.status "failed") "error" "success"}}
          @content={{t
            (concat "dossierImport.detail.analysis.status." this.import.status)
          }}
        />
        {{#if (or this.summary.error.length this.summary.warning.length)}}
          <div class="uk-margin-small-top">
            <div class="uk-margin-small-bottom">
              {{t (concat "dossierImport.detail.analysis.issuesInfo." this.import.status)}}
            </div>
            <div class="uk-margin-small-left">
              {{#each this.summary.error as |error|}}
                <DossierImportIconText
                  class="dossier-import__margin-small"
                  @status="error"
                  @content={{error}}
                />
              {{/each}}
              {{#each this.summary.warning as |warning|}}
                <DossierImportIconText
                  class="dossier-import__margin-small"
                  @status="warning"
                  @content={{warning}}
                />
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </DossierImportDetailBlock>
    <DossierImportDetailBlock
      @title={{t "dossierImport.detail.statistics.title"}}
    >
      <div>
        {{#let this.summary.stats as |stats|}}
          {{#if (or stats.dossiers stats.attachments)}}
            <div class="uk-margin-small-bottom">
              {{t (concat "dossierImport.detail.statistics.infoSuccess." this.import.status)}}
            </div>
            <DossierImportIconText
              class={{if stats.attachments "dossier-import__margin-small"}}
              @hide={{not stats.dossiers}}
              @status="success"
              @content={{t
                "dossierImport.detail.statistics.dossiers"
                count=stats.dossiers
              }}
            />
            <DossierImportIconText
              @hide={{not stats.attachments}}
              @status="success"
              @content={{t
                "dossierImport.detail.statistics.documents"
                count=stats.attachments
              }}
            />
          {{else}}
            <div>
              {{t (concat "dossierImport.detail.statistics.infoFailure." this.import.status)}}
            </div>
          {{/if}}
        {{/let}}
      </div>
    </DossierImportDetailBlock>
  {{/if}}
  <DossierImportDetailBlock @title={{t "dossierImport.detail.status.title"}}>
    <div>
      <div class="uk-text-bold uk-margin-small">
        {{t
          (concat
            "dossierImport.imports.status." this.import.status
          )
        }}
      </div>
      <div>
        {{t
          (concat
            "dossierImport.detail.status.description." this.import.status
          )
        }}
      </div>
      {{#if this.isValidated}}
        <div>
          <span class="uk-text-bold">
            {{t "dossierImport.detail.status.draftHintBold"}}
          </span>
          <span>
            {{t "dossierImport.detail.status.draftHintDescription"}}
          </span>
        </div>
      {{/if}}
      {{#if (eq this.import.status "import-failed")}}
        <details class="uk-margin-small-top">
          <summary>{{t "dossierImport.detail.status.technicalDetails"}}</summary>
          <pre class="uk-margin-remove-top">{{this.import.messages.import.exception}}</pre>
        </details>
      {{/if}}
    </div>
  </DossierImportDetailBlock>
  {{#if (can "do something to dossier-import" this.import)}}
    <DossierImportDetailBlock @title={{t "dossierImport.detail.actions.title"}}>
      <div>
        {{#if (can "start dossier-import" this.import)}}
          <DossierImportAction
            @actionName="startImport"
            @task={{this.startImport}}
            @title={{t "dossierImport.detail.actions.startImport.title"}}
            @description={{t
              "dossierImport.detail.actions.startImport.description"
            }}
            @buttonLabel={{t
              "dossierImport.detail.actions.startImport.buttonLabel"
            }}
          />
        {{/if}}
        {{#if (can "confirm dossier-import" this.import)}}
          <DossierImportAction
            @actionName="confirmImport"
            @task={{this.confirmImport}}
            @title={{t "dossierImport.detail.actions.confirmImport.title"}}
            @description={{t
              "dossierImport.detail.actions.confirmImport.description"
            }}
            @buttonLabel={{t
              "dossierImport.detail.actions.confirmImport.buttonLabel"
            }}
          />
        {{/if}}
        {{#if (can "transmit dossier-import" this.import)}}
          <DossierImportAction
            @actionName="transmitImport"
            @task={{this.transmitImport}}
            @title={{t "dossierImport.detail.actions.transmitImport.title"}}
            @description={{t
              "dossierImport.detail.actions.transmitImport.description"
            }}
            @buttonLabel={{t
              "dossierImport.detail.actions.transmitImport.buttonLabel"
            }}
          />
        {{/if}}
        {{#if (can "undo dossier-import" this.import)}}
          <DossierImportAction
            @actionName="undoImport"
            @task={{this.undoImport}}
            @title={{t "dossierImport.detail.actions.undoImport.title"}}
            @description={{t
              "dossierImport.detail.actions.undoImport.description"
            }}
            @buttonLabel={{t
              "dossierImport.detail.actions.undoImport.buttonLabel"
            }}
          />
        {{/if}}
        {{#if (can "delete dossier-import" this.import)}}
          <DossierImportAction
            @actionName="deleteImport"
            @task={{this.deleteImport}}
            @title={{t "dossierImport.detail.actions.deleteImport.title"}}
            @description={{t
              "dossierImport.detail.actions.deleteImport.description"
            }}
            @buttonLabel={{t
              "dossierImport.detail.actions.deleteImport.buttonLabel"
            }}
          />
        {{/if}}
      </div>
    </DossierImportDetailBlock>
  {{/if}}
  <LinkTo
    data-test-imports-link
    class="uk-button uk-button-default uk-margin-bottom"
    @route="dossier-import.index"
  >
    {{t "dossierImport.detail.importsLink"}}
  </LinkTo>
{{/if}}
