{{#if this.forms.isRunning}}
  <UkFlex @horizontal="center" class="uk-padding uk-animation-fade">
    <UkSpinner @ratio={{3}} />
  </UkFlex>
{{else}}
  {{#if specialForm}}
    <h4 class="uk-text-center uk-margin-large-bottom">Um welchen Typ von {{model.form.description}} handelt es sich?</h4>

    <div class="uk-flex uk-flex-center">
      <div uk-margin class="uk-width-1-1 uk-width-1-3@s uk-flex-column">
        {{#each-in options as |name value|}}
          <div>
            {{#uk-button on-click=(action (mut specialFormType) value) color=(if (eq specialFormType value) 'secondary' 'default') width='1-1' class='uk-flex uk-flex-center uk-flex-middle uk-text-center uk-padding-remove'}}
              {{name}}
            {{/uk-button}}
          </div>
        {{/each-in}}
      </div>
    </div>
  {{else}}
    <h4 class="uk-text-center uk-margin-large-bottom">Um welche Art von Gesuch handelt es sich?</h4>

    <div uk-grid class="uk-grid-small">
      <div uk-margin class="uk-width-1-1 uk-width-1-3@s uk-flex-column">
        <h4 class="uk-text-center">
          Beratung und Vorentscheid {{camac-hint-dialog this.infoCol1 highlight=true}}
        </h4>
        <NewFormGridEntry
          @form={{find-by "name" "vorabklarung-v4" this.forms.lastSuccessful.value}}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
        <NewFormGridEntry
          @form={{find-by
            "name"
            "vorentscheid-gemass-ss84-pbg-v5"
            this.forms.lastSuccessful.value
          }}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
      </div>
      <div uk-margin class="uk-width-1-1 uk-width-1-3@s uk-flex-column">
        <h4 class="uk-text-center">
          Baubewilligung {{camac-hint-dialog this.infoCol2 highlight=true}}
        </h4>
        <NewFormGridEntry
          @form={{find-by
            "name"
            "baugesuch-reklamegesuch-v5"
            this.forms.lastSuccessful.value
          }}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
        <NewFormGridEntry
          @form={{find-by "name" "projektanderung-v6" this.forms.lastSuccessful.value}}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
        <NewFormGridEntry
          @form={{find-by
            "name"
            "technische-bewilligung-v2"
            this.forms.lastSuccessful.value
          }}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
        <NewFormGridEntry
          @form={{find-by
            "name"
            "baumeldung-fur-geringfugiges-vorhaben-v4"
            this.forms.lastSuccessful.value
          }}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
      </div>
      <div uk-margin class="uk-width-1-1 uk-width-1-3@s uk-flex-column">
        <h4 class="uk-text-center">
          Spezielle Gesuche {{camac-hint-dialog this.infoCol3 highlight=true}}
        </h4>
        <NewFormGridEntry
          @form={{find-by
            "name"
            "anlassbewilligungen-verkehrsbewilligungen-v3"
            this.forms.lastSuccessful.value
          }}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
        <NewFormGridEntry
          @form={{find-by
            "name"
            "konzession-fur-wasserentnahme-v3"
            this.forms.lastSuccessful.value
          }}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
        <NewFormGridEntry
          @form={{find-by
            "name"
            "projektgenehmigungsgesuch-gemass-ss15-strag-v3"
            this.forms.lastSuccessful.value
          }}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
        <NewFormGridEntry
          @form={{find-by
            "name"
            "plangenehmigungsgesuch-v3"
            this.forms.lastSuccessful.value
          }}
          @onSetForm={{fn (mut @model.form)}}
          @selectedForm={{@model.form}}
        />
      </div>
      {{#if (eq "municipality" this.groupData.lastSuccessful.value.role.permission)}}
        <div uk-margin class="uk-flex-center uk-width-1-1 uk-width-1-3@s uk-flex-column">
          <h4 class="uk-text-center">Interne Gesuche</h4>
          <NewFormGridEntry
            @form={{find-by "name" "geschaeftskontrolle" this.forms.lastSuccessful.value}}
            @onSetForm={{fn (mut @model.form)}}
            @selectedForm={{@model.form}}
          />
        </div>
      {{/if}}
    </div>
  {{/if}}

  <UkFlex @horizontal={{if this.specialForm 'between' 'right'}} class="uk-margin-top">
    {{#if this.specialForm}}
      <UkButton
        @disabled={{or (not @model.form.id) this.save.isRunning}}
        @color="primary"
        @on-click={{fn this.prev}}
      >
        Zurück
      </UkButton>
    {{/if}}
    <UkButton
      @disabled={{or (not @model.form.id) this.save.isRunning}}
      @loading={{this.save.isRunning}}
      @color="primary"
      @on-click={{fn this.next}}
    >
      Weiter
    </UkButton>
  </UkFlex>
{{/if}}
