{{!-- template-lint-disable no-invalid-interactive --}}
<div class="context-menu-container" {{on "mouseleave" this.handleMouseLeave}} {{on "mouseenter" this.handleMouseEnter}}>
  <button
    type="button"
    class="context-menu-trigger"
    title={{t "global.openMenu"}}
    {{on "click" (set this "menuOpen" true)}}
  >
    <span hidden>{{t "global.openMenu"}}</span>
    <FaIcon @icon="ellipsis-v" />
  </button>
  {{#if this.menuOpen}}
    <div class="context-menu">
      <ul>
        {{#each @actions as |action|}}
          <li>
            <button type="button" {{on "click" action.action}}>
              {{action.title}}
            </button>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
