{{#camac-form instance=model.instance meta=model.meta as |form|}}
  {{#form.input 'grundwasser-warmeentnahme-art'}}
    <h4>Grundwasser</h4>
  {{/form.input}}
  {{form.input 'grundwasser-verwendungszweck'}}
  {{form.input 'grundwasser-geologe'}}
  {{form.input 'grundwasser-bohrfirma'}}
  {{form.input 'grundwasser-anzahl-erdwarmesonden'}}
  {{form.input 'grundwasser-bohrtiefe'}}
  {{form.input 'grundwasser-bohrdurchmesser'}}
  {{form.input 'grundwasser-bohrverfahren'}}
  {{form.input 'grundwasser-sondenrohrdurchmesser'}}
  {{form.input 'grundwasser-sondenmaterial'}}
  {{form.input 'grundwasser-warmetragerflussigkeit'}}
  {{form.input 'grundwasser-totale-fullmenge'}}
  {{form.input 'grundwasser-anzahl-energiepfahle'}}
  {{form.input 'grundwasser-tiefe-energiepfahle'}}
  {{form.input 'grundwasser-durchmesser-energiepfahle'}}
  {{form.input 'grundwasser-anzahl-register'}}
  {{form.input 'grundwasser-verlegungstiefe'}}
  {{form.input 'grundwasser-material-der-anlage'}}
  {{form.input 'grundwasser-sondierbohrung-anzahl-bohrungen'}}
  {{form.input 'grundwasser-sondierbohrung-koordinaten'}}
  {{form.input 'grundwasser-sondierbohrung-zweck'}}
  {{form.input 'grundwasser-sondierbohrung-zweck-anderer'}}
  {{form.input 'grundwasser-sondierbohrung-tiefe'}}
  {{form.input 'grundwasser-sondierbohrung-pumpversuch'}}
  {{form.input 'grundwasser-sondierbohrung-bohrfirma'}}
  {{form.input 'grundwasser-sondierbohrung-geologe'}}
  {{form.input 'grundwasser-sondierbohrung-entsorgung'}}
  {{#form.input 'grundwasser-deponien'}}
    <h4>Deponien</h4>
  {{/form.input}}
{{/camac-form}}
