<iframe title={{t "gis.title"}} name="map" src={{this.link}}></iframe>

<div
  {{did-insert this.addMessageListener}}
  {{will-destroy this.removeMessageListener}}
  class="uk-flex uk-flex-between uk-margin-small-top"
>
  <div>
    <UkButton
      @label={{t "gis.apply-button"}}
      @on-click={{this.applySelection}}
      @loading={{or
        this.populateTable.isRunning
        this.fetchAdditionalData.isRunning
      }}
      @size="small"
    />

    <button
      type="button"
      uk-icon="warning"
      class="uk-margin-small-left"
      title={{t "gis.attention"}}
      {{on "click" (fn (mut this.showInstructions) true)}}
    >
      <span class="uk-hidden">{{t "gis.attention"}}</span>
    </button>
  </div>

  <div class="uk-text-right">
    <small class="uk-text-muted">
      {{t "gis.no-map.message"}}
      <a href={{this.link}} target="map">{{t "gis.no-map.link"}}</a>
    </small>
  </div>
</div>
{{#if this.oerebLinkData.length}}
  <div class="uk-margin-top uk-padding-small uk-box-shadow-small uk-border">
    {{t "gis.oereb"}}
    <ul class="uk-margin-remove-bottom uk-margin-small-top">
      {{#each this.oerebLinkData as |data|}}
        <li>
          <a href="https://oerebview.apps.be.ch/#!/d/{{data.egrid}}" target="_blank" rel="noopener noreferrer">{{ t "gis.parcel" }} {{data.parcel}} ({{data.egrid}})</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<UkModal @visible={{this.showInstructions}} @on-hide={{fn (mut this.showInstructions) false}} as |Modal|>
  <Modal.body>{{t "gis.info-override"}}</Modal.body>
</UkModal>

<UkModal
  @visible={{this.showConfirmation}}
  @escClose={{false}}
  @bgClose={{false}}
  @on-hide={{fn (mut this.showConfirmation) false}}
as |Modal|>
  <Modal.body>
    <h1 class="uk-modal-title">{{t "gis.additional.title"}}</h1>

    <ul class="uk-list uk-list-divider">
      {{#each this.gisData as |data|}}
        <li>
          <strong>{{data.field.question.label}}</strong><br>
          {{or data.valuePretty "-"}}
        </li>
      {{/each}}
    </ul>

    <CfField @field={{this.confirmField}} />
  </Modal.body>

  <Modal.footer class="uk-text-right">
    <UkButton
      @label={{t "gis.additional.no"}}
      @on-click={{fn (mut this.showConfirmation) false}}
    />
    <UkButton
      @color="primary"
      @label={{t "gis.additional.yes"}}
      @disabled={{this.confirmFieldUnchecked}}
      @loading={{this.saveAdditionalData.isRunning}}
      @on-click={{perform this.saveAdditionalData}}
    />
  </Modal.footer>
</UkModal>
