<iframe title={{t "gis.title"}} name="map" src={{link}}></iframe>

<div class="uk-flex uk-flex-between uk-margin-small-top">
  <div>
    <UkButton @label={{t "gis.apply-button"}} @on-click={{action "applySelection"}} @loading={{or populateFields.isRunning populateTable.isRunning fetchAdditionalData.isRunning}} @size="small" />

    <button
      type="button"
      uk-icon="warning"
      class="uk-margin-small-left"
      title={{t "gis.attention"}}
      {{action (mut showInstructions) true}}
    >
      <span class="uk-hidden">{{t "gis.attention"}}</span>
    </button>
  </div>

  <div class="uk-text-right">
    <small class="uk-text-muted">
      {{t "gis.no-map.message"}}
      <a href={{link}} target="map">{{t "gis.no-map.link"}}</a>
    </small>
  </div>
</div>

<UkModal @visible={{showInstructions}} @on-hide={{fn (mut showInstructions) false}} as |Modal|>
  <Modal.body>{{t "gis.info-override"}}</Modal.body>
</UkModal>

<UkModal
  @visible={{showConfirmation}}
  @escClose={{false}}
  @bgClose={{false}}
  @on-hide={{fn (mut showConfirmation) false}}
as |Modal|>
  <Modal.body>
    <h1 class="uk-modal-title">{{t "gis.additional.title"}}</h1>

    <ul class="uk-list uk-list-divider">
      {{#each gisData as |data|}}
        <li>
          <strong>{{data.field.question.label}}</strong><br>
          {{data.valuePretty}}
        </li>
      {{/each}}
    </ul>

    <CfField @field={{confirmField}} />
  </Modal.body>

  <Modal.footer class="uk-text-right">
    <UkButton
      @label={{t "gis.additional.no"}}
      @on-click={{fn (mut showConfirmation) false}}
    />
    <UkButton
      @color="primary"
      @label={{t "gis.additional.yes"}}
      @disabled={{confirmFieldUnchecked}}
      @loading={{saveAdditionalData.isRunning}}
      @on-click={{perform saveAdditionalData}}
    />
  </Modal.footer>
</UkModal>
