<iframe name="map" src={{link}}></iframe>

<div class="uk-flex uk-flex-between uk-margin-small-top">
  <div>
    {{uk-button
      label=(t "gis.apply-button")
      on-click=(action "applySelection")
      size="small"
    }}

    <button
      type="button"
      class="uk-icon-button"
      uk-icon="warning"
      {{action (mut informationOverride) true}}>
    </button>
  </div>

  <div class="uk-text-right">
    <small class="uk-text-muted">
      {{t "gis.no-map.message"}}
      <a href={{link}} target="map">{{t "gis.no-map.link"}}</a>
    </small>
  </div>
</div>

{{#uk-modal visible=informationOverride}}
  {{t "gis.info-override"}}
{{/uk-modal}}

{{#uk-modal visible=confirmationGis}}
  <h1 class="uk-modal-title">{{t "gis.additional.title"}}</h1>

  <ul class="uk-list uk-list-divider">
    {{#each gisData as |data|}}
      <li>
        <strong>{{data.field.question.label}}</strong><br>
        {{data.value_pretty}}
      </li>
    {{/each}}
  </ul>

  <div class="uk-text-right uk-margin-top">
    {{uk-button
      label=(t "gis.additional.no")
      on-click=(action (mut confirmationGis) false)
    }}

    {{uk-button
      label=(t "gis.additional.yes")
      color="primary"
      on-click=(action "saveAdditionalData")
    }}
  </div>
{{/uk-modal}}