<h2 class="uk-margin-remove-top">{{t "workItems.current"}}</h2>

<Filters as |Filter|>
  <Filter.RadioButtons
    @name="role"
    @label={{t "workItems.filters.role"}}
    @selected={{this.role}}
    @options={{
      array
      (hash value="active" label=(t "workItems.filters.active"))
      (hash value="control" label=(t "workItems.filters.control"))
    }}
    @onChange={{fn (mut this.role)}}
  />
  {{#if this.canCreateManualWorkItem}}
    <div class="uk-width-expand uk-flex uk-flex-right uk-flex-bottom">
      <LinkTo @route="work-items.instance.new" class="uk-button uk-button-primary">
        {{t "workItems.new"}}
      </LinkTo>
    </div>
  {{/if}}
</Filters>

<WorkItemList
  @query={{this.readyWorkItemsQuery}}
  @columns={{(array "task" "deadline" "responsible")}}
/>

<h2>{{t "workItems.finished"}}</h2>

<WorkItemList
  @query={{this.completedWorkItemsQuery}}
  @columns={{(array "task" "closedAt" "closedBy")}}
  @highlight={{false}}
/>
