<Notifications />

<h3 class="hide-be">
  {{t "workItems.current"}}
</h3>

<h2 class="hide-sz" {{did-insert (perform this.fetchManualWorkItemsCount)}}>
  {{t "workItems.current"}}
</h2>

<Filters {{did-insert (perform this.fetchWorkItems)}} as |Filter|>
  <Filter.RadioButtons
    @name="role"
    @label={{t "workItems.filters.role"}}
    @selected={{this.role}}
    @options={{
      array
      (hash value="active" label=(t "workItems.filters.active"))
      (hash value="control" label=(t "workItems.filters.control"))
    }}
    @onChange={{fn this.updateFilter "role"}}
  />
</Filters>

<WorkItemList
  @query={{this.readyWorkItemsQuery}}
  @columns={{(array "task" "deadline" "responsible")}}
/>

{{#if this.canCreateManualWorkItem}}
  <LinkTo @route="work-items.instance.new" class="button btn buttonstyle success">
    {{t "workItems.new"}}
  </LinkTo>
{{/if}}

<h3 class="hide-be">
  {{t "workItems.finished"}}
</h3>

<h2 class="hide-sz">
  {{t "workItems.finished"}}
</h2>

<WorkItemList
  @query={{this.completedWorkItemsQuery}}
  @columns={{(array "task" "closedAt" "closedBy")}}
  @highlight={{false}}
/>
