{{#unless readonly}}
  <div class="uk-alert uk-alert-danger">
    <p>
      <strong>Achtung:</strong> Nach dem Einreichen des Dossiers kann diese Auswahl <u>nicht mehr verändert</u> werden!
    </p>
  </div>

  <div class="uk-margin">
    {{#power-select
      placeholder = 'Adresse oder Grundstück suchen...'
      search      = (perform handleSearch)
      onchange    = (perform handleSearchSelection)
    as |result|}}
      {{result.properties.label}}
    {{/power-select}}
  </div>
{{/unless}}

{{#leaflet-map
  lat       = lat
  lng       = lng
  zoom      = zoom
  minZoom   = minZoom
  maxBounds = maxBounds
  onClick   = (perform handleClick)
  class     = 'uk-width-1-1 uk-height-large uk-margin'
as |map|}}
  {{map.tile url='https://wmts.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/{z}/{x}/{y}.jpeg'}}
  {{map.wms-tile
    transparent = true
    format      = 'image/png'
    version     = '1.3.0'
    layers      = layers
    url         = 'https://map.geo.sz.ch/main/wsgi/mapserv_proxy'
  }}
  {{#if (or handleClick.isRunning handleInitialSelection.isRunning submit.isRunning reset.isRunning)}}
    <div class="uk-overlay-primary uk-position-cover">
      <div class="uk-position-center">
        {{uk-spinner ratio=2}}
      </div>
    </div>
  {{/if}}
  {{#if point}}
    {{#map.marker lat=point.coordinates.lat lng=point.coordinates.lng onAdd=(perform centerLayerToPoint) as |marker|}}
      {{#unless centerLayerToPoint.last.isRunning}}
        {{#marker.popup popupOpen=true closeButton=false}}
          {{point.label}}
        {{/marker.popup}}
      {{/unless}}
    {{/map.marker}}
  {{/if}}
  {{#if feature}}
    {{map.polygon locations=feature color='blue' onAdd=(perform centerLayerToPolygon)}}
  {{/if}}
  {{#if property.polygon}}
    {{#map.polygon locations=property.polygon color='red' onAdd=(action (queue (perform centerLayerToPolygon) (perform createImage))) as |polygon|}}
      {{#unless centerLayerToPolygon.last.isRunning}}
        {{#polygon.popup popupOpen=true closeButton=false}}
          <table>
            <tr>
              <td><strong>Gemeinde:</strong></td>
              <td>{{property.municipality}}</td>
            </tr>
            <tr>
              <td><strong>Grundstücknr.:</strong></td>
              <td>{{property.number}}</td>
            </tr>
          </table>
        {{/polygon.popup}}
      {{/unless}}
    {{/map.polygon}}
  {{/if}}
{{/leaflet-map}}

{{#if showButtons}}
  <div class="uk-text-right">
    {{#uk-button on-click=(perform reset)}}Auswahl zurücksetzen{{/uk-button}}
    {{#if property}}
      {{#uk-button color='primary' disabled=submit.isRunning on-click=(perform submit)}}
        Nr. {{property.number}} (Gemeinde {{property.municipality}}) bestätigen
      {{/uk-button}}
    {{/if}}
  </div>
{{/if}}
