{{#unless readonly}}
  <div class="uk-alert uk-alert-danger">
    <p>
      <strong>Achtung:</strong> Nach dem Einreichen des Gesuchs kann diese Auswahl <u>nicht mehr ver채ndert</u> werden!
    </p>
  </div>

  <div class="uk-margin">
    {{#power-select
      placeholder = 'Adresse oder Grundst체ck suchen...'
      search      = (perform handleSearch)
      onchange    = (perform handleSearchSelection)
    as |result|}}
      {{result.properties.label}}
    {{/power-select}}
  </div>
{{/unless}}

<div class="uk-position-relative">
  {{#if (or handleClick.isRunning submit.isRunning reset.isRunning initSelection.isRunning)}}
    <div class="uk-overlay-primary uk-position-cover">
      <div class="uk-position-center">
        {{uk-spinner ratio=2}}
      </div>
    </div>
  {{/if}}

  {{#if initSelection.isRunning}}
    <div class="uk-width-1-1 uk-height-large uk-margin"></div>
  {{else}}
    {{#leaflet-map
      lat       = lat
      lng       = lng
      zoom      = zoom
      minZoom   = minZoom
      maxBounds = maxBounds
      onClick   = (perform handleClick)
      onLoad    = (perform handleLoad)
      class     = 'uk-width-1-1 uk-height-large uk-margin'
    as |map|}}
      {{map.tile url='https://wmts.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/{z}/{x}/{y}.jpeg'}}

      {{map.wms-tile
        transparent = true
        format      = 'image/png'
        version     = '1.1.1'
        layers      = layers
        url         = 'https://map.geo.sz.ch/main/wsgi/mapserv_proxy'
      }}

      {{#if _polygon}}
        {{map.polygon locations=_polygon color='transparent' onAdd=(action (queue (perform centerLayerToPolygon) (action (mut _polygon) null)))}}
      {{/if}}

      {{#if _point}}
        {{map.marker lat=_point.lat lng=_point.lng color='transparent' onAdd=(action (queue (perform centerLayerToPoint) (action (mut _point) null)))}}
      {{/if}}

      {{#each points as |point|}}
        {{map.circle location=point color='blue' radius=3}}
      {{/each}}

      {{#each parcels key='egrid' as |parcel|}}
        {{#map.polygon locations=parcel.coordinates clickable=false color='red' onAdd=(perform handleAddParcelLayer) as |polygon|}}
          {{#tooltip-layer sticky=true}}
            <strong>{{parcel.number}} {{parcel.municipality}}</strong> <i>({{parcel.egrid}})</i>
          {{/tooltip-layer}}
        {{/map.polygon}}
      {{/each}}
    {{/leaflet-map}}
  {{/if}}
</div>

{{#unless readonly}}
  <div class="uk-text-right">
    {{#if selected.parcels.length}}
      {{#uk-button on-click=(perform reset)}}Zur체cksetzen{{/uk-button}}
    {{/if}}
    {{#if parcels.length}}
      {{#uk-button on-click=(perform clear)}}Leeren{{/uk-button}}
      {{#uk-button color='primary' disabled=submit.isRunning on-click=(perform submit)}}
        Auswahl in {{parcels.firstObject.municipality}} best채tigen
      {{/uk-button}}
    {{/if}}
  </div>
{{/unless}}
