{{#unless readonly}}
  <div class="uk-alert uk-alert-danger">
    <p>
      <strong>Achtung:</strong> Nach dem Einreichen des Gesuchs kann diese Auswahl <u>nicht mehr verändert</u> werden!
    </p>
  </div>

  <div class="uk-margin">
    {{#power-select
      placeholder = 'Adresse oder Grundstück suchen...'
      search      = (perform handleSearch)
      selected    = selectedSearchResult
      allowClear  = true
      onchange    = (perform handleSearchSelection)
    as |result|}}
      {{result.properties.label}}
    {{/power-select}}
  </div>
{{/unless}}

<div class="uk-position-relative">
  {{#if (or getLayers.isRunning submit.isRunning reset.isRunning initSelection.isRunning)}}
    <div class="uk-overlay-primary uk-position-cover">
      <div class="uk-position-center">
        {{uk-spinner ratio=2}}
      </div>
    </div>
  {{/if}}

  {{#if initSelection.isRunning}}
    <div class="uk-width-1-1 uk-height-large uk-margin"></div>
  {{else}}
    {{#leaflet-map
      lat       = lat
      lng       = lng
      zoom      = zoom
      minZoom   = minZoom
      maxBounds = maxBounds
      onClick   = (perform addPoint)
      onLoad    = (perform handleLoad)
      class     = 'uk-width-1-1 uk-height-large uk-margin'
    as |map|}}
      {{map.tile url='https://wmts.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/{z}/{x}/{y}.jpeg'}}

      {{map.wms-tile
        transparent = true
        format      = 'image/png'
        version     = '1.1.1'
        layers      = layers
        url         = 'https://map.geo.sz.ch/main/wsgi/mapserv_proxy'
      }}

      {{#each parcels key='egrid' as |parcel|}}
        {{#map.polygon locations=parcel.coordinates clickable=false color='red' as |polygon|}}
          {{#tooltip-layer sticky=true}}
            <strong>{{parcel.number}} {{parcel.municipality}}</strong> <i>({{parcel.egrid}})</i>
          {{/tooltip-layer}}
        {{/map.polygon}}
      {{/each}}

      {{#each points as |point|}}
        {{map.marker lat=point.lat lng=point.lng draggable=true onDragend=(action (queue (perform updatePoint point)))}}
      {{/each}}

      {{#map.polygon locations=selectedArea color="blue" onAdd=(perform focusOnParcels)}}
        {{#tooltip-layer sticky=true}}
          Grundriss
        {{/tooltip-layer}}
      {{/map.polygon}}
    {{/leaflet-map}}
  {{/if}}
</div>

{{#unless readonly}}
  <div class="uk-text-right">
    {{#if selected.parcels.length}}
      {{#uk-button on-click=(perform reset)}}Gespeicherte Auswahl laden{{/uk-button}}
    {{/if}}
    {{#if points.length}}
      {{#uk-button on-click=(perform clear)}}Auswahl löschen{{/uk-button}}
      {{#uk-button color='secondary' on-click=(perform getLayers)}}Auswahl abfragen{{/uk-button}}
    {{/if}}
  </div>
  <div>
    {{#each affectedLayers as |layer|}}
      {{layer}}
    {{/each}}
  </div>
  <div class="uk-text-right uk-margin-top">
    {{#if parcels.length}}
      Auswahl in
      <select class="uk-select uk-form-width-medium" onchange={{perform setMunicipality value="target.value"}}>
        {{#each municipalities as |municipality|}}
          <option value="{{municipality}}">{{municipality}}</option>
        {{/each}}
      </select>
      {{#uk-button color='primary' disabled=submit.isRunning on-click=(perform submit)}}
        bestätigen
      {{/uk-button}}{{selectedMunicipality}}
    {{/if}}
  </div>
{{/unless}}
