{{#unless readonly}}
  <div class="uk-margin">
    <label class="uk-form-label uk-text-bold">
      Lokalisierung Ihres Vorhabens:
      <span class="uk-text-primary"> *</span>
      {{camac-hint-dialog "Die Lokalisierung ist ein wichtiger Schritt beim Ausfüllen des Formulars. Versuchen Sie die räumliche Ausdehnung und Lage Ihres Vorhabens treffend darzustellen. Dadurch liefert der automatisch ausgeführte Datenverschnitt die besseren Ergebnisse und kann die nötigen Fragen auslösen. Eine ungenaue Lokalisierung führt hingegen dazu, dass Informationen, Nachweise oder andere Unterlagen fehlen und während des Beurteilungsprozesses nachgefordert werden müssen. Dies hat unweigerlich eine Verlängerung des Verfahrens zur Folge. Grundvoraussetzung für eine treffende Lokalisierung ist die passende Wahl des Geometrieelements. So soll beispielsweise für eine einzelne Reklametafel das Punktelement gewählt werden. Gehört die Reklametafel jedoch zu einer geplanten Autowerkstatt, ist das Flächenelement geeignet, um Gebäude und Reklame aufzunehmen. Das Linienelement dürfte eher selten die richtige Wahl sein, weil damit nur Vorhaben lokalisiert werden können, die geradlinig, lang und schmal sind (z. B. Leitungen, Wege u. ä.)."}}
    </label>
    <p>
    Folgende Arbeitsschritte sind nötig:
    <ol class="uk-margin-top">
      <li>Grobe Eingrenzung/Suche des Standortes Ihres Vorhabens im Kartenfenster (entweder mit Suchthemen über das Eingabefeld oder direkt im Kartenfenster per Maus).</li>
      <li>
        Die räumliche Ausdehnung des Vorhabens kann über folgende Geometrieelemente festgehalten werden:
        <ol type="a">
          <li>Punktelement: für sehr kleinräumige Vorhaben kann mit einem Mausklick ein einzelner Punkt abgesetzt werden.</li>
          <li>Linienelement: für einfache Linienelemente (Geraden), die mit Anfangs - und Endpunkt (ohne Zwischenpunkte) definiert werden können.</li>
          <li>Flächenelement (Polygon): für alle Vorhaben, die nicht mit einem einzelnen Punkt oder einer Geraden lokalisiert werden können .</li>
        </ol>
      </li>
      <li>Falls nötig können die gesetzten Punkte noch verschoben werden. Danach auf „AUSWAHL ABFRAGEN“ klicken.</li>
      <li>Lokalisierung wird bestätigt durch Mausklick auf „BESTÄTIGEN“.</li>
    </ol>
    </p>
  </div>

  <div class="uk-alert uk-alert-warning">
    <p>
      <strong>Mit folgenden Themen kann gesucht werden:</strong>
      <ul>
        <li>Adresse: Strasse Hausnummer Ort</li>
        <li>Liegenschaft, Selbstrecht: Grundstücknummer Gemeindenamen</li>
        <li>Flurname: Flurname Gemeindename</li>
        <li>eidg. Grundstück-ID: EGRID</li>
        <li>Gebäudenummer: Gebäudenummer Gemeindename</li>
      </ul>
    </p>
  </div>

  <div class="uk-margin">
    {{#power-select
      placeholder = 'Adresse oder Grundstück suchen...'
      search      = (perform handleSearch)
      selected    = selectedSearchResult
      allowClear  = true
      onchange    = (perform handleSearchSelection)
    as |result|}}
      {{result.properties.label}}
    {{/power-select}}
  </div>
{{/unless}}

<div class="uk-position-relative">
  {{#if (or getLayers.isRunning submit.isRunning reset.isRunning initSelection.isRunning)}}
    <div class="uk-overlay-primary uk-position-cover">
      <div class="uk-position-center">
        {{uk-spinner ratio=2}}
      </div>
    </div>
  {{/if}}

  {{#if initSelection.isRunning}}
    <div class="uk-width-1-1 uk-height-large uk-margin"></div>
  {{else}}
    {{#leaflet-map
      crs       = crs
      lat       = lat
      lng       = lng
      zoom      = zoom
      minZoom   = minZoom
      maxZoom   = maxZoom
      onClick   = (perform addPoint)
      onLoad    = (perform handleLoad)
      class     = 'uk-width-1-1 uk-height-large uk-margin'
    as |map|}}
      {{map.tile url='https://tile0.map.geo.sz.ch/main/tiles/1.0.0/ch_sz_avg_ortsplan_farbig/default/201610/swissgrid_2056/{z}/{y}/{x}.png' zoomOffset=3}}

      {{map.wms-tile
        transparent = true
        format      = 'image/png'
        version     = '1.1.1'
        layers      = layers
        url         = 'https://map.geo.sz.ch/main/wsgi/mapserv_proxy'
      }}

      {{#each parcels key='egrid' as |parcel|}}
        {{#map.polygon locations=parcel.coordinates clickable=false color='red' as |polygon|}}
          {{#tooltip-layer sticky=true}}
            <strong>{{parcel.number}} {{parcel.municipality}}</strong> <i>({{parcel.egrid}})</i>
          {{/tooltip-layer}}
        {{/map.polygon}}
      {{/each}}

      {{#if (gt searchObject.length 2)}}
        {{map.polygon locations=searchObject color="green"}}
      {{else if searchObject}}
        {{map.circle-marker location=searchObject radius=4 color="green"}}
      {{/if}}

      {{#each points as |point|}}
        {{map.marker lat=point.lat lng=point.lng draggable=true onDragend=(action (queue (perform updatePoint point)))}}
      {{/each}}

      {{#if (eq points.length 2)}}
        {{map.polyline locations=selection color="blue"}}
      {{/if}}

      {{#if (gt points.length 2)}}
        {{#map.polygon locations=selection color="blue"}}
          {{#tooltip-layer sticky=true}}
            Grundriss
          {{/tooltip-layer}}
        {{/map.polygon}}
      {{/if}}
      {{#if parcels.length}}
        {{!--
          We misuse a hidden marker here to trigger the task "focusOnParcels" when
          everything else is loaded
        --}}
        {{map.marker opacity=0 lat=0 lng=0 onAdd=(perform focusOnParcels)}}
      {{/if}}
    {{/leaflet-map}}
  {{/if}}
</div>

{{#unless readonly}}
  <div class="uk-text-right">
    {{#if selected.parcels.length}}
      {{#uk-button on-click=(perform reset)}}Gespeicherte Auswahl laden{{/uk-button}}
    {{/if}}
    {{#if points.length}}
      {{#uk-button on-click=(perform clear)}}Auswahl löschen{{/uk-button}}
      {{#uk-button color='secondary' on-click=(perform getLayers)}}Auswahl abfragen{{/uk-button}}
    {{/if}}
  </div>
  <div class="uk-text-right uk-margin-top">
    {{#if parcels.length}}
      {{camac-hint-dialog "Falls mehrere Gemeinden betroffen sind, wählen Sie bitte jene Gemeinde aus, deren Gebiet durch Ihr Vorhaben am stärksten betroffen ist. Diese Gemeinde ist dann die Leitbehörde, welche die Koordinationsaufgaben übernimmt."}}
      Auswahl in
      <select class="uk-select uk-form-width-medium" onchange={{perform setMunicipality value="target.value"}}>
        {{#each municipalities as |municipality|}}
        <option value="{{municipality}}" selected={{eq selectedMunicipality municipality}}>{{municipality}}</option>
        {{/each}}
      </select>
      {{#uk-button color='primary' disabled=submit.isRunning on-click=(perform submit)}}
        bestätigen
      {{/uk-button}}
    {{/if}}
  </div>

  {{!-- Temporary message to show that the selected municipality is not active --}}
  {{#unless checkMunicipality}}
    <div class="uk-alert uk-alert-danger">
      Die Ausgewählte Gemeinde {{municipality}} ist noch nicht aktiv im neuen Gesuchsforumlar.
    </div>
  {{/unless}}

  {{#if parcels.length}}
    <div class="uk-margin-top">
      <p>
        Gemäss Lokalisierung betrifft Ihr Vorhaben die Grundstücknummer(n):
        <ul class="uk-list uk-margin-small-top multiple-column-list">
          {{#each parcels as |parcel|}}
          <li>{{parcel.number}} {{parcel.municipality}}</li>
          {{/each}}
        </ul>
      </p>
    </div>
  {{/if}}

  <div class="uk-alert uk-alert-danger">
    <p>
      <strong>Achtung:</strong> Nach dem Einreichen des Gesuchs kann diese Auswahl <u>nicht mehr verändert</u> werden!
    </p>
  </div>
{{/unless}}
