<div class="uk-margin">
  {{#power-select
    placeholder = 'Adresse oder Grundstück suchen...'
    search      = (perform handleSearch)
    onchange    = (perform handleSearchSelection)
  as |result|}}
    {{result.properties.label}}
  {{/power-select}}
</div>

{{#leaflet-map
  lat       = lat
  lng       = lng
  zoom      = zoom
  minZoom   = minZoom
  maxBounds = maxBounds
  onClick   = (perform handleClick)
  class     = 'uk-width-1-1 uk-height-large uk-margin'
as |map|}}
  {{map.wms-tile
    transparent = true
    format      = 'image/png'
    version     = '1.3.0'
    layers      = layers
    url         = 'https://map.geo.sz.ch/main/wsgi/mapserv_proxy'
  }}
  {{#if point}}
    {{#map.marker lat=point.coordinates.lat lng=point.coordinates.lng onAdd=(perform centerLayerToPoint) as |marker|}}
      {{#unless centerLayerToPoint.last.isRunning}}
        {{#marker.popup popupOpen=true closeButton=false}}
          {{point.label}}
        {{/marker.popup}}
      {{/unless}}
    {{/map.marker}}
  {{/if}}
  {{#if feature}}
    {{map.polygon locations=feature color='blue' onAdd=(perform centerLayerToPolygon)}}
  {{/if}}
  {{#if property.polygon}}
    {{#map.polygon locations=property.polygon color='red' onAdd=(perform centerLayerToPolygon) as |polygon|}}
      {{#unless centerLayerToPolygon.last.isRunning}}
        {{#polygon.popup popupOpen=true closeButton=false}}
          <table>
            <tr>
              <td><strong>Gemeinde:</strong></td>
              <td>{{property.municipality}}</td>
            </tr>
            <tr>
              <td><strong>Grundstücknr.:</strong></td>
              <td>{{property.number}}</td>
            </tr>
          </table>
        {{/polygon.popup}}
      {{/unless}}
    {{/map.polygon}}
  {{/if}}
{{/leaflet-map}}

{{#camac-render-map
  lat    = lat
  lng    = lng
  zoom   = zoom
as |map|}}
  {{map.wms-tile
    transparent = true
    format      = 'image/png'
    version     = '1.3.0'
    layers      = layers
    opacity     = 0.5
    url         = 'https://map.geo.sz.ch/main/wsgi/mapserv_proxy'
  }}
  {{#if property}}
    {{map.polygon locations=property.polygon color='red' onAdd=(perform createImage)}}
  {{/if}}
{{/camac-render-map}}

<div class="uk-text-right">
  {{#uk-button disabled=(not (or point property feature)) on-click=(perform clear)}}Auswahl zurücksetzen{{/uk-button}}
  {{#uk-button color='primary' disabled=(not property) on-click=(perform submit)}}
    {{#if property}}
      Nr. {{property.number}} (Gemeinde {{property.municipality}}) bestätigen
    {{else}}
      Grundstück bestätigen
    {{/if}}
  {{/uk-button}}
</div>
