<h4 class="uk-text-center">
  {{t "instances.new.kind"}}
</h4>

<div uk-grid class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s uk-margin uk-margin-large-top">
  <div uk-margin>
    <h4 class="uk-text-center uk-flex uk-flex-middle uk-flex-center">{{t "instances.new.preClarification"}} {{cf-field/info text=(t "instances.new.preClarificationInfo")}}</h4>
    {{#each forms.lastSuccessful.value.column1 as |form|}}
      {{new-form-grid-entry
        form=form.slug
        label=form.name
        onSetForm=(action (mut selectedForm))
        selectedForm=selectedForm
      }}
    {{/each}}
  </div>
  <div uk-margin>
    <h4 class="uk-text-center uk-flex uk-flex-middle uk-flex-center">{{t "instances.new.application"}} {{cf-field/info text=(t "instances.new.applicationInfo")}}</h4>
    {{#each forms.lastSuccessful.value.column2 as |form|}}
      {{new-form-grid-entry
        form=form.slug
        label=form.name
        onSetForm=(action (mut selectedForm))
        selectedForm=selectedForm
      }}
    {{/each}}
  </div>
</div>

<div class="uk-text-right">
  {{#uk-button disabled=(or (not selectedForm) save.isRunning) loading=save.isRunning color="primary" on-click=(perform save)}}
    {{t "global.continue"}}
  {{/uk-button}}
</div>