<div uk-grid>
  <div class="uk-width-1-1 uk-width-1-3@m">
    <ul uk-tab class="uk-tab-left">
      {{#each this.claimTypes as |type|}}
        <li class={{if (eq type this.activeClaimType) "uk-active"}}>
          <a href="#" {{on "click" (queue (fn (mut this.activeClaimType) type) (fn (mut this.editedClaim) null))}}>
            <div class="uk-width-1-1 uk-flex-inline uk-flex-between">
              {{t (concat "claims.filter." type)}}
              {{#let (get this.claims type) as |entries|}}
                {{#if entries.length}}<UkBadge @label={{entries.length}} />{{/if}}
              {{/let}}
            </div>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="uk-width-expand" {{did-insert (perform this.fetchServices)}}>
    {{#if this.editedClaim}}
      <BeClaimsForm::edit
        @document={{this.document}}
        @form={{this.fieldset.form}}
        @claim={{this.editedClaim}}
        @tags={{this.tags}}
        @instanceId={{this.context.instanceId}}
        @onCancel={{fn this.setEditedClaim null}}
      />
    {{else}}
      <BeClaimsForm::list
        @claims={{get this.claims this.activeClaimType}}
        @editedClaim={{this.editedClaim}}
        @onEdit={{this.setEditedClaim}}
      >
        <p class="uk-text-italic">{{t (concat "claims.empty." this.activeClaimType)}}</p>
      </BeClaimsForm::list>
    {{/if}}
  </div>
</div>
