<div class="uk-inline uk-width-1-1">
  <button
    title={{t "textcomponent.title"}}
    uk-icon="icon: list"
    class="uk-form-icon uk-form-icon-flip"
    type="button"
    {{did-insert (perform this.getTextcomponents)}}
  ></button>
  <div uk-dropdown="mode: click; pos: bottom-right">
    {{#if this.getTextcomponents.isRunning}}
      <UkSpinner class="uk-animation-fade" />
    {{else}}
      <ul uk-accordion="multiple: true" class="uk-nav uk-dropdown-nav">
        {{#each-in this.textcomponents as |category textcomponentCategory|}}
          <li>
            <a class="uk-accordion-title uk-text-bold" href="#">{{category}}</a>
            <ul class="uk-accordion-content uk-margin-small-left uk-margin-small-bottom">
              {{#each textcomponentCategory as |textcomponent|}}
                <li class="uk-margin-small">
                  <a {{on "click" (fn this.applyTextcomponent textcomponent)}} href="#">
                    {{textcomponent.subject}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{else}}
          <li>{{t "global.empty"}}</li>
        {{/each-in}}
      </ul>
    {{/if}}
  </div>
  {{yield}}
</div>

