<div class="uk-text-right">
  {{this.paginationInfo}}
</div>

<table {{did-insert this.setup}}>
  <thead>
    <tr>
      {{#each this.tableHeaders as |tHeader|}}
        <th>
          {{t (concat "cases.tableHeaders." tHeader)}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each this.casesQuery.value as |node|}}
      <tr {{on "click" (fn this.redirectToCase node)}} role="link">
        {{#each this.tableHeaders as |tHeader|}}
          <td>
            {{get node tHeader}}
          </td>
        {{/each}}
      </tr>
    {{/each}}

    <tr>
      {{#if this.casesQuery.isLoading}}
        <td colspan={{this.tableHeaders.length}} class="uk-text-center">
          {{t "global.loading"}}
        </td>
      {{/if}}
      {{#if (and this.casesQuery.hasNextPage (not this.casesQuery.isLoading))}}
        <td colspan={{this.tableHeaders.length}} class="uk-text-center">
          <button {{on "click" this.loadNextPage}} type="button">
            {{t "global.loadMore"}}
          </button>
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>
<div class="uk-text-right">
  {{this.paginationInfo}}
</div>
