<CfContent
  @documentId={{this.documentId}}
  @loading={{this.publication.isRunning}}
  @disabled={{cannot "edit publication" this.publication.value}}
  @context={{hash
    instanceId=@model.instanceId
    workItemStatus=this.publication.value.status
    workItemIsPublished=this.publication.value.meta.is-published
    actionButtonOnSuccess=this.refreshNavigation
  }}
  as |content|
>
  {{#if (can "show info for publication" this.publication.value)}}
    <PublicationInfo
      @instanceId={{@model.instanceId}}
      @status={{this.publication.value.status}}
      @isPublished={{this.publication.value.meta.is-published}}
      @type={{@model.type}}
    />
  {{/if}}

  <content.form />

  {{#if (or (can "create publication" this.publication.value) (can "cancel publication" this.publication.value))}}
    <div class="uk-flex">
      {{#if (can "create publication" this.publication.value)}}
        <TaskButton
          class="uk-margin-right"
          @color="primary"
          @task={{if
            (eq @model.type "neighbors")
            "create-information-of-neighbors"
            "create-publication"
          }}
          @mutation="complete"
          @filters={{this.filters}}
          @onSuccess={{fn this.refreshNavigation true}}
          @label={{t "publication.new"}}
        />
      {{/if}}

      {{#if (can "cancel publication" this.publication.value)}}
        <UkButton
          @label={{t "global.cancel"}}
          @loading={{this.cancel.isRunning}}
          @disabled={{this.cancel.isRunning}}
          @onClick={{perform this.cancel}}
        />
      {{/if}}
    </div>
  {{/if}}
</CfContent>
