<div>
  <Textarea
    class="uk-textarea"
    @value={{@journalEntry.text}}
    rows="5"
    aria-label="{{t "journal.textareaEdit"}}"
    {{autoresize-textarea}}
    data-test-textarea
  />
  <form class="uk-flex uk-flex-between uk-form-stacked uk-margin-top">
    <div>

      <label class="uk-form-label uk-text-uppercase">{{t "journal.visibilityFor" }}</label>

        <UkToggleSwitch
          @value={{@journalEntry.visibility}}
          @onLabel={{t "journal.visibilityAuthorities"}}
          @offLabel={{t "journal.visibilityOwn"}}
          @showLabels={{true}}
          @size="small"
          title={{t "journal.visibility"}}
        />
    </div>
    <div> 
      {{#if @showCancel}}
        <UkButton
          @type="button"
          @on-click={{fn this.cancelEditEntry @journalEntry}}
        >
          {{t "global.cancel"}}
        </UkButton>
      {{/if}}
      <UkButton
        @type="button"
        @color="primary"
        @on-click={{perform this.saveEntry @journalEntry}}
        data-test-save
      >
        {{t "global.save"}}
      </UkButton>
    </div>
  </form>
</div>
