<div>
  <Textarea
    class="uk-textarea"
    @value={{@journalEntry.text}}
    rows="5"
    aria-label="{{t "journal.textareaEdit"}}"
    {{autoresize-textarea}}
    data-test-textarea
  />
  <form class="uk-flex uk-flex-between uk-form-stacked uk-margin-top">
    <UkToggleSwitch
      @value={{@journalEntry.visibility}}
      @offLabel=""
      @onLabel={{t "journal.visibleForAuthorities"}}
      @showLabels={{true}}
      @size="small"
      title={{t "journal.visibility"}}
      class="x-small"
    />
    <div>
      <UkButton
        @type="button"
        @onClick={{fn this.cancelEditEntry @journalEntry}}
      >
        {{t "global.cancel"}}
      </UkButton>
      <UkButton
        @type="button"
        @color="primary"
        @onClick={{perform this.saveEntry @journalEntry}}
        data-test-save
      >
        {{t "global.save"}}
      </UkButton>
    </div>
  </form>
</div>
