{{#unless question.hidden}}
  <div uk-grid class="uk-margin">
    {{#each (sort-by "adresse" question.model.value) as |row|}}
      <div
        data-test-gwr-building={{row.uuid}}
        role="button"
        class="pointer"
        {{on "click" (perform editRow row)}}
      >
        <UkCard @width="small" @hover={{true}} as |card|>
          <card.header class="uk-flex uk-flex-center">
            <UkIcon @icon="home" @ratio={{3}}/>
          </card.header>
          <div class="uk-text-bolder uk-text-center uk-padding-small">
            {{if row.gebaeudebezeichnung row.gebaeudebezeichnung row.adresse}}
          </div>
        </UkCard>
      </div>
    {{/each}}
    {{#unless readonly}}
      <div
        data-test-gwr-building-add
        role="button"
        class="pointer"
        {{on "click" (perform addRow)}}
      >
        <UkCard
          @width="small"
          class="uk-height-small uk-flex uk-flex-center uk-flex-middle"
          @hover={{true}} as |card|
        >
          <card.body>
            <UkIcon @icon="plus" @ratio={{2}}/>
          </card.body>
        </UkCard>
      </div>
    {{/unless}}
  </div>

  {{#if editedRow}}
    <CamacGwrBuilding
      @readonly={{readonly}}
      @isNew={{not (contains editedRow question.model.value)}}
      @parentName={{question.name}}
      @columns={{question.field.config.columns}}
      @value={{editedRow}}
      @on-save={{perform saveRow}}
      @on-close={{action (mut editedRow) null}}
      @on-delete={{perform deleteRow}}
    />
  {{/if}}

  {{camac-input-error error}}
{{/unless}}