<div class="uk-text-center">
  <DownloadInstance @instance={{@model.instance}} @group={{this.params.group}} />
  <p class="uk-text-left">
    WICHTIG: Bis die rechtlichen Grundlagen für eine rein elektronische
    Gesuchseingabe geschaffen sind,
    {{#if this.isWasserentnahmeForm}}
    muss ein vollständiges Gesuchsdossier (inkl. Gesuchsformular in Papierform)
    erstellt, unterschrieben und dem Amt für Gewässer, Abteilung Wasserbau, Bahnhofstrasse 9, Postfach 1214, 6431 Schwyz zugestellt werden.
    {{else}}
    müssen zwei vollständige Gesuchsdossiers (inkl. Gesuchsformular in Papierform)
    erstellt, unterschrieben und der Gemeinde zugestellt werden.
    Die Vorgaben des jeweiligen Baureglementes sind einzuhalten.
    {{/if}}

    {{#if this.isWasserentnahmeForm}}
      {{camac-hint-dialog "Konkrete Schritte zur Einreichung:

  1. Gesuchsformular ausfüllen, Gesuchsunterlagen hochladen
              und elektronisch einreichen. (Falls die Einreichung erfolgreich war,
              wird unter «GESUCH BEARBEITEN» das Gesuch mit einer Gesuchsnummer
              und dem neuen Status «Eingereicht» aufgelistet.)

  2. Ein vollständiges Gesuchsdossier in Papierform
              (inkl. Gesuchsformular in Papierform) erstellen und mit den
              nötigen Unterschriften versehen. (Das Papierdossier ist
              solange nötig, bis die elektronische Unterschrift im Kanton Schwyz
              rechtlich geregelt ist.)

  3. Zustellung des Dossiers an das Amt für Gewässer.
              WICHTIG: Die Leitbehörde bearbeitet Ihr Gesuch erst,
              wenn die Papierunterlagen vorliegen."}}
    {{else}}
      {{camac-hint-dialog "Konkrete Schritte zur Einreichung:

  1. Gesuchsformular ausfüllen, Gesuchsunterlagen hochladen
            und elektronisch einreichen. (Falls die Einreichung erfolgreich war,
            wird unter «GESUCH BEARBEITEN» das Gesuch mit einer Gesuchsnummer
            und dem neuen Status «Eingereicht» aufgelistet.)

  2. Zwei vollständige Gesuchsdossiers in Papierform
            (inkl. Gesuchsformular in Papierform) erstellen und mit den gemäss Baureglement
            oder sonstiger Bestimmungen nötigen Unterschriften versehen. (Die zwei Papierdossiers sind
            solange nötig, bis die elektronische Unterschrift im Kanton Schwyz
            rechtlich geregelt ist.
            Ein Dossier wird nach Abschluss des Verfahrens die Bauherrschaft
            erhalten und das zweite bleibt bei der Leitbehörde.)

  3. Zustellung der beiden Dossiers an die Leitbehörde.
            WICHTIG: Die Leitbehörde bearbeitet Ihr Gesuch erst,
            wenn die Papierunterlagen vorliegen."}}
    {{/if}}
  </p>
  <p class="uk-text-left">
    Mit Klick auf die Schaltfläche "Einreichen"...
  </p>
  <p class="uk-text-left uk-margin-left">
    ...bestätigen Sie, dass das Formular vollständig und wahrheitsgetreu ausgefüllt wurde,
    <br />
    ...wird Ihr Gesuch bei der zuständigen Behörde zur Kontrolle eingereicht,
    <br />
    ...können Sie an den Formulareinträgen keine Veränderungen mehr vornehmen.
  </p>

  <UkButton
    @size="large"
    @color="primary"
    @loading={{this.submit.isRunning}}
    @disabled={{not this.canSubmit.lastSuccessful.value}}
    @on-click={{perform this.submit}}
  >
    Einreichen
  </UkButton>

  {{! Temporary message to show that the selected municipality is not active }}
  {{#unless this.checkMunicipality}}
    <div class="uk-alert uk-alert-danger">
      Die Ausgewählte Gemeinde {{@model.instance.location.name}}
      ist noch nicht aktiv im neuen Gesuchsforumlar.
    </div>
  {{/unless}}

  {{#unless this.canSubmit.lastSuccessful.value}}
    <div class="uk-alert uk-alert-danger">
      Das Gesuch ist noch nicht vollständig ausgefüllt, oder enthält noch
      fehlerhafte Daten. Bitte überprüfen Sie Ihre Angaben und versuchen Sie
      es nochmals.
    </div>
  {{/unless}}

  <div class="uk-margin-top">
    {{#each this.errors as |error|}}
      <div class="uk-margin-small-bottom">
        {{#if error.url}}
          <a 
            href="#" 
            class="uk-link-toggle" 
            {{on "click" (fn this.linkToErrorLocation error.url)}}
          >
            <div class="uk-alert uk-alert-danger uk-link-heading">
              {{error.detail}}
            </div>
          </a>
        {{else}}
          <div class="uk-alert uk-alert-danger">
            {{error.detail}}
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>