<div class="uk-card uk-card-default uk-card-hover uk-card-small uk-width-1-1 uk-margin-bottom">
  <div class="uk-card-header uk-flex uk-flex-between">
    <span class="uk-text-bold">
      {{question.field.label}}{{#if question.field.required}} <span class="uk-text-danger">*</span>{{/if}}
    </span>
    {{camac-hint-dialog question.field.hint}}
  </div>
  <div class="uk-card-body uk-text-small uk-padding-remove">
    <table class="uk-table uk-table-divider uk-table-small uk-table-middle">
      <tbody>
        {{#each question.model as |doc|}}
          <tr>
            <td class="uk-table-expand uk-text-truncate">
              <span class="uk-link">{{doc.name}}</span>
              <div uk-drop="pos: left-center; animation: uk-animation-slide-left-small" class="uk-height-small uk-width-small uk-box-shadow-large uk-z-index">
                <div class="uk-width-1-1 uk-height-1-1 uk-cover-container">
                  {{#with doc.thumbnail.lastSuccessful.value as |thumbnail|}}
                    <img uk-cover src={{thumbnail}} alt="Dokumentenvorschau">
                  {{/with}}
                </div>
              </div>
            </td>
            <td class="uk-text-right">
              <button
                data-test-download-document
                type="button"
                uk-icon="cloud-download"
                class="uk-icon-button"
                title="Dokument herunterladen"
                {{action (perform download) doc}}
              ></button>
              <div uk-form-custom>
                <button
                  data-test-replace-document
                  type="button"
                  uk-icon="cloud-upload"
                  class="uk-icon-button"
                  title="Dokument ersetzen"
                ></button>
                <input
                  type="file"
                  accept={{mimeTypes}}
                  onchange={{action (action (perform upload) doc.name) value='target.files'}}
                >
              </div>
            </td>
          </tr>
        {{/each}}
        <tr>
          <td colspan="2" class="uk-text-center">
            <div uk-form-custom>
              <button
                data-test-upload-document
                type="button"
                uk-icon="plus"
                class="uk-icon-button"
                title="Neues Dokument hochladen"
              ></button>
              <input
                type="file"
                accept={{mimeTypes}}
                onchange={{action (action (perform upload) null) value='target.files'}}
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
