<div
  id="{{this.question.name}}"
  class="uk-card uk-card-default uk-card-hover uk-card-small uk-width-1-1 uk-margin-bottom"
>
  <div class="uk-card-header uk-flex uk-flex-between">
    <span class="uk-text-bolder">
      {{this.question.field.label}}
      {{#if this.question.field.required}}
        <span class="uk-text-danger">
          *
        </span>
      {{/if}}
    </span>
    {{#if this.question.field.hint}}
      {{camac-hint-dialog this.question.field.hint}}
    {{/if}}
  </div>
  <div class="uk-card-body uk-text-small uk-padding-remove">
    <table class="uk-table uk-table-divider uk-table-small uk-table-middle">
      <tbody>
        {{#each this.question.model as |doc|}}
          <tr>
            <td class="uk-table-expand uk-text-truncate">
              <button
                class="uk-button uk-button-link"
                title={{doc.name}}
                type="button"
                {{on "click" (perform this.download doc)}}
              >
                {{doc.name}}
              </button>
              {{#unless this.isEmbedded}}
                <div
                  uk-drop="pos: left-center; animation: uk-animation-slide-left-small"
                  class="uk-height-small uk-width-small uk-box-shadow-large uk-z-index"
                >
                  <div class="uk-width-1-1 uk-height-1-1 uk-cover-container">
                    {{#with doc.thumbnail.lastSuccessful.value as |thumbnail|}}
                      <img
                        uk-cover
                        src={{thumbnail}}
                        alt="Dokumentenvorschau"
                      />
                    {{/with}}
                  </div>
                </div>
              {{/unless}}
            </td>
            <td class="uk-text-right">
              <button
                data-test-download-document
                type="button"
                uk-icon="cloud-download"
                class="uk-icon-button"
                title="Dokument herunterladen"
                {{on "click" (perform this.download doc)}}
              ></button>
              {{#unless @readonly}}
                <div uk-form-custom>
                  <button
                    data-test-replace-document
                    type="button"
                    uk-icon="cloud-upload"
                    class="uk-icon-button"
                  ></button>
                  <input
                    type="file"
                    accept={{this.mimeTypes}}
                    title="Dokument ersetzen"
                    {{on "change" (fn (perform this.upload doc) value="target.files")}}
                  />
                </div>
              {{/unless}}
              {{#unless @readonly}}
                <button
                  data-test-delete-document
                  class="uk-icon-button confirm-delete-{{doc.id}}"
                  title="Dokument löschen"
                  uk-icon="trash"
                  uk-toggle="target: .confirm-delete-{{doc.id}}; animation: uk-animation-slide-bottom uk-animation-fast;"
                  type="button"
                ></button>
                <span
                  class="uk-text-danger confirm-delete-{{doc.id}}"
                  hidden
                >
                  Löschen?
                  <br />
                  <button
                    data-test-delete-document-confirm
                    class="uk-icon-button uk-text-danger"
                    uk-icon="check"
                    title="Ja"
                    {{on "click" (perform this.delete doc)}}
                    type="button"
                  ></button>
                  <button
                    class="uk-icon-button uk-text-danger"
                    uk-icon="close"
                    title="Nein"
                    uk-toggle="target: .confirm-delete-{{doc.id}}; animation: uk-animation-slide-bottom uk-animation-fast;"
                    type="button"
                  ></button>
                </span>
              {{/unless}}
            </td>
          </tr>
        {{/each}}
        {{#if (not @readonly)}}
          <tr>
            <td colspan="2" class="uk-text-center">
              <div uk-form-custom class="uk-width-1-1 uk-height-1-1">
                <button
                  data-test-upload-document
                  type="button"
                  uk-icon="plus"
                ></button>
                <input
                  type="file"
                  multiple="true"
                  accept={{this.mimeTypes}}
                  title="Neue Dokumente hochladen"
                  {{on "change" (fn (perform this.upload null) value="target.files")}}
                />
              </div>
            </td>
          </tr>
        {{else if (and @readonly (not this.question.model.length))}}
          <tr>
            <td colspan="2" class="uk-text-center">
              Kein Eintrag vorhanden
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>