<Notifications @style="uikit" />

<ul class="uk-nav" {{did-insert (perform this.fetchPublications)}}>
  {{#each this.publications as |publication|}}
    <li>
      <LinkTo
        @route="publication.edit"
        @model={{decode-id publication.id}}
      >
        {{#if (and publication.closedByUser (not publication.meta.is-published))}}
          {{t "publication.publicationOf"}} {{moment-format publication.createdAt "DD.MM.YYYY"}} ({{t "publication.cancelled"}})
        {{else}}
          {{t "publication.publicationOf"}} {{moment-format publication.createdAt "DD.MM.YYYY"}} ({{t (concat "publication." publication.status)}})
        {{/if}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

<hr>

{{outlet}}
