<nav class="main-navigation uk-navbar-container">
  <div class="uk-padding-small uk-padding-remove-vertical">
    <div class="uk-navbar">
      <div class="uk-navbar-left uk-flex-nowrap">
        <LinkTo @route="index" class="uk-navbar-item uk-logo">
          <img alt={{t "nav.logo"}} src={{this.logoPath}} />
          <Watermark />
        </LinkTo>
        <ul class="uk-navbar-nav uk-margin-right">
          {{#each this.resources.records as |resource|}}
            <UkSubnav::Item
              @href={{resource.link}}
              @currentWhen={{this.removeQueryParams resource.link}}
            >{{resource.name}}</UkSubnav::Item>
          {{/each}}
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">
              <div>
                <span class="uk-text-bold">{{this.session.user.fullName}}</span>
                <div
                  class="uk-navbar-subtitle"
                >{{this.session.groupModel.name}}</div>
              </div>
              <span uk-drop-parent-icon></span>
            </a>
            {{#if this.session.groups.records.length}}
              <div
                uk-dropdown
                animation="uk-animation-slide-top-small"
                duration="300"
                mode="click"
                pos="bottom-right"
                offset="-10"
                id="group-dropdown"
              >
                <ul class="uk-nav uk-dropdown-nav">
                  {{#each (sort-by "name" this.session.groups.records) as |g|}}
                    <li class={{if (eq g.id this.group.id) "uk-active"}}>
                      <a
                        data-test-group={{g.id}}
                        href="#"
                        {{on "click" (fn this.setGroup g.id)}}
                      >
                        {{g.name}}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}
          </li>
          {{#if (gt this.languages.length 1)}}
            <li>
              <a href="#">{{get this.languageNames this.session.language}}<span
                  uk-drop-parent-icon
                ></span></a>
              <div
                uk-dropdown
                animation="uk-animation-slide-top-small"
                duration="300"
                mode="click"
                pos="bottom-right"
                offset="-10"
                id="locale-dropdown"
              >
                <ul class="uk-nav uk-dropdown-nav">
                  {{#each this.languages as |lang|}}
                    <li>
                      <a href="#" {{on "click" (fn this.setLanguage lang)}}>
                        {{get this.languageNames lang}}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </li>
          {{/if}}
          <li>
            <a href="#" title={{t "nav.logout"}} {{on "click" this.logout}}>
              <UkIcon @icon="sign-out" />
              <span class="uk-hidden">
                {{t "nav.logout"}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
