<Notifications />

<form
  class="form form-edit no-dialog"
  {{on "submit" (perform this.save)}}
  {{did-insert (perform this.fetchService)}}
>
  <fieldset>
    <legend>{{t "organisation.edit"}}</legend>

    <div class="row">
      <div class="label">
        <label for="phone">
          {{t "organisation.phone"}}
        </label>
        </div>
      <div class="column-2">
        <Input
          class="text"
          @type="text"
          @value={{this.service.phone}}
          @required={{false}}
          @name="phone"
          @maxlength={{16}}
          id="phone"
        />
      </div>
    </div>

    <div class="row">
      <div class="label">
        <label for="zip">
          {{t "organisation.zip"}}
        </label>
        </div>
      <div class="column-2">
        <Input
          class="text"
          @type="number"
          @value={{this.service.zip}}
          @required={{false}}
          @name="zip"
          @minlength={{4}}
          @maxlength={{4}}
          id="zip"
        />
      </div>
    </div>

    <div class="row">
      <div class="label">
        <label for="city">
          {{t "organisation.city"}} *
        </label>
      </div>
      <div class="column-2">
        <Input
          class="text"
          @type="text"
          @value={{this.service.city}}
          @required={{true}}
          @name="city"
          id="city"
        />
      </div>
    </div>

    <div class="row">
      <div class="label">
        <label for="address">
          {{t "organisation.address"}}
        </label>
        </div>
      <div class="column-2">
        <Input
          class="text"
          @type="text"
          @value={{this.service.address}}
          @required={{false}}
          @name="address"
          id="address"
        />
      </div>
    </div>

    <div class="row">
      <div class="label">
        <label for="email">
          {{t "organisation.email"}} *
        </label>
      </div>
      <div class="column-2">
        <Input
          class="text"
          @type="email"
          @value={{this.service.email}}
          @required={{true}}
          @name="email"
          id="email"
        />
      </div>
    </div>

    <div class="row">
      <div class="label">
        <label for="website">
          {{t "organisation.website"}}
        </label>
      </div>
      <div class="column-2">
        <Input
          class="text"
          @type="url"
          @value={{this.service.website}}
          @required={{false}}
          @name="website"
          id="website"
        />
      </div>
    </div>

    <div class="row">
      <div class="label">
        <label for="notification">
          {{t "organisation.notification"}}
        </label>
      </div>
      <div class="column-2">
        <Input
          @type="checkbox"
          @checked={{this.service.notification}}
          @name="notification"
          class="uk-checkbox"
          {{on "change" (fn (mut this.service.notification) (not this.service.notification))}}
          id="notification"
        />
      </div>
    </div>
  </fieldset>

  <div class="row buttons-container">
    <button type="submit" class="buttonstyle btn success no-loading">{{t "global.save"}}</button>
  </div>
</form>
