<tr class={{this.highlightClasses}}>
  {{#if @highlight}}
    <td></td>
  {{/if}}
  {{#each @columns as |column|}}
    <td class={{column}}>
      {{#if (eq column "task")}}
        {{#if @workItem.directLink}}
          <a href="{{@workItem.directLink}}">{{@workItem.name}}</a>
        {{else}}
          {{@workItem.name}}
        {{/if}}
      {{else if (eq column "instance")}}
        {{@workItem.instanceName}}
      {{else if (eq column "deadline")}}
        <span title={{format-date @workItem.deadline day="2-digit" month="2-digit" year="numeric"}}>
          {{moment-from @workItem.deadline}}
        </span>
      {{else if (eq column "responsible")}}
        {{@workItem.responsible}}
      {{else if (eq column "closedAt")}}
        {{format-date
          @workItem.closedAt
          day="2-digit"
          month="2-digit"
          year="numeric"
          hour="2-digit"
          minute="2-digit"
          hour12=false
        }}
      {{else if (eq column "closedBy")}}
        {{if @workItem.closedByUser @workItem.closedByUser.fullName "-"}}
      {{else if (eq column "description")}}
        {{@workItem.instanceDescription}}
      {{/if}}
    </td>
  {{/each}}
  <td>
    {{#if this.actions.length}}
      <ContextMenu @actions={{this.actions}} />
    {{/if}}
  </td>
</tr>
