{{#camac-form instance=model.instance meta=model.meta as |form|}}
  {{#form.input 'kategorie-des-vorhabens'}}
    <h4>Kategorisierung des Vorhabens</h4>
  {{/form.input}}
  {{#form.input 'art-der-nutzung'}}
    <h4>Vorgesehene Nutzung</h4>
  {{/form.input}}
  {{form.input 'vorhaben-mit-baute'}}
  {{form.input 'vorhaben-mit-anlage'}}
  {{form.input 'art-der-anlage'}}
  {{form.input 'art-der-anlage-andere'}}
  {{form.input 'art-der-befestigten-flache'}}
  {{form.input 'art-der-befestigten-flache-andere'}}
  {{form.input 'zweck-der-leitungen'}}
  {{form.input 'zweck-der-leitungen-andere'}}
  {{form.input 'art-der-warmepumpe'}}
  {{#form.input 'tangiert-vorhaben-strasse'}}
    <h4>Kategorisierung des Bauvorhabens</h4>
  {{/form.input}}
  {{form.input 'pfahlfundation-vorgesehen'}}
  {{form.input 'baugrubenumschliessung-vorgesehen'}}
  {{form.input 'temporare-grundwasserabsenkung-notig'}}
  {{form.input 'anlagen-mit-erheblichen-schadstoffemissionen'}}
  {{form.input 'anlagen-mit-erheblichen-schadstoffemissionen-welche'}}
  {{form.input 'anlagen-mit-erheblichen-strahlungsemissionen'}}
  {{form.input 'anlagen-mit-erheblichen-strahlungsemissionen-welche'}}
  {{form.input 'anlagen-mit-erheblichen-larmemissionen'}}
  {{form.input 'larmbelastetes-gebiet'}}
  {{form.input 'aussenbeleuchtung'}}
  {{form.input 'wassergefahrdende-stoffe'}}
  {{form.input 'brandschutztechnisch-gefahrliche-stoffe'}}
  {{form.input 'bodenbelastungen'}}
  {{form.input 'boden-5000m2'}}
  {{form.input 'ordendliche-mindestabstande'}}
  {{form.input 'auswirkungen-auf-arbeitnehmer'}}
  {{form.input '200m3-bauabfalle'}}
  {{form.input 'alarmierungseinrichtung-tangiert'}}
  {{form.input 'lebensmittel-umgehen'}}
  {{form.input 'trinkwasser-abgeben'}}
  {{form.input 'offentlich-duschanlage-oder-bad'}}
  {{form.input 'gewerbliche-nutzflachen'}}
  {{form.input 'gewerbliche-nutzflachen-grosse'}}
  {{form.input 'hohe-der-anlage'}}
{{/camac-form}}
