{{#if (not (is-embedded))}}
  <nav class="be-navbar">
    <div class="uk-container uk-flex uk-flex-column">
      <div class="uk-width-1-1 uk-position-relative">
        <LinkTo @route="index" class="be-logo uk-link-reset">
          {{#if (is-application "be")}}
            <img
              class="uk-height-1-1"
              src="/assets/images/logo-ebau-bern-1-{{this.session.language}}.svg"
              alt={{t "global.title-be"}}
            />
          {{else if (is-application "ur")}}
            <div class="uk-flex uk-flex-between uk-height-1-1">
              <img
                class="uk-height-1-1 ur-logo"
                src="/assets/images/logo-urec.svg"
                alt={{t "global.urec"}}
              />
              <img
                class="uk-height-1-1 ur-logo"
                src="/assets/images/logo-kanton-uri.svg"
                alt={{t "global.title-ur"}}
              />
            </div>
          {{/if}}

          {{#if
            (and (not-eq this.environment "production") (is-application "be"))
          }}
            <div class="uk-margin-small-top">
              <span class="uk-text-small">
                {{t "global.versionPrefix"}}{{app-version versionOnly=true showExtended=true}}
              </span>
              <UkLabel
                @label={{this.environment}}
                class="uk-margin-small-left"
              />
            </div>
          {{/if}}
        </LinkTo>

        {{#if (and this.session.isAuthenticated this.session.isInternal (is-application "be"))}}
          <a
            href="{{this.internalLink}}"
            class="be-navbar-internal-link uk-position-center-right"
          >
            {{t "nav.internal"}}
            <UkIcon @icon="arrow-right" />
          </a>
        {{/if}}
      </div>

      <div class="uk-width-1-1 uk-flex">
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            {{! template-lint-disable no-unknown-arguments-for-builtin-components }}
            {{#if this.session.isAuthenticated}}
              <UkSubnav::Item @href="/">{{t "nav.index"}}</UkSubnav::Item>
              <UkSubnav::Item @href="/instances">{{t "nav.instances"}}</UkSubnav::Item>
              <UkSubnav::Item @href="/support">{{t "nav.support"}}</UkSubnav::Item>
            {{/if}}
            {{#if (or this.session.isAuthenticated (is-application "ur"))}}
              <UkSubnav::Item @href="/public-instances">
                {{t (concat "nav.public-instance-" (application-name))}}
              </UkSubnav::Item>
            {{/if}}
            {{#if (macroCondition (macroGetOwnConfig "features.faq"))}}
              {{#if this.session.isAuthenticated}}
                <UkSubnav::Item @href="/faq">{{t "nav.faq"}}</UkSubnav::Item>
              {{/if}}
            {{/if}}
            {{#if this.showFormBuilder}}
              <UkSubnav::Item @href="/form-builder">{{t "nav.form-builder"}}</UkSubnav::Item>
            {{/if}}
          </ul>
        </div>

        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            {{#if this.session.isAuthenticated}}
              <li {{did-insert (perform this.fetchGroups)}}>
                <a href="#">
                  {{this.session.user.value.fullName}}
                  {{#if this.group}}
                    ({{this.group.name}})
                  {{/if}}
                </a>
                {{#if this.groups.length}}
                  <div
                    uk-dropdown
                    animation="uk-animation-slide-top-small"
                    duration="300"
                    mode="click"
                    pos="bottom-right"
                  >
                    <ul class="uk-nav uk-dropdown-nav">
                      <li class={{unless this.group "uk-active"}}>
                        <a
                          data-test-no-group
                          href="#"
                          {{on "click" (fn this.setGroup null)}}
                        >
                          {{t "nav.applicant"}}
                        </a>
                      </li>
                      <li class="uk-nav-divider"></li>
                      {{#each this.groups as |g|}}
                        <li class={{if (eq g.id this.group.id) "uk-active"}}>
                          <a
                            data-test-group={{g.id}}
                            href="#"
                            {{on "click" (fn this.setGroup g.id)}}
                          >
                            {{g.name}}
                          </a>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                {{/if}}
              </li>
            {{/if}}
            {{#each this.languages as |lang|}}
              <li class={{if (eq lang this.session.language) "uk-active"}}>
                <a href="#" {{on "click" (fn this.setLanguage lang)}}>
                  {{lang}}
                </a>
              </li>
            {{/each}}
            {{#if this.session.isAuthenticated}}
              <li>
                <a href="#" title={{t "nav.logout"}} {{on "click" this.logout}}>
                  <UkIcon @icon="sign-out" />
                  <span class="uk-hidden">
                    {{t "nav.logout"}}
                  </span>
                </a>
              </li>
            {{else}}
              <li>
                <LinkTo @route="login" title={{t "nav.login"}}>
                  <UkIcon @icon="sign-in" />
                  <span class="uk-hidden">
                    {{t "nav.login"}}
                  </span>
                </LinkTo>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
{{/if}}
