{{#if this.showHint}}
  <p>
    {{t "documents.hint1"}}
    <a target="_blank" rel="noopener noreferrer" href={{t "documents.linkEarthquake"}}>{{t "documents.hintEarthquake"}}</a>
    {{t "documents.hint2"}}
    <a target="_blank" rel="noopener noreferrer" href={{t "documents.linkMunicipalityForms"}}>{{t "documents.hintMunicipalityForms"}}</a>
    {{t "documents.hint3"}}
  </p>

  <hr>
{{/if}}

{{#if this.allRequiredTags.length}}
  <p class="uk-text-bold">{{t "documents.confirm" count=this.allRequiredTags.length}}</p>

  {{#each-in this.requiredTags as |title fields|}}
    <p class="uk-margin">{{t (concat "documents.tags." title)}}</p>
    <div class="uk-margin-left">
      {{#each fields as |field|}}
        <CfField/input @field={{field}} />
      {{/each}}
    </div>
  {{/each-in}}

  <hr>
{{/if}}

<div
  uk-grid
  masonry="true"
  class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m"
  {{did-insert (perform this.fetchAttachments)}}
>
  {{#each this.buckets as |bucket|}}
    <BeDocumentBucket
      @slug={{bucket}}
      @disabled={{@disabled}}
      @deletable={{this.deletable}}
      @loading={{this.fetchAttachments.isRunning}}
      @attachments={{get this.attachments bucket}}
      @onUpload={{perform this.upload}}
      @onDelete={{perform this.delete}}
    />
  {{/each}}
</div>
