<h2>{{t "workItem.createWorkitem"}}</h2>

<form>
    <label>
        {{t "workItem.responsible"}}
        <Input/>
    </label><label>
        {{t "workItem.responsiblePerson"}}
        <Input/>
    </label>
    <label>
        {{t "workItem.title"}}
        <Input/>
    </label>
    <label>
        {{t "workItem.description"}}
        <Textarea/>
    </label>
    <label>
        {{t "workItem.deadline"}}
        <Input/>
    </label>
    {{t "workItem.notifications"}}
    <label>
        {{t "workItem.notifyCompleted"}}
        <Input/>
    </label>
    <label>
        {{t "workItem.notifyDeadline"}}
        <Input/>
    </label>

    <button type="submit">{{t "workItem.saveWorkItem"}}</button>
</form>