<div class="uk-margin">
  <label class="uk-form-label uk-text-bold">
    {{t "dms.template"}}
    <span class="uk-text-danger">*</span>
  </label>
  <div class="uk-form-controls">
    <PowerSelect
      @options={{this.templates}}
      @selected={{this.template}}
      @onChange={{fn (mut this.template)}}
      @renderInPlace={{true}}
      @searchEnabled={{true}}
      @searchField="description"
      @noMatchesMessage={{t "global.empty"}}
    as |template|>
      {{template.description}}
    </PowerSelect>
  </div>
</div>

<div class="uk-margin">
  <UkButton
    @color="primary"
    @disabled={{or this.merge.isRunning this.placeholders.isLoading (not this.template)}}
    @onClick={{perform this.merge false}}
  >
    {{t "dms.merge"}}
  </UkButton>
  {{#if (macroCondition (macroGetOwnConfig "showMergeAndSaveButton"))}}
    <UkButton
      @color="default"
      @disabled={{or this.merge.isRunning this.placeholders.isLoading (not this.template)}}
      @onClick={{perform this.merge true}}
    >
      {{t "dms.merge-and-save"}}
    </UkButton>
  {{/if}}
</div>

<Dms::Docs
  @data={{this.placeholders.value}}
  @title={{t "dms.docs.title-generate"}}
/>