{{#if (gt config.options.length this.numberOfOptions) }}
  <PowerSelect
    @searchEnabled={{true}}
    @allowClear={{true}}
    @options={{@config.options}}
    @disabled={{@readonly}}
    @selected={{@model.value}}
    @renderInPlace={{renderInPlace}}
    @onChange={{@on-change}} as |option|
  >
    {{option}}
  </PowerSelect>
{{else}}
  {{#each @config.options as |option|}}
    <label class="uk-form-label uk-margin-right">
      <input
        type="radio"
        class="uk-radio uk-margin-small-right"
        name={{this.elementId}}
        value={{option}}
        disabled={{if @readonly "disabled"}}
        checked={{eq option @model.value}}
        onchange={{fn (optional @on-change) option}}
      />
      {{option}}
    </label>
  {{/each}}
{{/if}}