<a
  href="#"
  class="uk-link-reset uk-flex uk-flex-between"
  title={{t (concat "audit." (if this.collapsed "expand" "collapse"))}}
  {{on "click" this.toggle}}
>
  <CfField::label @field={{@field}} class="pointer" />

  <UkIcon @icon={{if this.collapsed "chevron-right" "chevron-down"}} @ratio={{0.75}} />
</a>

{{#unless this.collapsed}}
  <CfField::Input::Textarea @field={{@field}} @onSave={{@onSave}} @disabled={{@disabled}} @context={{@context}}/>
{{/unless}}
