<this.snippets @disabled={{@disabled}}>
  <div class="uk-width-1-1">
    <CfField::Input::Textarea @field={{@field}} @onSave={{@onSave}} @disabled={{@disabled}} @context={{@context}}/>
  </div>
</this.snippets>

