{{#if document}}
  {{#cf-content
    documentId=(decode-id document.id)
    disabled=disabled
    context=(hash
      instanceId=document.meta.camac-instance-id
    )
  as |content|}}
    <div class="uk-text-center">
      {{be-download-pdf
        size="small"
        field=(hash
          question=(hash label="Druckansicht")
          document=content.document
        )
        context=(hash instanceId=document.meta.camac-instance-id)
      }}
    </div>
    <hr>
    {{#if (gt content.document.fieldsets.length 1)}}
      <div uk-grid>
        <div class="uk-width-1-1 uk-width-1-3@s">{{content.navigation}}</div>
        <div class="uk-width-1-1 uk-width-2-3@s">
          {{content.form}}
          <hr>
          {{content.pagination}}
        </div>
      </div>
    {{else}}
      <div class="embedded-content">{{content.form}}</div>
    {{/if}}
  {{/cf-content}}
{{/if}}