<LoadingOrNotfound
  @loading={{this.document.isRunning}}
  @hasPermission={{can "read form of instance" this.instance.value form=this.document.value.form}}
>
  {{#if (is-embedded)}}
    <CfContent
      @documentId={{decode-id this.document.value.id}}
      @disabled={{cannot "write form of instance" this.instance.value form=this.document.value.form}}
      @useAsHeading={{true}}
      @headingBaseLevel={{2}}
      @context={{hash
        instance=this.instance.value
        instanceId=this.instance.value.id
      }}
    as |content|>
      {{#if (gt content.document.fieldsets.length 1)}}
        <div uk-grid>
          <div class="uk-width-1-1 uk-width-1-3@s"><content.navigation /></div>
          <div class="uk-width-1-1 uk-width-2-3@s">
            <content.form />
            <hr>
            <content.pagination />
          </div>
        </div>
      {{else}}
        <div class="embedded-content"><content.form /></div>
      {{/if}}
    </CfContent>
  {{else}}
    <CfContent
      @documentId={{decode-id this.document.value.id}}
      @disabled={{cannot "write form of instance" this.instance.value form=this.document.value.form}}
      @useAsHeading={{true}}
      @headingBaseLevel={{2}}
      @context={{hash
        instance=this.instance.value
        instanceId=this.instance.value.id
      }}
    />
  {{/if}}
</LoadingOrNotfound>