<CfContent
  @documentId={{decode-id this.publication.document.id}}
  @disabled={{cannot "edit publication" this.publication}}
  @context={{hash
    instanceId=@model.instanceId
    workItemStatus=this.publication.status
    workItemIsPublished=this.publication.meta.is-published
    actionButtonOnSuccess=this.refreshNavigation
  }}
  as |content|
>
  <PublicationInfo
    @instanceId={{@model.instanceId}}
    @status={{this.publication.status}}
    @isPublished={{this.publication.meta.is-published}}
    @type={{@model.type}}
  />

  <content.form />

  {{#if (or (can "create publication" this.publication) (can "cancel publication" this.publication))}}
    <div class="uk-flex">
      {{#if (can "create publication" this.publication)}}
        <TaskButton
          class="uk-margin-right"
          @color="primary"
          @task={{if
            (eq @model.type "neighbors")
            "create-information-of-neighbors"
            "create-publication"
          }}
          @mutation="complete"
          @filters={{this.filters}}
          @onSuccess={{fn this.refreshNavigation true}}
          @label={{t "publication.new"}}
        />
      {{/if}}

      {{#if (can "cancel publication" this.publication)}}
        <UkButton
          @label={{t "global.cancel"}}
          @loading={{this.cancel.isRunning}}
          @disabled={{this.cancel.isRunning}}
          @onClick={{perform this.cancel}}
        />
      {{/if}}
    </div>
  {{/if}}
</CfContent>
