<h3 {{did-insert (perform this.fetchWorkItems)}}>{{this.workItem.name}}</h3>

<dl class="uk-description-list uk-description-list-divider">
  <dt>Beschreibung</dt>
  <dd>{{if this.workItem.description this.workItem.description "-"}}</dd>
  <dt>Frist</dt>
  <dd>
    {{if this.workItem.deadine 
        (format-date
          this.workItem.deadine
          day="2-digit"
          month="2-digit"
          year="numeric"
          hour="2-digit"
          minute="2-digit"
          hour12=false) 
        "-"
      }}
  </dd>
  <dt>Status</dt>
  <dd>{{this.workItem.status}}</dd>
</dl>

{{#if (eq this.workItem.task.slug "create-manual-workitems")}}
  <button
    {{on "click" (perform this.workItem.completeWorkItem)}}
    class="uk-button uk-button-primary"
    type="button"
  >Aufgabe abschliessen</button>
{{/if}}