<h3>{{@model.name}}</h3>

<dl class="uk-description-list uk-description-list-divider">
  <dt>Beschreibung</dt>
  <dd>{{if @model.description @model.description "-"}}</dd>
  <dt>Frist</dt>
  <dd>
    {{if @model.deadline
        (format-date
          @model.deadline
          day="2-digit"
          month="2-digit"
          year="numeric"
          hour="2-digit"
          minute="2-digit"
          hour12=false) 
        "-"
      }}
  </dd>
  <dt>Status</dt>
  <dd>{{@model.status}}</dd>
</dl>

{{#if (and @model.meta.is-manually-completable @model.isReady)}}
  <UkButton
    @on-click={{fn this.completeWorkItem}}
    @color="primary"
  >
    Aufgabe abschliessen
  </UkButton>
{{/if}}