<form {{on "submit" this.applyFilter}}>
  <h2>{{t "cases.filter"}}</h2>
  <div class="uk-grid uk-grid-small">
    {{#each-in this.caseFilters as |filterName filterConfig|}}
      {{#let
        (ensure-safe-component
          (concat "case-filter/" filterConfig.type)
        ) as |CaseFilterComponent|
      }}
        <CaseFilterComponent
          @filterName={{filterName}}
          @value={{get this._filter filterName}}
          @updateFilter={{fn this.updateFilter filterName}}
          @filterOptions={{filterConfig.options}}
          @valueField={{filterConfig.valueField}}
          @labelField={{filterConfig.labelField}}
          @maxDate={{get this._filter filterConfig.maxDate}}
          @minDate={{get this._filter filterConfig.minDate}}
          @showWithoutOptions={{filterConfig.showWithoutOptions}}
        />
      {{/let}}
    {{/each-in}}
  </div>
  <div class="uk-margin-small">
    <button type="submit" class="uk-button uk-button-primary">
      {{t "global.search"}}
    </button>
    <button type="button" class="uk-button uk-button-default" {{on "click" this.resetFilter}}>
      {{t "global.reset"}}
    </button>

    {{#each-in this.presets as |presetName filters|}}
      <button type="button" class="uk-button uk-button-default" {{on "click" (fn this.applyPreset filters)}}>
        {{t (concat "cases.presets." presetName)}}
      </button>
    {{/each-in}}

    {{#if (macroCondition (macroGetOwnConfig "isBE"))}}
      {{#if (can "create paper of instance")}}
        <a
          href="{{this.shoebox.content.config.portalURL}}/instances/new?group={{this.shoebox.content.groupId}}&language={{this.shoebox.content.language}}"
          class="uk-button uk-button-default uk-float-right"
        >{{t "cases.new.paper"}}</a>
      {{/if}}
    {{/if}}
  </div>
</form>

<hr>
