<div {{did-insert (perform this.fetchFilterData)}}>
  <form {{on "submit" this.applyFilter}}>
    <fieldset class="uk-grid uk-margin-small-bottom">
      <legend>
        <b>
          {{t "cases.filter"}}
        </b>
      </legend>
      {{#each this.activeCaseFilters as |filterName|}}
        {{#let (get this.caseFilters filterName) as |filterConfig|}}
          {{#let
            (component
              (concat "case-filter/" filterConfig.type)
            ) as |CaseFilterComponent|
          }}
            <CaseFilterComponent
              @filterName={{filterName}}
              @value={{get @filter filterName}}
              @updateFilter={{fn this.updateFilter filterName}}
              @filterOptions={{get this.filterData filterConfig.options}}
              @valueField={{filterConfig.valueField}}
              @labelField={{filterConfig.labelField}}
              @maxDate={{get @filter filterConfig.maxDate}}
              @minDate={{get @filter filterConfig.minDate}}
            />
          {{/let}}
        {{/let}}
      {{/each}}
    </fieldset>

    <button type="submit">
      {{t "global.search"}}
    </button>
    <button type="button" {{on "click" this.resetFilter}}>
      {{t "global.reset"}}
    </button>
  </form>
</div>
