{{#if loading}}
  <div class="uk-text-center uk-padding">
    {{uk-spinner ratio=2}}
  </div>
{{else}}
  <ul class="uk-list uk-list-divider">
    {{#each attachments as |attachment|}}
      <li>
        <div uk-grid class="uk-grid-small">
          <div class="uk-width-expand">
            <a href="#" title={{t "documents.download"}} class="uk-text-bold uk-text-link" {{action (perform attachment.download)}}>
              {{attachment.name}}
            </a>
            <span class="uk-text-meta uk-text-small">
              {{attachment.size}}
            </span>
            <br>
            <span class="uk-text-meta">
              {{t "documents.date"
                date=(moment-format attachment.date "DD.MM.YYYY")
                time=(moment-format attachment.date "HH:mm")
              }}
            </span>
          </div>
          <div class="uk-flex uk-flex-middle uk-text-meta uk-inline">
            {{#if attachment.tags.length}}
              <span class="uk-link">
                {{t "documents.showTags"}}
              </span>
              <div uk-drop="pos: bottom; animation: uk-animation-slide-top-small; delay-hide: 0;">
                <div class="uk-card uk-card-body uk-card-default uk-padding-small uk-box-shadow-medium uk-text-left uk-text-small">
                  <ul class="uk-list uk-list-bullet uk-padding-remove-left">
                    {{#each attachment.tags as |tag|}}
                      <li>{{tag}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            {{else}}
              {{t "documents.noTags"}}
            {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}