{{#if @loading}}
  <div class="uk-text-center uk-padding">
    <UkSpinner @ratio={{2}} />
  </div>
{{else}}
  <ul class="uk-list uk-list-divider uk-margin-remove-bottom">
    {{#each @attachments as |attachment|}}
      <li>
        <div uk-grid class="uk-grid-small">
          <div class="uk-width-expand">
            {{#if attachment.path}}
              <a href="#" title={{t "documents.download"}} class="uk-text-bold uk-text-link" {{on "click" (perform attachment.download)}}>
                {{attachment.name}}
              </a>
            {{else}}
              <span class="uk-text-bold">{{attachment.name}}</span>
            {{/if}}
            <span class="uk-text-meta uk-text-small">
              {{attachment.filesize}}
            </span>
            <br>
            <span class="uk-text-meta">
              {{t "documents.date"
                date=(moment-format attachment.date "DD.MM.YYYY")
                time=(moment-format attachment.date "HH:mm")
              }}
            </span>
          </div>
          {{#if @deletable}}
            <div class="uk-flex uk-flex-middle">
              <button type="button" class="uk-icon-button" uk-icon="trash" title={{t "global.delete"}} {{on "click" (fn @onDelete attachment)}}></button>
            </div>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}
