{{#if (and this.auditController.fetchAudit.isRunning (not this.auditController.fetchAudit.lastSuccessful))}}
  <div class="uk-text-center">
    <UkSpinner @ratio={{2}} />
  </div>
{{else}}
  <div class="uk-flex uk-flex-between uk-margin">
    <div class="uk-flex uk-flex-middle">
      <UkToggleSwitch
        @value={{this.showSameEbauNumber}}
        @size="small"
        @name="show-same-ebau-number"
        @onToggle={{this.toggleShowSameEbauNumber}}
        class="x-small"
      />
      <label class="uk-text-meta uk-margin-small-left" for="show-same-ebau-number">
        {{t "audit.showSameEbauNumber"}}
      </label>
    </div>

    {{#if (can "edit work item of audit" this.auditController.auditWorkItem)}}
      <div>
        <button class="uk-button uk-button-default" type="button" {{on "click" (perform this.skipAudit)}}>{{t "audit.skip"}}</button>
        <button class="uk-button uk-button-primary" type="button" {{on "click" (perform this.completeAudit)}}>{{t "audit.complete"}}</button>
      </div>
    {{/if}}
  </div>

  <AuditTable
    @audits={{this.auditController.audits}}
    @documentData={{this.auditController.documentData}}
    @workItem={{this.auditController.auditWorkItem}}
    @onRefresh={{perform this.auditController.fetchAudit}}
  />

  {{#if this.showSameEbauNumber}}
    {{#each this.auditController.auditsWithSameEbauNumber as |auditGroup|}}
      <div class="uk-margin-top">
        <strong>{{auditGroup.instanceId}} - {{auditGroup.form}}</strong>
        <hr>
        <AuditTable
          @audits={{auditGroup.audits}}
          @documentData={{this.auditController.documentData}}
          @workItem={{this.auditController.auditWorkItem}}
          @onRefresh={{perform this.auditController.fetchAudit}}
        />
      </div>
    {{/each}}
  {{/if}}
{{/if}}
