<div class="uk-margin-bottom">
  <div class="uk-text-bold uk-margin-small-bottom">
    {{@title}}
  </div>
  <div class="uk-margin-small-bottom">
    {{@description}}
  </div>
  <UkButton
    data-test-action-button={{@actionName}}
    @loading={{@task.isRunning}}
    @disabled={{@task.isRunning}}
    class="dossier-import__button"
    {{on "click" (perform @task)}}
  >
    {{@buttonLabel}}
  </UkButton>
</div>