{{#if instances.isRunning}}
  {{#uk-flex horizontal='center' class='uk-padding uk-animation-fade'}}
    {{uk-spinner ratio=3}}
  {{/uk-flex}}
{{else}}
  {{#with (reject-by 'isNew' true instances.lastSuccessful.value) as |filtered|}}
    <h1>Ihre Dossiers</h1>
    <table class="uk-table uk-table-striped uk-table-hover uk-table-responsive">
      <thead>
        <tr>
          <th>Gesuchsnummer</th>
          <th>Status</th>
          <th>Gesuchsart</th>
          <th>Gemeinde</th>
          <th>Erstelldatum</th>
        </tr>
      </thead>
      <tbody>
        {{#each filtered as |instance|}}
          <tr role="link" title="Klicken Sie um das Dossier zu bearbeiten" class="pointer" {{action 'navigate' instance on='click'}}>
            <td>
              {{instance.identifier}}
            </td>
            <td>
              {{instance.instanceState.description}}
            </td>
            <td>
              {{instance.form.description}}
            </td>
            <td>
              {{#if instance.location}}
                {{instance.location.communalFederalNumber}} - {{instance.location.name}}
              {{/if}}
            </td>
            <td>
              {{format-date instance.creationDate}}
            </td>
          </tr>
        {{/each}}
        <tr role="link" title="Klicken Sie um ein neues Dossier zu erstellen" class="pointer" {{action (transition-to 'instances.new') on='click'}}>
          <td class="uk-text-center" colspan=6>
            {{uk-icon 'plus' scale=2}}
          </td>
        </tr>
      </tbody>
    </table>
  {{^}}
    {{#uk-flex horizontal='center' vertical='middle' direction='column'}}
      <div class="uk-text-center uk-width-large">
        <object data="/assets/images/stamp-document.svg" class="uk-width-medium"></object>
        <h4 class="uk-margin-remove-top">Sie haben noch keine Dossiers!</h4>
        <p>
          Erstellen Sie jetzt schnell und bequem Ihr erstes Dossier. Sie
          können es jederzeit schliessen und problemlos ein andermal weiter
          ausfüllen.
        </p>
        {{#link-to 'instances.new' class='uk-button uk-button-primary uk-button-large'}}Dossier erstellen{{/link-to}}
      </div>
    {{/uk-flex}}
  {{/with}}
{{/if}}
