{{#if this.data.lastSuccessful}}
  {{#if (or this.identifier this.data.lastSuccessful.value this.data.isRunning)}}
    <h1>
      Ihre Gesuche
    </h1>

    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid uk-margin-remove-top">
      <label><Input @checked={{this.filterWorkItems}} @type="checkbox" class="uk-checkbox"/> Nur Dossiers mit offenen Aufgaben anzeigen</label>
      <label><Input @checked={{this.showArchived}} @type="checkbox" class="uk-checkbox"/> Nur Archivierte Dossiers anzeigen</label>
    </div>

    <div class="uk-search uk-search-default uk-width-1-1 uk-hidden@m">
      <span uk-search-icon></span>
      <input
        class="uk-search-input"
        type="search"
        placeholder="Gesuchsnummer suchen..."
        value={{this.identifier}}
        {{on "input" (fn (perform this.search) value="target.value")}}
      />
    </div>

    <table class="uk-table uk-table-striped uk-table-hover uk-table-responsive">
      <thead>
        <tr class="uk-child-width-auto">
          <th class="uk-width-expand">
            <div
              class="uk-flex-inline uk-width-1-1 uk-flex-between"
              data-toggle-search="identifier-search"
            >
              <span class="white-space-nowrap">
                Gesuchsnummer
                <CamacSortIcon
                  @key="identifier"
                  @sort={{this.sort}}
                  @on-click={{fn (mut this.sort)}}
                />
              </span>
              <div class="uk-margin-small-left">
                <a
                  uk-search-icon
                  uk-toggle="target: [data-toggle-search='identifier-search']; animation: uk-animation-slide-left-small uk-animation-fast"
                  class="uk-toggle"
                  href="#"
                >
                </a>
              </div>
            </div>
            <div
              class="uk-flex-inline uk-width-1-1 uk-flex-between"
              data-toggle-search="identifier-search"
              hidden
            >
              <input
                autofocus
                class="uk-search-input uk-width-auto uk-padding-remove"
                type="search"
                placeholder="Suchen..."
                value={{this.identifier}}
                {{on "input" (fn (perform this.search) value="target.value")}}
              />
              <a
                uk-close
                uk-toggle="target: [data-toggle-search='identifier-search']; animation: uk-animation-slide-right-small uk-animation-fast"
                class="uk-toggle uk-flex-inline uk-flex-middle"
                href="#"
                {{on "click" (fn (mut this.identifier) "")}}
              >
              </a>
            </div>
          </th>
          <th class="white-space-nowrap">
            Projektnummer
            <CamacSortIcon
              @key="projektnummer"
              @sort={{this.sort_form_field}}
              @on-click={{fn (mut this.sort_form_field)}}
            />
          </th>
          <th class="white-space-nowrap">
            Leitbehörde
            <CamacSortIcon
              @key="location__name"
              @sort={{this.sort}}
              @on-click={{fn (mut this.sort)}}
            />
          </th>
          <th class="white-space-nowrap">
            Vorhaben
            <CamacSortIcon
              @key="bezeichnung"
              @sort={{this.sort_form_field}}
              @on-click={{fn (mut this.sort_form_field)}}
            />
          </th>
          <th>
            Bauherrschaft
          </th>
          <th class="white-space-nowrap">
            Status
            <CamacSortIcon
              @key="instance_state__description"
              @sort={{this.sort}}
              @on-click={{fn (mut this.sort)}}
            />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#if this.data.isRunning}}
          <tr>
            <td class="uk-text-center" colspan="7">
              <UkSpinner />
            </td>
          </tr>
        {{else}}
          {{#each this.filteredInstances as |instance|}}
            <tr class="{{if (contains instance.id this.openWorkItemInstances) "border-left-red"}}">
              <td>
                <LinkTo
                  @route="instances.edit"
                  @model={{instance.id}}
                  @title="Klicken Sie um das Gesuch zu bearbeiten"
                >
                  {{instance.identifier}}
                </LinkTo>
              </td>
              <td>
                {{#with
                  (find-by "name" "projektnummer" instance.fields) as |field|
                }}
                  {{field.value}}
                {{/with}}
              </td>
              <td class="uk-text-nowrap">
                {{#if instance.location}}
                  {{instance.location.name}}
                {{/if}}
              </td>
              <td>
                {{#with
                  (find-by "name" "bezeichnung" instance.fields) as |field|
                }}
                  {{field.value}}
                {{/with}}
              </td>
              <td>
                {{#with
                  (find-by "name" "bauherrschaft" instance.fields) as |field|
                }}
                  {{#each (slice 0 3 field.value) as |person|}}
                    {{person.vorname}}&nbsp;{{person.name}}<br />
                  {{/each}}
                  {{#if (gt field.value.length 3)}}
                    <span title="Weitere Bauherrschaften im Gesuch zu sehen">
                      ...
                    </span>
                  {{/if}}
                {{/with}}
                {{#with
                  (find-by "name" "bauherrschaft-v2" instance.fields) as |field|
                }}
                  {{#each (slice 0 3 field.value) as |person|}}
                    {{person.vorname}}&nbsp;{{person.name}}<br />
                  {{/each}}
                  {{#if (gt field.value.length 3)}}
                    <span title="Weitere Bauherrschaften im Gesuch zu sehen">
                      ...
                    </span>
                  {{/if}}
                {{/with}}
              </td>
              <td>
                <LinkTo
                  @route="instances.edit"
                  @model={{instance.id}}
                  @title="Klicken Sie um das Gesuch zu bearbeiten"
                >
                  {{instance.instanceState.description}}
                </LinkTo>
              </td>
              <td class="uk-text-center">
                {{#unless instance.identifier}}
                  <button
                    class="uk-icon-button confirm-delete-{{instance.id}}"
                    title="Gesuch löschen"
                    uk-icon="trash"
                    uk-toggle="target: .confirm-delete-{{instance.id}}; animation: uk-animation-slide-bottom uk-animation-fast;"
                    type="button"
                  ></button>
                  <span
                    class="uk-text-danger confirm-delete-{{instance.id}}"
                    hidden
                  >
                    Löschen?
                    <br />
                    <button
                      class="uk-icon-button uk-text-danger"
                      uk-icon="check"
                      {{on "click" (fn (perform this.delete) instance)}}
                      type="button"
                    ></button>
                    <button
                      class="uk-icon-button uk-text-danger"
                      uk-icon="close"
                      uk-toggle="target: .confirm-delete-{{instance.id}}; animation: uk-animation-slide-bottom uk-animation-fast;"
                      type="button"
                    ></button>
                  </span>
                {{/unless}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td class="uk-text-center" colspan="7">
                <i>
                  Kein Gesuch mit dieser Gesuchsnummer gefunden
                </i>
              </td>
            </tr>
          {{/each}}
        {{/if}}
        <tr
          role="link"
          title="Klicken Sie um ein neues Gesuch zu erstellen"
          class="pointer"
          {{on "click" (transition-to "instances.new")}}
        >
          <td class="uk-text-center" colspan="7">
            <UkIcon @icon="plus" @scale={{2}}/>
          </td>
        </tr>
      </tbody>
    </table>
  {{else}}
    <UkFlex @horizontal="center" @vertical="middle" @direction="column">
      <div class="uk-text-center uk-width-large">
        <object
          data="/assets/images/stamp-document.svg"
          class="uk-width-medium"
          aria-label="Keine Gesuche"
        ></object>
        <h4 class="uk-margin-remove-top">
          Sie haben noch keine Gesuche!
        </h4>
        <p>
          Erstellen Sie jetzt schnell und bequem Ihr erstes Gesuch. Sie
          können es jederzeit schliessen und problemlos ein andermal weiter
          ausfüllen.
        </p>
        <LinkTo
          @route="instances.new"
          class="uk-button uk-button-primary uk-button-large"
        >
          Gesuch erstellen
        </LinkTo>
      </div>
    </UkFlex>
  {{/if}}
{{else if this.data.isRunning}}
  <UkFlex @horizontal="center" class="uk-padding uk-animation-fade">
    <UkSpinner @ratio={{3}} />
  </UkFlex>
{{/if}}