<CamacForm @instance={{@model.instance}} @meta={{@model.meta}} as |form|>
  <form.input @identifier="bezeichnung">
    <h4>
      Bezeichnung und Lokalisierung des Vorhabens
    </h4>
  </form.input>
  <form.input @identifier="projektnummer"/>
</CamacForm>

<CamacPropertySelector
  @readonly={{not (contains @model.instance.instanceState.name (array "new" "rejected"))}}
  @selected={{hash
    points=this.points.value
    parcels=this.parcels.value
    municipality=@model.instance.location.name
  }}
  @on-submit={{perform this.saveLocation}}
  @specialForm={{this.specialForm}}
/>