<h1>
  Publikationen
</h1>
<table class="uk-table uk-table-striped uk-table-hover uk-table-responsive">
  <thead>
    <tr>
      <th>
        Gesuchsnummer
      </th>
      <th>
        Beschreibung
      </th>
      <th>
        Gemeinde
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#if @publications.isRunning}}
      <tr>
        <td class="uk-text-center" colspan="5">
          <UkSpinner />
        </td>
      </tr>
    {{else}}
      {{#each @publicationList as |publication|}}
        <tr>
          <td>
            {{#if (eq publication.status "accepted")}}
              <LinkTo
                @route="instances.edit"
                @model={{publication.instance.id}}
                title="Klicken Sie um das Gesuch anzuschauen"
              >
                {{publication.instance.identifier}}
              </LinkTo>
            {{else}}
              {{publication.instance.identifier}}
            {{/if}}
          </td>
          <td>
            {{publication.description}}
          </td>
          <td>
            {{publication.instance.location.name}}
          </td>
          <td>
            {{#if (eq publication.status "pending")}}
              <span
                class="uk-icon-button"
                uk-icon="clock"
                title="Die Gemeinde bearbeitet ihre Anfrage"
              ></span>
            {{else if (eq publication.status "accepted")}}
              <button
                type="button"
                title="Klicken Sie um das Gesuch anzuschauen"
                class="uk-icon-button"
                uk-icon="file-text"
                {{on "click" (fn (perform @navigate) publication.instance)}}
              ></button>
            {{else if (eq publication.status "denied")}}
              <span
                class="uk-icon-button"
                uk-icon="minus-circle"
                title="Ihnen wurde der Zugriff verwiesen"
              ></span>
            {{else}}
              <button
                type="button"
                title="Zugriff anfordern"
                class="uk-icon-button"
                uk-icon="pull"
                onclick={{perform @requestPermission publication}}
              ></button>
            {{/if}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td class="uk-text-center" colspan="4">
            Keine laufende Publikation vorhanden
          </td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>

<div id="modal-publication" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <form {{on "submit" (perform @requestPermission)}}>
      <button type="button" class="uk-modal-close-default" uk-close></button>

      <h2 class="uk-modal-title">
        Zugriff zur Publikation anfordern
      </h2>

      <div class="uk-margin">
        <label class="uk-form-label uk-text-bolder">
          Mitteilung
        </label>
        <Textarea class="uk-textarea" />
      </div>

      <div class="uk-text-right">
        <UkButton class="uk-modal-close">
          Abbrechen
        </UkButton>
        <UkButton
          loading="@requestPermission.isRunning"
          color="primary"
          type="submit"
        >
          Anfragen
        </UkButton>
      </div>
    </form>
  </div>
</div>