<h1 {{did-insert (queue (perform this.publications))}}>
  Publikationen
</h1>
<table class="uk-table uk-table-striped uk-table-hover uk-table-responsive">
  <thead>
    <tr>
      <th>
        Gesuchsnummer
      </th>
      <th>
        Beschreibung
      </th>
      <th>
        Gemeinde
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#if this.publications.isRunning}}
      <tr>
        <td class="uk-text-center" colspan="5">
          <UkSpinner />
        </td>
      </tr>
    {{else}}
      {{#each this.publications.lastSuccessful.value as |publication|}}
        <tr>
          <td>
            <LinkTo
              @route="instances.edit"
              @model={{publication.instance.id}}
              title="Klicken Sie um das Gesuch anzuschauen"
            >
              {{publication.instance.identifier}}
            </LinkTo>
          </td>
          <td>
            {{publication.description}}
          </td>
          <td>
            {{publication.instance.location.name}}
          </td>
          <td>
            <button
              type="button"
              title="Klicken Sie um das Gesuch anzuschauen"
              class="uk-icon-button"
              uk-icon="file-text"
              {{on "click" (perform this.navigate publication.instance)}}
            ></button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td class="uk-text-center" colspan="4">
            Keine laufende Publikation vorhanden
          </td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
