{{#uk-switcher animation="uk-animation-fade" as |switcher|}}
  {{#switcher.nav type="tab" as |nav|}}
    {{#nav.component as |tab|}}
      {{#tab.item}}{{t "nav.form"}}{{/tab.item}}
      {{#tab.item}}
        {{t "nav.feedback"}}
        {{#if (and feedbackData.lastSuccessful.value.length feedbackData.isIdle)}}
          {{uk-badge label=feedbackData.lastSuccessful.value.length class="uk-margin-small-left"}}
        {{/if}}
      {{/tab.item}}
    {{/nav.component}}
  {{/switcher.nav}}

  {{#switcher.content as |content|}}
    {{#content.item}}
      {{#let data.lastSuccessful.value.firstObject.node as |case|}}
        {{#cf-content
          documentId=(decode-id case.document.id)
          disabled=(or (eq case.status "COMPLETED") isEmbedded)
          context=(hash
            caseId=case.id
            headers=headers
            instanceId=case.meta.camac-instance-id
          )
        as |content|}}
          {{#if content.rootDocument.childDocuments.length}}
            <div uk-grid>
              <div class="uk-width-1-1 uk-width-1-3@{{if isEmbedded "s" "m"}}">{{content.navigation}}</div>
              <div class="uk-width-1-1 uk-width-2-3@{{if isEmbedded "s" "m"}}">
                {{content.form}}
                <hr>
                {{content.pagination}}
              </div>
            </div>
          {{else}}
            {{content.form}}
          {{/if}}
        {{/cf-content}}
      {{/let}}
    {{/content.item}}
    {{#content.item}}
      {{#if feedbackData.lastSuccessful.value.length}}
        {{be-attachment-list loading=feedbackData.isRunning attachments=feedbackData.lastSuccessful.value}}
      {{else}}
        <div class="uk-alert">{{t "feedback.info"}}</div>
      {{/if}}
    {{/content.item}}
  {{/switcher.content}}
{{/uk-switcher}}