<LoadingOrNotfound
  @loading={{this.isLoading}}
  @hasPermission={{can "read instance" this.instance}}
>
  {{#if (not (is-embedded))}}
    <h2>
      {{or this.case.type this.case.document.form.name}}
      {{this.instance.typeDetail}}
      <span class="uk-text-light">
        ({{t "instances.instance-id"}}
        {{this.model}})
      </span>
    </h2>
  {{/if}}

  {{#if (can "read instance" this.instance)}}
    <UkTab as |Tab|>
      {{#if (not (is-embedded))}}
        <Tab.item
          @href={{concat "/instances/" @model}}
          @linkToIndex={{true}}
          as |active|
        >
          <AriaHeading @enabled={{active}}>
            {{t "nav.overview"}}
          </AriaHeading>
        </Tab.item>
      {{/if}}
      <Tab.item
        @href={{concat
          "/instances/"
          @model
          "/"
          this.instance.calumaForm
        }}
        as |active|
      >
        <AriaHeading @enabled={{active}}>
          {{this.case.document.form.name}}
        </AriaHeading>
      </Tab.item>
      {{#each (array "nfd" "sb1" "sb2") as |form|}}
        {{#if
          (can
            "read form of instance" this.instance form=(hash slug=form)
          )
        }}
          <Tab.item @href={{concat "/instances/" @model "/" form}} as |active|>
            <AriaHeading @enabled={{active}}>
              {{t (concat "instances.forms." form)}}
            </AriaHeading>
          </Tab.item>
        {{/if}}
      {{/each}}
      {{#if
        (and
          this.hasFeedbackSection
          (can "read feedback of instance" this.instance)
        )
      }}
        <Tab.item @href={{concat "/instances/" @model "/feedback"}} as |active|>
          <AriaHeading @enabled={{active}}>
            {{t "nav.feedback"}}
            {{#if this.feedback}}
              <UkBadge
                @label={{this.feedback.length}}
                class="uk-margin-small-left"
              />
            {{/if}}
          </AriaHeading>
        </Tab.item>
      {{/if}}
      {{#if (macroCondition (macroGetOwnConfig "enableCommunications"))}}
        {{#if (can "read communication of instance" this.instance)}}
          <Tab.item
            @href={{concat "/instances/" @model "/communications"}}
            as |active|
          >
            <AriaHeading @enabled={{active}}>
              {{t "nav.communications"}}
              <Communication::UnreadMessageBadge
                @instanceId={{this.model}}
                class="uk-margin-small-left"
              />
            </AriaHeading>
          </Tab.item>
        {{/if}}
      {{/if}}
      {{#if (can "read applicants of instance" this.instance)}}
        <Tab.item
          @href={{concat "/instances/" @model "/applicants"}}
          as |active|
        >
          <AriaHeading @enabled={{active}}>
            {{t "nav.applicants"}}
          </AriaHeading>
        </Tab.item>
      {{/if}}
      {{#if (macroCondition (macroGetOwnConfig "enableAdditionalDemand"))}}
        {{#if
          (and
            (not this.instance.isPaper) this.additionalDemandsCount.value.any
          )
        }}
          <Tab.item
            @href={{concat "/instances/" @model "/additional-demand"}}
            as |active|
          >
            <AriaHeading @enabled={{active}}>
              {{t "nav.additional-demand"}}
              {{#if this.additionalDemandsCount.value.ready}}
                <UkBadge
                  @label={{this.additionalDemandsCount.value.ready}}
                  class="uk-margin-small-left"
                />
              {{/if}}
            </AriaHeading>
          </Tab.item>
        {{/if}}
      {{/if}}
      {{#if (macroCondition (macroGetOwnConfig "enableInstanceSupport"))}}
        {{#if (not (is-embedded))}}
          <InstanceSupport @instance={{this.instance}} />
        {{/if}}
      {{/if}}
    </UkTab>
  {{/if}}

  {{outlet}}
</LoadingOrNotfound>