<ul class="uk-tab">
  {{#if instance.mainForm}}
    {{#link-to "instances.edit.form" instance.mainForm.slug tagName="li" activeClass="uk-active"}}
      <a href="#">
        {{instance.mainForm.name}} <span class="uk-text-meta">({{t "instances.instanceId"}} {{model}})</span>
      </a>
    {{/link-to}}
  {{/if}}

  {{#each additionalForms as |form|}}
    {{#link-to "instances.edit.form" form tagName="li" activeClass="uk-active"}}
      <a href="#">
        {{t (concat "instances.forms." form)}}
      </a>
    {{/link-to}}
  {{/each}}

  {{#unless embedded}}
    {{#link-to "instances.edit.feedback" tagName="li" activeClass="uk-active"}}
      <a href="#">
        {{t "nav.feedback"}} {{#if feedback}}{{uk-badge label=feedback.length class="uk-margin-small-left"}}{{/if}}
      </a>
    {{/link-to}}
    {{#link-to "instances.edit.applicants" tagName="li" activeClass="uk-active"}}
      <a href="#">
        {{t "nav.applicants"}}
      </a>
    {{/link-to}}
  {{/unless}}
</ul>

{{outlet}}