<LoadingOrNotfound
  @loading={{this.instance.isRunning}}
  @hasPermission={{can "read instance" this.instance.value}}
>
  {{#if (not (is-embedded))}}
    <h2>
      {{this.instance.value.mainForm.name}} {{this.instance.value.typeDetail}}
      <span class="uk-text-light">
        ({{t (concat "instances.instance-id-" (application-name))}} {{this.model}})
      </span>
    </h2>
  {{/if}}

  {{#if (can "read instance" this.instance.value)}}
    <UkTab as |Tab|>
      {{#if (not (is-embedded))}}
        <Tab.item @href={{concat "/instances/" @model}} as |active|>
          <AriaHeading @enabled={{active}}>
            {{t "nav.overview"}}
          </AriaHeading>
        </Tab.item>
      {{/if}}
      {{#if this.instance.value.mainForm}}
        <Tab.item @href={{concat "/instances/" @model "/" this.instance.value.mainForm.slug}} as |active|>
          <AriaHeading @enabled={{active}}>
            {{this.instance.value.mainForm.name}}
          </AriaHeading>
        </Tab.item>
      {{/if}}
      {{#each (array "nfd" "sb1" "sb2") as |form|}}
        {{#if (can "read form of instance" this.instance.value form=(hash slug=form))}}
          <Tab.item @href={{concat "/instances/" @model "/" form}} as |active|>
            <AriaHeading @enabled={{active}}>
              {{t (concat "instances.forms." form)}}
            </AriaHeading>
          </Tab.item>
        {{/if}}
      {{/each}}
      {{#if (can "manage applicants of instance" this.instance.value)}}
        <Tab.item @href={{concat "/instances/" @model "/applicants"}} as |active|>
          <AriaHeading @enabled={{active}}>
            {{t "nav.applicants"}}
          </AriaHeading>
        </Tab.item>
      {{/if}}
    </UkTab>
  {{/if}}

  {{outlet}}
</LoadingOrNotfound>