<h3 {{did-insert (perform this.fetchWorkItems)}}>
  {{t "workItems.edit"}}
</h3>

{{#if this.workItems.isLoading}}
  <p class="center">
    <LoadingText />
  </p>
{{else if this.workItem}}
  <h4>{{this.workItem.name}}</h4>

  <i>{{or this.workItem.description "-"}}</i>

  <div class="work-item-attrs">
    <div>
      <span class="ca-label">
        {{t "workItems.responsible"}}
      </span>
      {{this.workItem.addressedService.name}}
    </div>
    <div>
      <span class="ca-label">
        {{t "workItems.deadline"}}
      </span>
      {{format-date this.workItem.deadline format="date"}}
    </div>
    <div>
      <span class="ca-label">
        {{t "workItems.createdBy"}}
      </span>
      {{this.workItem.createdByUser.fullName}}
    </div>
    <div>
      <span class="ca-label">
        {{t "workItems.createdAt"}}
      </span>
      {{format-date this.workItem.createdAt format="datetime"}}
    </div>
    {{#if this.workItem.isCompleted}}
      <div>
        <span class="ca-label">
          {{t "workItems.closedBy"}}
        </span>
        {{this.workItem.closedByUser.fullName}}
      </div>
      <div>
        <span class="ca-label">
          {{t "workItems.closedAt"}}
        </span>
        {{format-date this.workItem.closedAt format="datetime"}}
      </div>
      <div>
        <span class="ca-label">
          {{t "workItems.comment"}}
        </span>
        {{or this.workItem.meta.completion-comment "-"}}
      </div>
    {{/if}}
  </div>

  {{#unless this.isWorkItemCompleted}}
    <form
      class="form form-edit work-item-form"
      {{on "submit" (perform this.saveWorkItem)}}
    >
      <fieldset class="uk-fieldset">
        {{#if this.workItem.isAddressedToCurrentService}}
          <div class="uk-margin" {{did-insert (perform this.fetchUserChoices)}}>
            <label class="uk-form-label">
              {{t "workItems.assignedUser"}}
              <span class="mandatory">
                *
              </span>
            </label>
            <div class="uk-form-controls">
              <PowerSelect
                @searchEnabled={{true}}
                @searchField="fullName"
                @renderInPlace={{true}}
                @options={{this.userChoices}}
                @selected={{this.workItem.assignedUser}}
                @noMatchesMessage={{t "global.noMatch"}}
                @onChange={{fn (mut this.workItem.assignedUser)}} as |user|
              >
                {{user.fullName}}
              </PowerSelect>
            </div>
          </div>
        {{/if}}

        {{#if (can "edit as creator or controller work-item" this.workItem)}}
          <div class="uk-margin">
            <div class="uk-form-label">
              <label for="description">
                {{t "workItems.description"}}
              </label>
            </div>
            <div class="uk-form-controls">
              <Textarea id="description" class="uk-textarea" @value={{this.workItem.description}} />
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-form-label">
              <label for="deadline">
                {{t "workItems.deadline"}}
                <span class="mandatory">
                  *
                </span>
              </label>
            </div>
            <div class="uk-form-controls">
              <input
                id="deadline"
                type="text"
                class="uk-input"
                {{pikaday value=this.workItem.deadline onSelect=(fn (mut this.workItem.deadline))}}
                required
              />
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-form-label">
              <label>
                {{t "workItems.notifications"}}
              </label>
            </div>
            <div class="uk-form-controls">
              <label class="checkbox-label">
                <Input
                  @type="checkbox"
                  @checked={{this.workItem.meta.notify-completed}}
                />
                {{t "workItems.notifyCompleted"}}
              </label>
              <br />
              <label class="checkbox-label">
                <Input
                  @type="checkbox"
                  @checked={{this.workItem.meta.notify-deadline}}
                />
                {{t "workItems.notifyDeadline"}}
              </label>
            </div>
          </div>
        {{/if}}
      </fieldset>

      <div>
        <button class="uk-button uk-button-primary" type="submit">
          {{t "global.save"}}
        </button>

        <LinkTo @route="cases.detail.work-items.index" class="uk-button uk-button-default">
          {{t "global.cancel"}}
        </LinkTo>
      </div>
    </form>
  {{/unless}}

  {{#if (can "complete work-item" this.workItem)}}
    <h3>
      {{t "workItems.actions.finish"}}
    </h3>

    <form
      aria-label={{t "work-items.completeFormLabel"}}
      class="form form-edit work-item-form"
      {{on "submit" (perform this.finishWorkItem)}}
    >
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <div class="uk-form-label">
            <label for="comment">{{t "workItems.comment"}}</label>
          </div>
          <div class="uk-form-controls">
            <Textarea class="uk-textarea" @value={{this.workItem.meta.completion-comment}} name="comment" id="comment" />
          </div>
        </div>
      </fieldset>

      <div class="uk-margin">
        <button class="uk-button uk-button-primary" type="submit">
          {{t "workItems.actions.finish"}}
        </button>
      </div>
    </form>
  {{/if}}
{{/if}}
