<span {{did-insert (perform this.setup)}}></span>

{{#if this.setup.isRunning}}
  <div class="uk-text-center"><UkSpinner @ratio={{2}} /></div>
{{else if this.instance}}
  <div class="uk-child-width-1-2" uk-grid>
    <div>
      <p class="uk-text-large">{{t "support.archive.title"}}</p>
      <p>{{t "support.archive.description" htmlSafe=true}}</p>
      <UkButton
        @color="primary"
        @label={{t "support.archive.button"}}
        @onClick={{perform this.archive}}
        @disabled={{or this.archive.isRunning (cannot "archive instance" this.instance)}}
      />
    </div>
    <div>
      <p class="uk-text-large">{{t "support.ebau-number.title"}}</p>
      <p>{{t "support.ebau-number.description"}}</p>
      <form aria-label={{t "support.ebau-number.form-label"}} {{on "submit" (perform this.changeEbauNumber)}}>
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-expand">
            <Input
              @type="text"
              @value={{this.ebauNumber}}
              aria-label={{t "support.ebau-number.label"}}
              disabled={{cannot "set ebau number of instance" this.instance}}
              pattern="\d{4}-\d+"
              class="uk-input uk-form-small"
            />
          </div>
          <div>
            <UkButton
              @color="primary"
              @type="submit"
              @label={{t "global.save"}}
              @disabled={{or this.changeEbauNumber.isRunning (cannot "set ebau number of instance" this.instance)}}
            />
          </div>
        </div>
      </form>
    </div>
    <div>
      <p class="uk-text-large">{{t "support.change-form.title"}}</p>
      <p>{{t "support.change-form.description" htmlSafe=true}}</p>
      <form aria-label={{t "support.change-form.form-label"}} {{on "submit" (perform this.changeForm)}}>
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-expand">
            <select
              class="uk-select uk-form-small"
              aria-label={{t "support.change-form.label"}}
              disabled={{cannot "change form of instance" this.instance}}
              required
              {{on "change" (fn (mut this.form))}}
            >
              <option></option>
              {{#each this.forms as |form|}}
                <option value={{form.value}} selected={{eq this.form.value form.value}}>{{form.label}}</option>
              {{/each}}
            </select>
          </div>
          <div>
            <UkButton
              @color="primary"
              @type="submit"
              @label={{t "global.save"}}
              @disabled={{or this.changeForm.isRunning (cannot "change form of instance" this.instance)}}
            />
          </div>
        </div>
      </form>
    </div>
    {{#if this.instance.isModification}}
      <div>
        <p class="uk-text-large">{{t "support.modification-to-new-dossier.title"}}</p>
        <p>{{t "support.modification-to-new-dossier.description"}}</p>
        <UkButton
          @color="primary"
          @label={{t "support.modification-to-new-dossier.convert"}}
          @onClick={{perform this.fetchConstructionDescription}}
        />
      </div>
    {{/if}}

    {{on-key "ctrl+shift+Space" (fn (mut this.showAdvanced) (not this.showAdvanced))}}
    {{#if (and this.showAdvanced this.shoebox.isSupportRole)}}
      <div>
        <p class="uk-text-large">{{t "support.fix-work-items.title"}}</p>
        <p>{{t "support.fix-work-items.description" htmlSafe=true}}</p>
        <form {{on "submit" (perform this.fixWorkItems)}}>
          {{#if this.output}}
            <pre class="uk-margin">{{this.output}}</pre>
          {{/if}}
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand uk-flex uk-flex-middle">
              <label class="uk-margin-small-right">
                <Input
                  @type="checkbox"
                  @checked={{this.dry}}
                  disabled={{not this.dryRunDone}}
                  class="uk-checkbox"
                />
                {{t "support.fix-work-items.dry"}}
              </label>
              <label>
                <input
                  type="checkbox"
                  class="uk-checkbox"
                  checked={{this.syncCirculation}}
                  {{on "change" this.updateSyncCirculation}}
                >
                {{t "support.fix-work-items.sync-circulation"}}
              </label>
            </div>
            <div>
              <UkButton
                @color="primary"
                @type="submit"
                @label={{t "support.fix-work-items.send"}}
                @disabled={{this.fixWorkItems.isRunning}}
              />
            </div>
          </div>
        </form>
      </div>
    {{/if}}
  </div>
{{/if}}

<UkModal @visible={{this.showModal}} as |Modal|>
  <Modal.body>
    <p>{{t "support.modification-to-new-dossier.info-text"}}</p>
    <Textarea
      class="uk-textarea"
      @value={{this.constructionDescription}}
      aria-label={{t "support.modification-to-new-dossier.input-label"}}
      {{autoresize mode="height"}}
    />
  </Modal.body>
  <Modal.footer>
    <div class="uk-align-right uk-margin-top">
      <UkButton
        @label={{t "global.cancel"}}
        @onClick={{this.toggleModal}}
      />
      <UkButton
        @color="primary"
        @label={{t "support.modification-to-new-dossier.convert"}}
        @onClick={{perform this.editConstructionDescription}}
      />
    </div>
  </Modal.footer>
</UkModal>
