{{#if this.workItem.document.id}}
  <CfContent
    @documentId={{decode-id this.workItem.document.id}}
    @disabled={{cannot "edit task-form" this.workItem task=@model.task}}
    @context={{hash
      instanceId=@model.instance_id
      task=@model.task
      actionButtonOnSuccess=(queue (perform this.fetchWorkItem) this.redirectToWorkItems)
    }}
  />
{{else if this.fetchWorkItem.isRunning}}
  <div class="uk-text-center">
    <UkSpinner @ratio={{2}} />
  </div>
{{else}}
  <div class="uk-text-center uk-text-italic">
    {{t "task-form.empty" moduleName=this.moduleName}}
  </div>
{{/if}}
