<table class="uk-table uk-table-striped uk-width-1-1" {{did-insert this.setup}}>
  <thead>
    <tr>
      {{#each this.tableColumns as |tColumn|}}
        <th>
          {{t (concat "cases.tableHeaders." tColumn)}}
        </th>
      {{/each}}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.casesQuery.value as |case|}}
      <tr
        class={{if (and @instancesOnSamePlot (includes case.instanceId this.linkedInstanceIds)) "uk-text-muted"}}
      >
        {{#each this.tableColumns as |tColumn|}}
          <td
            class={{
              if (eq tColumn "intent") "uk-text-truncate uk-table-expand"
            }}
            title={{ if (eq tColumn "intent") case.intent }}
          >
            {{#if (and
              (eq tColumn "dossierNumber")
              (not-eq this.instanceIdAsInt case.instanceId)
            ) }}
              {{#if this.ebauModules.isCamac}}
                <a href="/index/redirect-to-instance-resource/instance-id/{{case.instanceId}}">
                  {{get case tColumn}}
                </a>
              {{else}}
                <LinkTo @route="cases.detail.linked-instances" @model={{case.instanceId}}>
                  {{get case tColumn}}
                </LinkTo>
              {{/if}}
            {{else}}
              {{get case tColumn}}
            {{/if}}
          </td>
        {{/each}}
        {{#if @instancesOnSamePlot}}
          {{#if (not-eq this.instanceIdAsInt case.instanceId) }}
          <td>
            <LinkInstanceButton
              @type={{if (includes case.instanceId this.linkedInstanceIds) "unlink" "link"}}
              @onLink={{@onLink}}
              @onUnlink={{@onUnlink}}
              @instanceOnSamePlot={{case.instance}}
            />
          </td>
          {{else}}
            <td></td>
          {{/if}}
        {{/if}}
      </tr>
    {{else}}
      <tr>
        <td colspan="99" class="uk-text-center">
          {{#if this.casesQuery.isLoading}}
            {{t "global.loading"}}
          {{else}}
            {{t "global.empty"}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#if (and this.casesQuery.hasNextPage (not this.casesQuery.isLoading))}}
  <div class="uk-flex">
    <UkButton
      class="uk-margin-auto"
      @color="primary"
      @onClick={{this.loadNextPage}}
    >
      {{t "global.loadMore"}}
    </UkButton>
  </div>
{{else if this.casesQuery.isLoading}}
  <div class="uk-flex uk-flex-center">
    <UkSpinner />
  </div>
{{/if}}

<PaginationInfo @query={{this.casesQuery}} />
