<label for="{{@field.pk}}">
  <a {{on "click" this.toggleCollapsible}} class="uk-link-reset" href="#">
    <span class="uk-text-bold">
      {{@field.question.label}}
    </span>

    {{#if @field.optional}}
      <span class="uk-margin-small-left uk-text-muted uk-text-lowercase uk-text-normal">({{t "caluma.form.optional"}})</span>
    {{/if}}

    <UkIcon class="uk-align-right" @icon="{{if this.collapsed "plus" "minus"}}"/>
  </a>
</label>
<div class="uk-flex">
  {{#unless this.collapsed}}
    <textarea
      readonly={{@disabled}}
      name={{@field.pk}}
      id={{@field.pk}}
      value={{@field.answer.value}}
      maxlength={{@field.question.textareaMaxLength}}
      class="
        uk-textarea
        {{if @field.isInvalid "uk-form-danger"}}
        {{if @field.disabled "uk-disabled"}}
      "
      {{on "input" this.save}}
    />
  {{/unless}}
</div>
