{{#unless question.hidden}}
  <div class="uk-animation-fade">
    {{yield}}
    <label class="uk-form-label uk-text-bold {{if (and save.last error) 'uk-text-danger'}}">
      {{{question.field.label}}}
      {{#if question.field.required}}
        <span class="uk-text-primary"> *</span>
      {{/if}}
      {{#if question.field.hint}}
        <span class="pointer" uk-icon="info" ratio="0.8" uk-tooltip={{escapeukvalue question.field.hint}} pos="right"></span>
      {{/if}}
    </label>
    <div uk-grid class="uk-margin-small-top">
      <div class="uk-width-expand">
        {{component (concat 'camac-input-' question.field.type)
          config      = question.field.config
          model       = question.model
          readonly    = readonly
          class       = (if (and save.last error) 'uk-form-danger')
          on-change   = (perform save)
        }}
      </div>
      <div class="icon uk-flex uk-flex-center uk-flex-middle">
        {{#if save.last}}
          {{#if save.isRunning}}
            {{uk-spinner class='uk-animation-fade'}}
          {{else}}
            {{#if error}}
              {{uk-icon 'close' ratio=1.25 class='uk-text-danger uk-animation-slide-bottom-small'}}
            {{else}}
              {{uk-icon 'check' ratio=1.25 class='uk-text-success uk-animation-slide-top-small'}}
            {{/if}}
          {{/if}}
        {{else if (not question.model.isNew)}}
          {{uk-icon 'check' ratio=1.25 class='uk-text-success uk-animation-slide-top-small'}}
        {{/if}}
      </div>
    </div>
    {{camac-input-error error}}
  </div>
{{/unless}}
