{{#with (await question) as |question|}}
  {{#if (and question.field.type (not (await question.hidden)))}}
    <div class="uk-animation-fade">
      {{yield}}
      <label class="uk-form-label {{if (and save.last error) 'uk-text-danger'}}">
        {{question.field.label}}
        {{#if question.field.required}}
          <span class="uk-text-primary"> *</span>
        {{/if}}
      </label>
      <div uk-grid class="uk-form-controls">
        <div class="uk-width-expand">
          {{component (concat 'camac-input-' question.field.type)
            config      = question.field.config
            model       = question.model
            readonly    = readonly
            class       = (if (and save.last error) 'uk-form-danger')
            on-change   = (perform save)
          }}
        </div>
        <div class="icon uk-flex uk-flex-center uk-flex-middle">
          {{#if save.last}}
            {{#if save.isRunning}}
              {{uk-spinner class='uk-animation-fade'}}
            {{else}}
              {{#if error}}
                {{uk-icon 'close' ratio=1.25 class='uk-text-danger uk-animation-slide-bottom-small'}}
              {{else}}
                {{uk-icon 'check' ratio=1.25 class='uk-text-success uk-animation-slide-top-small'}}
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{#if error}}
        <small class="uk-text-danger uk-animation-slide-bottom-small">
          {{#if (gt error.length 1)}}
            <ul class="uk-margin-bottom-remove uk-margin-small-top">
              {{#each error as |e|}}
                <li>{{e}}</li>
              {{/each}}
            </ul>
          {{else}}
            {{error.firstObject}}
          {{/if}}
        </small>
      {{/if}}
    </div>
  {{/if}}
{{/with}}
