<th class="uk-text-bold uk-width-1-5 uk-text-top">
  {{@header}}
</th>
<td colspan="3">
  {{#each @journalEntries as |journalEntry|}}
    <div
      class="uk-card uk-card-default uk-margin-small-bottom"
    >
      <div class="uk-card-header uk-padding-small uk-flex uk-flex-between">
        <span class="uk-text-bolder">{{journalEntry.user.username}}</span>
        <span>
          {{format-date journalEntry.creationDate format="datetime"}}
        </span>
      </div>
      <div class="uk-card-body uk-padding-small">
        {{journalEntry.text}}
      </div>
    </div>
  {{else}}
    <span class="uk-text-meta">
      {{t "journal.noEntries"}}
    </span>
  {{/each}}
  {{#if (gt @journalEntries.meta.pagination.count 1)}}
    <a href={{ t "journal.linkToJournal" instanceId=@instanceId instanceResourceId=@instanceResourceId}}>
      {{t "journal.showMore" total=(sub @totalJournalEntries 1)}}
    </a>
  {{/if}}
</td>