{{#camac-form instance=model.instance meta=model.meta as |form|}}
  <div uk-grid class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m">
    {{form.document 'dokument-parzelle'}}
    {{form.document 'dokument-aktueller-katasterplan'}}
    {{form.document 'dokument-aktueller-auszug-aus-dem-grundbuch'}}
    {{form.document 'dokument-grundrisse-1100'}}
    {{form.document 'dokument-schnitt-und-fassadenplane'}}
    {{form.document 'dokument-umgebungsplan-mit-abstandslinien-vermasst'}}
    {{form.document 'dokument-baubeschrieb'}}
    {{form.document 'dokument-zustimmung-naherbaurecht'}}
    {{form.document 'dokument-planverzeichnis'}}
    {{form.document 'dokument-nachweis-der-abstellflachenparkierung'}}
    {{form.document 'dokument-energienachweis'}}
    {{form.document 'dokument-pfahlfundationsplan'}}
    {{form.document 'dokument-hydrogeologischer-nachweis'}}
    {{form.document 'dokument-beschrieb-der-baugrubensicherung-und-entwasserung'}}
    {{form.document 'dokument-standortdatenblatt-zur-nisv'}}
    {{form.document 'dokument-larmschutznachweis-larmprognose'}}
    {{form.document 'dokument-beschrieb-geplanter-umgang-mit-bodenbelastungen'}}
    {{form.document 'dokument-entsorgungskonzept'}}
    {{form.document 'dokument-tabelle-tierbestand'}}
    {{form.document 'dokument-begrundung-standortgebundenheit'}}
    {{form.document 'dokument-nutzungsberechnung-inkl-planschema-flachennachweis'}}
    {{form.document 'dokument-aussagekraftige-fotos-der-liegenschaft-inkl-umgebung'}}
    {{form.document 'dokument-formular-des-cercle-bruit'}}
    {{form.document 'dokument-beschrieb-zur-abfallbehandlungsanlage'}}
    {{form.document 'dokument-plan-und-beschrieb-zum-bodenschutz'}}
    {{form.document 'dokument-beleuchtungskonzept'}}
    {{form.document 'dokument-stellungnahme-zu-zweck-nutzen-fur-wald-lage-und-flache'}}
    {{form.document 'dokument-begrundung-zweck-standortgebundenheit-und-alternativen'}}
    {{form.document 'dokument-rodungsgesuch'}}
    {{form.document 'dokument-beschrieb-der-auswirkungen-auf-wanderwege'}}
    {{form.document 'dokument-plan-mit-dachaufsicht-inkl-solaranlage'}}
    {{form.document 'dokument-sicherheitsdatenblatter'}}
    {{form.document 'dokument-bestatigung-elementarschaden'}}
    {{form.document 'dokument-schutzraumaufhebung-antrag-und-einverstandniserklarung-mit'}}
    {{form.document 'dokument-entwasserungsplankanalisationsplan'}}
    {{form.document 'dokument-unterlagen-invasive-neophyten'}}
    {{form.document 'dokument-sondenplan'}}
    {{form.document 'dokument-plan-mit-eingetragenen-energiepfahlen'}}
    {{form.document 'dokument-schnittplan-der-erdkollektorenerdwarmekorbe'}}
    {{form.document 'dokument-situationsplan-mit-lage-der-bohrlocher'}}
    {{form.document 'dokument-situationsplan-mit-bohrlochern-und-leitungsfuhrung'}}
    {{form.document 'dokument-schnittplan-mit-entnahme-und-ruckgabeschacht'}}
    {{form.document 'dokument-altlastenuntersuchung'}}
    {{form.document 'dokument-reklameunterlagen'}}
    {{form.document 'dokument-material-und-farbkonzept-bestehend-und-neu'}}
    {{form.document 'dokument-konzept-der-grossveranstaltung-im-wald'}}
    {{form.document 'dokument-konzept-des-anlasses'}}
    {{form.document 'dokument-ausgefulltes-formular-v01a'}}
    {{form.document 'dokument-beschrieb-des-vorhabens-gegenstand-der-baumeldung'}}
    {{form.document 'dokument-unterlagen-projektanderung'}}
    {{form.document 'dokument-gesuchsunterlagen'}}
    {{form.document 'dokument-beschrieb-des-vorhabens'}}
    {{form.document 'dokument-fragenkatalog'}}
  </div>
{{/camac-form}}
