<CamacForm @instance={{@model.instance}} @meta={{@model.meta}} as |form|>
  {{form.input "info-vorhaben-mit-baute"}}
  {{form.input "info-pfahlfundation-vorgesehen"}}
  {{form.input "info-baugrubenumschliessung-vorgesehen"}}
  {{form.input "info-anlagen-mit-erheblichen-larmemissionen"}}
  {{form.input "info-bodenbelastungen"}}
  {{form.input "info-200m3-bauabfalle"}}
  {{form.input "info-landwirtschaft-veranderung-tierbestand"}}
  {{form.input "info-landwirtschaft-grundriss-stall"}}
  {{form.input "info-nlbuaab"}}
  {{form.input "info-nlbuaab-anlage"}}
  {{form.input "info-nlbuaab-nutzflache-berechnungsschema"}}
  {{form.input "info-nlbuaab-nutzflache-fotos"}}
  {{form.input "info-art-der-warmepumpe"}}
  {{form.input "info-larmbelastetes-gebiet"}}
  {{form.input "info-umweltschutz-abfallbehandlungsanlage"}}
  {{form.input "info-boden-5000m2"}}
  {{form.input "info-aussenbeleuchtung"}}
  {{form.input "info-wald-forstlich" class="wrap-text"}}
  {{form.input "info-wald-auswirkungen" class="wrap-text"}}
  {{form.input "info-wald-auswirkungen-roden"}}
  {{form.input "info-energie-dachaufstellung"}}
  {{form.input "info-arbeitssicherheit-sicherheitsdatenblatter"}}
  {{form.input "info-zivilschutz-elementarschaden"}}
  {{form.input "info-brandschutz-gefahrengut"}}
  {{form.input "info-liegenschaftsentwasserung" class="wrap-text"}}
  {{form.input
    "info-liegenschaftsentwasserung-wassergefahrdende-stoffe-ja"
    class="wrap-text"
  }}
  {{form.input
    "info-liegenschaftsentwasserung-wassergefahrdende-stoffe-nein"
    class="wrap-text"
  }}
  {{form.input
    "info-liegenschaftsentwasserung-ausserhalb-bauzone"
    class="wrap-text"
  }}
  {{form.input "info-gewasserschutz"}}
  {{form.input "info-grundwasser-warmeentnahme-art-sonden"}}
  {{form.input "info-grundwasser-warmeentnahme-art-pfahle"}}
  {{form.input "info-grundwasser-warmeentnahme-art-kollektoren"}}
  {{form.input "info-sondierbohrung"}}
  {{form.input "info-grundwasser-sondierbohrung-zweck"}}
  {{form.input "info-belastete-standorte"}}
  {{form.input "info-invasive-neophyten"}}
  {{form.input "info-reklamen-fassade"}}
  {{form.input "info-reklamen-frei"}}
  {{form.input "info-natur-landschaftschutz"}}
  {{form.input "info-av-art-wald"}}
  {{form.input "info-av-art-anlass"}}
  {{form.input "info-av-art-verkehr"}}
  {{form.input "info-bm-solaranlage"}}
  {{form.input "info-projektanderung"}}
  {{form.input "info-plangenehmigung"}}
  {{form.input "info-projektgenehmigung"}}
  {{form.input "info-technische-bewilligung"}}
  {{form.input "info-vorabklarung"}}
  {{form.input "info-vorentscheid"}}
  <div uk-grid class="uk-child-width-1-1 uk-child-width-1-2@m">
    {{form.document "dokument-grundstucksangaben" group=params.group}}
    {{form.document
      "dokument-gutachten-nachweise-begrundungen"
      group=params.group
    }}
    {{form.document
      "dokument-projektplane-projektbeschrieb"
      group=params.group
    }}
    {{form.document "dokument-weitere-gesuchsunterlagen" group=params.group}}
  </div>
</CamacForm>

<UkButton
  @label="Informationen zu Gesuchsunterlagen"
  @on-click={{action
    (queue (action (mut visible) false) (action (mut visible) true))
  }}
/>

<UkModal
  @visible={{visible}}
  @on-hide={{action (mut visible) false}} as |modal|
>
  <modal.header>
    <h2 class="uk-modal-title">
      Informationen zu Gesuchsunterlagen
    </h2>
  </modal.header>
  <div class="uk-modal-body" uk-overflow-auto>
    <ul>
      <li>
        Die Unterlagen sind als pdf-Dokumente hochzuladen.
      </li>
      <li>
        Der Dateiname soll folgende Struktur entsprechen:
        <span class="uk-text-bolder">
          Titel_Datum.pdf
        </span>
      </li>
      <li>
        Zusätzliche Informationen können über die Infobuttons der 4 Dokumentenkategorien bezogen werden.
      </li>
    </ul>
    <h3 class="uk-margin-small-top uk-margin-small-bottom">
      Titel Vorschläge
    </h3>
    <h4 class="uk-margin-remove-top">
      Grundstücksangaben
    </h4>
    <ul>
      <li>
        Dienstbarkeitsvertrag
      </li>
      <li>
        Grundbuchauszug
      </li>
      <li>
        Katasterplan
      </li>
    </ul>
    <h4 class="uk-margin-remove-top">
      Projektpläne und Projektbeschrieb
    </h4>
    <ul>
      <li>
        Ansichten
      </li>
      <li>
        Attikageschoss
      </li>
      <li>
        Dachaufsicht
      </li>
      <li>
        Dachgeschoss
      </li>
      <li>
        Detailplan
      </li>
      <li>
        Erdgeschoss
      </li>
      <li>
        Farb-_und_Materialkonzept
      </li>
      <li>
        Fassaden
      </li>
      <li>
        Grundrisse
      </li>
      <li>
        Kanalisationsplan
      </li>
      <li>
        Obergeschoss
      </li>
      <li>
        Pfählungsplan
      </li>
      <li>
        Fotomontage
      </li>
      <li>
        Projektbeschrieb
      </li>
      <li>
        Projektplan
      </li>
      <li>
        Querprofile
      </li>
      <li>
        Schnitte
      </li>
      <li>
        Situation
      </li>
      <li>
        Situation_Sondenstandorte
      </li>
      <li>
        Untergeschoss
      </li>
    </ul>
    <h4 class="uk-margin-remove-top">
      Gutachten, Nachweise, Begründungen
    </h4>
    <ul>
      <li>
        Ausnahme_Unterschreitung
      </li>
      <li>
        AZ-Berechnung
      </li>
      <li>
        Geologischer_Bericht
      </li>
      <li>
        Kubische_Berechnungen
      </li>
      <li>
        Lärmschutznachweis
      </li>
      <li>
        Parkplatzberechnung
      </li>
      <li>
        Technische_Angaben_Heizung
      </li>
      <li>
        Technischer_Bericht
      </li>
    </ul>
    <h4 class="uk-margin-remove-top">
      Weitere Gesuchsunterlagen
    </h4>
    <p>
      Keine Vorgaben
    </p>
  </div>
  <modal.footer class="uk-text-right">
    <label class="uk-margin-small-right">
      <Input
        @type="checkbox"
        @checked={{hideDocumentInfo}}
        class="uk-checkbox"
      />
      Dieses Fenster nicht mehr Anzeigen
    </label>
    <UkButton
      @color="primary"
      @label="Schliessen"
      @on-click={{action
        (queue (action (mut visible) false) (action "hideModal"))
      }}
    />
  </modal.footer>
</UkModal>