<div class="uk-flex uk-flex-between">
  {{#if this.audit}}
    <div>
      <span class="uk-text-bold">
        {{this.audit.type}}
      </span>
      {{#if (and this.audit.modifiedByUser this.audit.modifiedByService this.audit.modifiedAt)}}
        -
        <span class="uk-text-meta">
          {{t "audit.titleMeta"
            user=this.audit.modifiedByUser.fullName
            service=this.audit.modifiedByService.name
            date=(format-date this.audit.modifiedAt format="datetime")
            htmlSafe=true
          }}
        </span>
      {{/if}}
    </div>
  {{/if}}

  <div class="uk-text-right">
    <a href="" class="no-loading" {{on "click" (perform this.back)}}>{{t "audit.back"}}</a>
  </div>
</div>

<hr>

<CfContent
  @documentId={{this.model}}
  @disabled={{cannot "edit audit" this.auditController.auditWorkItem audit=this.audit}}
as |content|>
  {{#if (gt content.document.fieldsets.length 1)}}
    <div uk-grid>
      <div class="uk-width-1-1 uk-width-1-3@m">
        {{content.navigation}}

        {{#if this.isMaterialExam}}
          <div class="uk-flex uk-flex-column uk-flex-middle uk-margin-top">
            <UkToggleSwitch
              @value={{this.materialExamSwitcher.hideIrrelevantFields}}
              @size="small"
              @name="toggle-irrelevant-fields"
              @onToggle={{this.toggleIrrelevant}}
              class="x-small"
            />
            <label class="uk-text-meta uk-margin-small-top" for="toggle-irrelevant-fields">
              {{t "audit.onlyExamItems"}}
            </label>
          </div>
        {{/if}}
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m">
        {{content.form}}
        <hr>
        {{content.pagination}}
      </div>
    </div>
  {{else}}
    {{content.form}}
  {{/if}}
</CfContent>
