<div class="uk-flex uk-flex-between">
  {{#if this.audit}}
    <div>
      <span class="uk-text-bold">
        {{this.audit.type}}
      </span>
      -
      <span class="uk-text-meta">
        {{t "audit.titleMeta"
          user=this.audit.modifiedByUser.fullName
          service=this.audit.modifiedByService.name
          date=(moment-format this.audit.modifiedAt "DD.MM.YYYY HH:mm")
          htmlSafe=true
        }}
      </span>
    </div>
  {{/if}}

  <div class="uk-text-right">
    <LinkTo @route="audit.index">{{t "audit.back"}}</LinkTo>
  </div>
</div>

<hr>

<CfContent
  @documentId={{this.model}}
  @disabled={{this.disabled}}
/>
