<p>Willkommen!</p>

{{#if id}}
<p id="hash">Sie sind angemeldet als <strong>{{id}}</strong>.</p>
{{#if overview}}
<table id="overview">
  <thead>
    <tr>
      <td>Name</td>
      <td>Letzte Änderung</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    {{#each overview as |entry|}}
    <tr>
      <td>{{entry.name}}</td>
      <td>{{entry.last_modified}}</td>
      <td>{{entry.status}}</td>
      <td>
        <form action="{{../camacUrl}}/portal/user/entry/resource-id/248/instance-id/{{entry.id}}" method="POST">
          <input type="hidden" name="X-Camac-Session" value={{../hash}}>
          <input type="submit" id="open" value="Öffnen">
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}
<form action="{{camacUrl}}/portal/user/entry/resource-id/248" method="POST">
  <input type="hidden" name="X-Camac-Session" value={{hash}}>
  <input type="hidden" name="firstName" value="Hans">
  <input type="hidden" name="lastName" value="Peter">
  <input type="hidden" name="street" value="foobar 8">
  <input type="hidden" name="zip" value="3076">
  <input type="hidden" name="city" value="Worb">

  <input type="submit" id="toCamac" value="Dossier erstellen">
</form>
<form action="{{camacUrl}}/portal/user/logout/resource-id/248" method="POST">
  <input type="hidden" name="X-Camac-Session" value={{hash}}>
  <input type="hidden" name="X-Redirect-To" value="{{base}}logout">
  <input type="submit" id="logout" value="Logout">
</form>
{{else}}
<form action="{{base}}hash" method="POST">
  <input type="text" name="id" required placeholder="Nutzername">
  <input type="submit" value="Login">
</form>
{{/if}}
