<p>Willkommen!</p>

<form action="/hash" method="POST">
	<input type="text" name="id" required placeholder="Portal Identifier">
	<input type="submit" value="Login">
</form>

{{#if id}}
<p>Currently logged in as {{id}} (Hash: {{hash}})</p>
<form action="/overview" method="POST">
	<input type="submit" value="get overview">
</form>
{{#if overview}}
<table>
	<thead>
		<tr>
			<td>Dossiernr.</td>
			<td>Name</td>
			<td>Letzte Änderung</td>
			<td>Status</td>
			{{#each overview as |entry|}}
			<tr>
				<td>{{entry.dossier_nr}}</td>
				<td>{{entry.name}}</td>
				<td>{{entry.last_modified}}</td>
				<td>{{entry.status}}</td>
				<td>
					<form action="http://localhost:4300/portal/user/entry/resource-id/245/instance-id/{{entry.id}}" method="POST">
						<input type="hidden" name="X-Camac-Session" value={{../hash}}>
						<input type="submit" value="open">
					</form>
				</td>
			</tr>
			{{/each}}
</table>
{{/if}}
<form action="http://localhost:4300/portal/user/entry/resource-id/245" method="POST">
	<input type="hidden" name="X-Camac-Session" value={{hash}}>
	<input type="hidden" name="firstName" value="Hans">
	<input type="hidden" name="lastName" value="Peter">

	<input type="submit" value="go to camac">
</form>
{{/if}}
