<div class="uk-margin communications-message-input" ...attributes>
  <div uk-grid>
    {{#each this.files as |file|}}
      <div>
        {{file.name}}
        <button
          type="button"
          class="uk-icon-button"
          uk-icon="trash"
          {{on "click" (fn this.removeFile file)}}
        ></button>
      </div>
    {{/each}}
  </div>

  <div class="uk-flex uk-flex-bottom">
    <textarea
      value={{this.body}}
      aria-label={{t "communications.message.messageInputLabel"}}
      class="uk-textarea"
      placeholder={{t "communications.message.messageInputPlaceholder"}}
      rows="1"
      disabled={{this.disabled}}
      {{on "input" this.updateMessage}}
      {{autoresize this.body mode="height"}}
    />

    <div uk-form-custom class="file-upload">
      <input
        aria-label={{t "communications.message.fileInputLabel"}}
        type="file"
        multiple
        {{on "input" this.addFiles}}
        disabled={{this.disabled}}
      />
      <button
        type="button"
        class="uk-icon-button uk-margin-small-left uk-margin-small-right"
        uk-icon="file-text"
        disabled={{this.disabled}}
        data-test-select-files
        {{on
          "click"
          (fn (mut this.showDocumentUpload) (not this.showDocumentUpload))
        }}
      ></button>
    </div>
    {{#if @sendMessage}}
      <button
        type="button"
        disabled={{this.disabled}}
        class="uk-icon-button"
        uk-icon={{this.messageIcon}}
        data-test-send
        {{on "click" @sendMessage}}
      >
        {{#if @loading}}
          <UkSpinner data-test-loading />
        {{/if}}
      </button>
    {{/if}}

  </div>
</div>
