<div class="uk-margin communications-message-input" ...attributes>
  <Communication::FileList
    @files={{union @message.filesToSave @message.documentAttachmentsToSave}}
    @removeFile={{fn this.remove "filesToSave"}}
    @removeAttachment={{fn this.remove "documentAttachmentsToSave"}}
  />

  <div class="uk-flex uk-flex-bottom">
    <textarea
      value={{this.body}}
      aria-label={{t "communications.message.messageInputLabel"}}
      class="uk-textarea"
      placeholder={{t "communications.message.messageInputPlaceholder"}}
      disabled={{this.disabled}}
      {{on "input" this.updateMessage}}
      {{autoresize this.body mode="height"}}
    />

    <div uk-form-custom class="file-upload">
      <input
        aria-label={{t "communications.message.fileInputLabel"}}
        type="file"
        multiple
        {{on "input" this.addFiles}}
        disabled={{this.disabled}}
      />
      <button
        type="button"
        class="uk-icon-button uk-margin-small-left uk-margin-small-right"
        uk-icon="file-text"
        disabled={{this.disabled}}
        data-test-select-files
        tabindex="-1"
      ></button>
    </div>
    {{#unless this.ebauModules.isApplicant}}
      <div class="uk-margin-small-right">
        <button
          type="button"
          class="uk-icon-button"
          uk-icon="link"
          disabled={{this.disabled}}
          data-test-select-files
          tabindex="-1"
        >
        </button>
        <Communication::AttachmentSectionDropdown
          @instanceId={{this.instanceId}}
          @selectSection={{fn (mut this.attachmentSection)}}
          uk-dropdown="mode:click;pos:top-right;"
        />
        <LinkAttachments::Modal
          @selected={{@message.documentAttachmentsToSave}}
          @visible={{this.attachmentSection}}
          @onHide={{fn (mut this.attachmentSection) null}}
          @section={{this.attachmentSection}}
          @instanceId={{this.instanceId}}
          @save={{this.addDocumentAttachments}}
        />
      </div>
    {{/unless}}
    {{#if @sendMessage}}
      <button
        type="button"
        disabled={{this.sendDisabled}}
        class="uk-icon-button"
        uk-icon={{this.messageIcon}}
        data-test-send
        {{on "click" @sendMessage}}
      >
        {{#if @loading}}
          <UkSpinner data-test-loading />
        {{/if}}
      </button>
    {{/if}}

  </div>
</div>
