<div>
  <div class="uk-flex uk-flex-between">
    <div class="uk-button-group">
      <UkButton
        @color={{if this.showOnlyUnread "default" "primary"}}
        data-test-show-all
        {{on "click" (fn (mut this.showOnlyUnread) false)}}
      >
        {{t "communications.topics.all"}}
      </UkButton>
      <UkButton
        @color={{if this.showOnlyUnread "primary" "default"}}
        data-test-show-unread
        {{on "click" (fn (mut this.showOnlyUnread) true)}}
      >
        {{t "communications.topics.unread"}}
      </UkButton>
    </div>
    {{#if (and @instance @newRoute)}}
      <LinkTo @route={{@newRoute}} data-test-new-topic>
        <UkButton @color="primary">
          {{t "communications.topics.newMessage"}}
        </UkButton>
      </LinkTo>
    {{/if}}
  </div>

  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        {{#unless @instance}}
          <th data-test-instance-header>{{t "communications.dossier"}}</th>
        {{/unless}}
        <th>{{t "communications.topic"}}</th>
        <th>{{t "communications.participants"}}</th>
        <th>{{t "communications.date"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#if this.topics.isLoading}}
        <tr>
          <td colspan="4" class="uk-text-center">{{t
              "communications.loading"
            }}</td>
        </tr>
      {{else}}
        {{#each this.topics.records as |topic|}}
          <tr
            class="{{if topic.hasUnread 'uk-text-bold'}}"
            data-test-topic
            {{on "click" (fn this.transitionToTopic topic.instance.id)}}
          >
            {{#unless @instance}}
              <td data-test-dossier-number>
                {{topic.instance.dossierNumber}}
                ({{topic.instance.id}})
              </td>
            {{/unless}}
            <td data-test-subject>{{topic.subject}}</td>
            <td data-test-involved-entities>
              {{#each topic.involvedEntities as |entity|}}
                {{entity.service.name}}<br />
              {{else}}
                -
              {{/each}}
            </td>
            <td>{{format-date
                topic.created
                day="2-digit"
                month="2-digit"
                year="numeric"
                hour="numeric"
                minute="numeric"
              }}</td>
          </tr>
        {{else}}
          <tr>
            <td>{{t "communications.empty"}}</td>
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>
