<div ...attributes>
  <div class="uk-flex uk-flex-between">
    <div class="uk-button-group">
      <UkButton
        @color={{if (eq this.topicsFilter "all") "primary" "default"}}
        data-test-show-all
        {{on "click" (fn this.updateFilter "all")}}
      >
        {{t "communications.list.all"}}
      </UkButton>
      <UkButton
        @color={{if (eq this.topicsFilter "unread") "primary" "default"}}
        data-test-show-unread
        {{on "click" (fn this.updateFilter "unread")}}
      >
        {{t "communications.list.unread"}}
      </UkButton>
      <UkButton
        @color={{if (eq this.topicsFilter "read") "primary" "default"}}
        data-test-show-read
        {{on "click" (fn this.updateFilter "read")}}
      >
        {{t "communications.list.read"}}
      </UkButton>
    </div>
    {{#if (and @instanceId @newRoute)}}
      <LinkTo
        @route={{module-route "communications" @newRoute}}
        class="uk-button uk-button-primary"
        data-test-new-topic
      >
        {{t "communications.list.newMessage"}}
      </LinkTo>
    {{/if}}
  </div>

  <table class="uk-table uk-table-striped uk-table-hover">
    <thead>
      <tr>
        {{#unless @instanceId}}
          <th class="uk-width-small" data-test-instance-header>{{t
              "communications.dossier"
            }}</th>
        {{/unless}}
        <th class="uk-width-1-2">{{t "communications.topic"}}</th>
        <th class="uk-width-1-2">{{t "communications.participants"}}</th>
        <th class="uk-width-small">{{t "communications.date"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#unless this.topicsListHidden}}
        {{#each this.topics.records as |topic|}}
          <tr
            class="{{if topic.hasUnread 'uk-text-bold'}}"
            data-test-topic
            role="link"
            {{did-insert this.setElement}}
            {{on "click" (fn this.transitionToTopic topic)}}
          >
            {{#unless @instanceId}}
              <td data-test-dossier-number>
                {{topic.dossierNumber}}
                ({{topic.instance.id}})
              </td>
            {{/unless}}
            <td data-test-subject>{{topic.subject}}</td>
            <td data-test-involved-entities>
              {{#each topic.involvedEntities as |entity|}}
                {{entity.name}}<br />
              {{else}}
                -
              {{/each}}
            </td>
            <td>{{format-date topic.created format="datetime"}}</td>
          </tr>
        {{else}}
          {{#unless this.topics.isLoading}}
            <tr>
              <td colspan="4" class="uk-text-center">{{t
                  "communications.empty"
                }}</td>
            </tr>
          {{/unless}}
        {{/each}}
      {{/unless}}
      {{#if this.topics.isLoading}}
        <tr>
          <td colspan={{this.colspan}} class="uk-text-center">{{t
              "communications.loading"
            }}</td>
        </tr>
      {{else if this.topics.hasMore}}
        <tr {{in-viewport onEnter=this.updatePage}}>
          <td colspan={{this.colspan}} class="uk-text-center">{{t
              "communications.loading"
            }}</td>
        </tr>
      {{else if this.topics.records.length}}
        <tr>
          <td colspan={{this.colspan}} class="uk-text-center">
            {{t "communications.noMoreData"}}

            <button
              type="button"
              class="uk-margin-small-left uk-icon-button"
              uk-icon="chevron-up"
              data-test-back-to-first
              {{uk-tooltip (t "communications.backToFirst")}}
              {{on "click" this.scrollToFirst}}
            ></button>
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>
