<div class="communications-topic" ...attributes>
  <UkFlex @horizontal="between">
    <div>
      <h3 data-test-subject>{{this.topicResource.record.subject}}</h3>
      <span class="uk-text-meta" data-test-created-by>
        {{t
          "communications.detail.createdBy"
          entity=this.topicResource.record.initiatedByEntity.name
          user=this.topicResource.record.initiatedBy.fullName
        }}
      </span>
    </div>
    <UkFlex @vertical="bottom">
      <ul class="uk-list uk-list-collapse uk-text-meta uk-margin-remove">
        <li>
          <UkIcon @icon="check" />
          {{t "communications.detail.readByYou"}}
        </li>
        <li>
          <UkIcon @icon="check" class="uk-text-success" />
          {{t "communications.detail.readByEveryone"}}
        </li>
      </ul>
    </UkFlex>
  </UkFlex>

  <hr />
  <Communication::MessageList
    @refresh={{this.messagesResource.retry}}
    @messages={{this.messagesResource.records}}
    data-test-message-list
  />

  {{#if this.topicResource.record.allowReplies}}
    <Communication::MessageInput
      @message={{this.newMessage}}
      @loading={{this.sendMessage.isRunning}}
      @updateMessage={{this.updateMessage}}
      @sendMessage={{perform this.sendMessage}}
      class="uk-margin-bottom"
      data-test-message-input
    />
  {{else}}
    <div
      uk-alert
      class="uk-margin uk-margin-medium-left uk-margin-medium-right uk-text-center"
      data-test-no-replies
    >
      {{t "communications.detail.readOnly"}}
    </div>
  {{/if}}
</div>
