<div class="uk-flex uk-flex-between uk-flex-middle">
  <div class="uk-flex communications-filters">
    <div class="uk-flex">
      <div class="uk-button-group uk-flex uk-flex-bottom">
        {{#each (array "all" "unread" "read") as |type|}}
          <UkButton
            @color={{if (eq this.topicsFilter type) "primary" "default"}}
            @label={{t (concat "communications.list." type)}}
            @onClick={{fn this.updateFilter type}}
            data-test-type={{type}}
          />
        {{/each}}
      </div>
    </div>
    {{#if this.showResponsibleServiceUsers}}
      <div class="select-responsible-service-user uk-margin-small-left">
        <label class="uk-form-label" for="type">{{t "responsible.responsiblePerson"}}</label>
        <div class="uk-form-controls">
          <PowerSelect
            @searchEnabled={{true}}
            @allowClear={{true}}
            @selected={{this.responsiblePerson}}
            @options={{this.responsibleServiceUsers.value}}
            @valueField="id"
            @labelField="fullName"
            @searchField="fullName"
            @onChange={{fn (mut this.responsiblePerson)}}
            as |option|
          >
            {{option.fullName}}
        </PowerSelect>
        </div>
      </div>
    {{/if}}
  </div>
  {{#if (and @instanceId (can "create topic"))}}
    <LinkTo
      @route={{module-route "communications" "new"}}
      class="uk-button uk-button-primary"
      data-test-new-topic
    >
      {{t "communications.list.newMessage"}}
    </LinkTo>
  {{/if}}
</div>
<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
    <tr>
      <th></th>
      {{#unless @instanceId}}
        <th data-test-instance-header>{{t "communications.dossier"}}</th>
      {{/unless}}
      <th>{{t "communications.topic"}}</th>
      <th>{{t "communications.participants"}}</th>
      <th>{{t "communications.date"}}</th>
      {{#if this.showResponsibleServiceUsers}}
      <th>{{t "responsible.responsiblePerson"}}</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each this.topics.records as |topic|}}
      <tr
        class={{if topic.hasUnread "uk-text-bold"}}
        data-test-topic
        role="link"
        {{on "click" (fn this.transitionToTopic topic)}}
      >
        <td class="communications-status-cell uk-padding-remove-right">
          <FaIcon
            @fixedWidth={{true}}
            @icon={{if topic.hasUnread "envelope" "envelope-open"}}
            {{uk-tooltip (t (concat "communications.list." (if topic.hasUnread "has" "no") "-unread"))}}
          />
        </td>
        {{#unless @instanceId}}
          <td class="uk-text-nowrap" data-test-dossier-number>
            {{topic.dossierNumber}}
            ({{topic.instance.id}})
          </td>
        {{/unless}}
        <td data-test-subject>{{topic.subject}}</td>
        <td data-test-involved-entities>
          {{#each topic.involvedEntities as |entity|}}
            {{entity.name}}
            <br>
          {{/each}}
        </td>
        <td class="uk-text-nowrap">{{format-date topic.created format="datetime"}}</td>
        {{#if this.showResponsibleServiceUsers}}
        <td class="uk-text-nowrap">
          {{#each topic.responsibleServiceUsers as |user index|}}
            {{~concat (if index ", " "") user.fullName~}}
          {{/each}}
        </td>
        {{/if}}
      </tr>
    {{else}}
      {{#unless this.topics.isLoading}}
        <tr>
          <td colspan={{this.colspan}} class="uk-text-center">
            {{t "communications.empty"}}
          </td>
        </tr>
      {{/unless}}
    {{/each}}
    {{#if this.topics.isLoading}}
      <tr>
        <td colspan={{this.colspan}} class="uk-text-center">
          <UkSpinner />
        </td>
      </tr>
    {{else if this.topics.hasMore}}
      <tr {{in-viewport onEnter=this.updatePage}}></tr>
    {{/if}}
  </tbody>
</table>