<div>
  <label>{{@label}}</label>
  <div class="radio-buttons">
    {{#each @options as |option|}}
      {{#let (concat @name "-" option.value) as |id|}}
        <div class="radio-buttons__button">
          <input
            id={{id}}
            type="radio"
            name={{@name}}
            value={{option.value}}
            checked={{eq @selected option.value}}
            {{on "change" (fn @onChange option.value)}}
          >
          <label for={{id}}>{{option.label}}</label>
        </div>
      {{/let}}
    {{/each}}
  </div>
</div>
