<h1>
  {{t "journal.title"}}
</h1>

{{#if this.newEntry}}
  <div class="form journal__create">
    <Textarea
      class="journal__new"
      @value={{this.newEntry.text}}
      cols="50"
      rows="10"
      aria-label="{{t "journal.textareaNew"}}"
    />

    <button
      type="button"
      class="button buttonstyle btn"
      {{on "click" this.cancelNewEntry}}
    >
      {{t "global.cancel"}}
    </button>
    <button
      type="button"
      class="button buttonstyle btn success"
      data-test-new-save
      {{on "click" (perform this.saveEntry this.newEntry)}}
    >
      {{t "global.save"}}
    </button>
  </div>
{{else}}
  {{#unless this.readOnly}}
    <button
      type="button"
      class="button buttonstyle btn success"
      data-test-new
      {{on "click" this.addNewEntry}}
    >
      {{t "journal.create"}}
    </button>
  {{/unless}}
{{/if}}

<div class="journal"  {{did-insert (perform this.fetchEntries)}}>
  {{#if this.fetchEntries.isRunning}}
    <LoadingText />
  {{else if this.entries.length}}
    {{#each this.entries as |entry|}}
      <fieldset>
        <legend class="journal__info">
          <span class="date">
            {{format-date
              entry.creationDate
              day="2-digit"
              month="2-digit"
              year="numeric"
              hour="2-digit"
              minute="2-digit"
              hour12=false
            }}
          </span> - 
          <span class="name">{{entry.user.fullName}}</span>
          {{#if entry.edit}}
            <div class="journal__edit__buttons">
              <button
                class="journal__edit__button"
                type="button"
                title={{t "global.cancel"}}
                {{on
                  "click"
                  (queue
                    (fn this.cancelEditEntry entry) (toggle "edit" entry)
                  )
                }}
              >
                <FaIcon @icon="ban" />
              </button>
              {{#unless this.readOnly}}
                <button
                  class="journal__edit__button"
                  type="button"
                  title={{t "global.save"}}
                  data-test-edit-save
                  {{on
                    "click"
                    (queue (perform this.saveEntry entry) (toggle "edit" entry))
                  }}
                >
                  <FaIcon @icon="save" />
                </button>
              {{/unless}}
            </div>
          {{else}}
            {{#unless this.readOnly}}
              <button
                class="journal__edit__button"
                type="button"
                title={{t "journal.edit"}}
                {{on "click" (toggle "edit" entry)}}
              >
                <FaIcon @icon="edit" />
              </button>
            {{/unless}}
          {{/if}}
        </legend>
        <div class="form journal__body">
          {{#if entry.edit}}
            <Textarea @value={{entry.text}} aria-label={{t "journal.textareaEdit"}} data-test-edit />
          {{else}}
            <span>{{entry.text}}</span>
          {{/if}}
        </div>
      </fieldset>
    {{/each}}
  {{else}}
    {{t "global.empty"}}
  {{/if}}
</div>