{{#if (can "add journal-entry")}}
  {{#if this.newEntry.edit}}
    <JournalTextarea
      @journalEntry={{this.newEntry}}
      @onSaveNewJournalEntry={{this.refetchEntries}}
    />
  {{else}}
    <UkButton
      @type="button"
      @color="primary"
      @on-click={{perform this.initializeNewEntry}}
      data-test-create
    >
      {{t "journal.create"}}
    </UkButton>
  {{/if}}

  <hr/>
{{/if}}

<div class="uk-margin" data-test-journal-list>
  {{#if this.fetchEntries.isRunning}}
    <LoadingText />
  {{else if this.entries.length}}
    <ul class="uk-comment-list">
      {{#each this.entries as |entry|}}
        <JournalEntry @journalEntry={{entry}} @onSaveNewJournalEntry={{this.refetchEntries}}/>
      {{/each}}
    </ul>
  {{else}}
    {{t "global.empty"}}
  {{/if}}
</div>
