<h1>
  {{#if (eq this.shoebox.content.application "kt_schwyz")}}
    {{t "journal.title-sz"}}
  {{else}}
    {{t "journal.title"}}
  {{/if}}
</h1>

{{#if (can "edit journal-entry")}}
  <JournalTextarea
    @journalEntry={{this.newEntry}}
    @onSaveNewJournalEntry={{this.refetchEntries}}
  />

  <hr/>
{{/if}}

<div class="uk-margin" data-test-journal-list>
  {{#if this.fetchEntries.isRunning}}
    <LoadingText />
  {{else if this.entries.length}}
    <ul class="uk-comment-list">
      {{#each this.entries as |entry|}}
        <JournalEntry @journalEntry={{entry}} @onSaveNewJournalEntry={{this.refetchEntries}}/>
      {{/each}}
    </ul>
  {{else}}
    {{t "global.empty"}}
  {{/if}}
</div>
