<tr>
  <td><LinkTo @route="audit.edit" @model={{@audit.id}}>{{@audit.type}}</LinkTo></td>
  <td>{{@audit.municipality.name}}</td>
  <td>
    {{#if (and @audit.modifiedByUser @audit.modifiedByService @audit.modifiedAt)}}
      {{t "audit.modifiedText"
        user=@audit.modifiedByUser.fullName
        service=@audit.modifiedByService.name
        date=(format-date @audit.modifiedAt format="datetime")
        htmlSafe=true
      }}
    {{else}}
      -
    {{/if}}
  </td>
  <td class="uk-text-right">
    <IconButton
      @icon="file-pdf"
      @loading={{this.pdf.isRunning}}
      @onClick={{perform this.pdf}}
      title={{t "audit.createPdf"}}
    />
    {{#if (can "edit work item of audit" @workItem)}}
      <IconButton
        @icon="copy"
        @loading={{this.copy.isRunning}}
        @onClick={{perform this.copy}}
        title={{t "audit.copy"}}
      />
    {{/if}}
    {{#if (can "edit audit" @workItem audit=@audit)}}
      <IconButton
        @icon="trash"
        @loading={{this.delete.isRunning}}
        @onClick={{perform this.delete}}
        title={{t "audit.delete"}}
      />
    {{/if}}
  </td>
</tr>
