<tr>
  {{#if (this.hasColumn "date")}}
    <td>{{format-date this.date format="date"}}</td>
  {{/if}}
  {{#if (this.hasColumn "type")}}
    <td>{{this.type}}</td>
  {{/if}}
  {{#if (this.hasColumn "title")}}
    <td class="uk-text-truncate" title={{this.title}}>{{this.title}}</td>
  {{/if}}
  {{#if (this.hasColumn "legal-claimants")}}
    <td>{{this.legalClaimants}}</td>
  {{/if}}
  {{#if (this.hasColumn "status")}}
    <td>{{this.status}}</td>
  {{/if}}
  {{#if (this.hasColumn "withdrawn")}}
    <td>{{t (concat "global." (if this.withdrawn "yes" "no"))}}</td>
  {{/if}}
  <td>
    <div class="uk-flex uk-flex-middle uk-flex-right">
      <LinkTo
        @route={{module-route "legal-submission" "edit"}}
        @model={{decode-id @legalSubmission.id}}
        class="uk-button uk-button-link"
      >
        <UkIcon @icon="pencil" />
      </LinkTo>
      {{#if (can "edit legal-submission" @workItem)}}
        <UkButton
          @color="link"
          @loading={{this.delete.isRunning}}
          @disabled={{this.delete.isRunning}}
          @onClick={{perform this.delete}}
          class="uk-margin-small-left"
          title={{t "global.delete"}}
        >
          <UkIcon @icon="trash" />
        </UkButton>
      {{/if}}
    </div>
  </td>
</tr>
