<div class="uk-box-shadow-small uk-inline">
  <button
    type="button"
    uk-icon="download"
    class="uk-position-top-right uk-button uk-button-link uk-margin-small-top uk-margin-small-right"
    {{uk-tooltip (t "link-attachments.download")}}
    {{on "click" (perform @attachment.download)}}
    data-test-download
  ></button>
  {{#if @onToggle}}
    <button
      type="button"
      class="link-attachments__preview"
      style={{this.style}}
      {{on "click" (fn @onToggle @attachment.id)}}
      data-test-toggle
    >
      <LinkAttachments::Overlay @attachment={{@attachment}} @selected={{@selected}} />
    </button>
  {{else}}
    <div class="link-attachments__preview" style={{this.style}}>
      <LinkAttachments::Overlay @attachment={{@attachment}} @selected={{@selected}} />
    </div>
  {{/if}}
</div>