{{#unless this.isCheck}}
  <label class="uk-form-label uk-text-bold">{{t "documents.claims"}}</label>
  <div
    uk-grid="masonry: next"
    class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m"
    {{did-insert (perform this.fetchAttachments)}}
    {{will-destroy this.teardown}}
  >
    {{#each this.buckets as |bucket|}}
      <BeDocumentBucket
        @slug={{bucket}}
        @disabled={{@disabled}}
        @deletable={{not @disabled}}
        @loading={{this.fetchAttachments.isRunning}}
        @attachments={{get this.attachments bucket}}
        @useConfidential={{this.useConfidential}}
        @onUpload={{perform this.add}}
        @onDelete={{perform this.remove}}
      />
    {{/each}}
  </div>
{{/unless}}