<UkButton
  data-test-apply
  @color="primary"
  @label={{t "gis.apply"}}
  @onClick={{perform this.getData}}
  @disabled={{or @disabled this.getData.isRunning}}
  @loading={{this.getData.isRunning}}
/>

<UkModal
  @visible={{this.showModal}}
  @onHide={{fn (mut this.showModal) false}}
  as |modal|
>
  <modal.body>
    <ul class="uk-list uk-list-divider">
      {{#each-in this.data as |question data|}}
        {{#unless data.hidden}}
          {{#if data.form}}
            {{! table question }}
            {{#each data.value as |row i|}}
              <li data-test-gis-data-row>
                <p
                  class="uk-text-bold uk-margin-remove"
                  data-test-gis-data-label
                >
                  {{data.label}}
                  {{#if (gt data.value.length 1)}}
                    {{t "gis.row-count" count=(add i 1)}}
                  {{/if}}
                </p>
                <table
                  class="uk-table uk-table-small uk-table-divider uk-table-justify uk-margin-remove"
                >
                  <tbody>
                    {{#each-in row as |rowQuestion rowData|}}
                      <tr>
                        <td
                          data-test-gis-data-table-label
                        >{{rowData.label}}</td>
                        <td data-test-gis-data-table-value>{{or
                            rowData.displayValue
                            rowData.value
                            "-"
                          }}</td>
                      </tr>
                    {{/each-in}}
                  </tbody>
                </table>
              </li>
            {{/each}}
          {{else}}
            <li data-test-gis-data-row>
              <p
                class="uk-text-bold uk-margin-remove"
                data-test-gis-data-label
              >{{data.label}}</p>
              {{#if (is-array data.value)}}
                {{! multiple choice question }}
                <ul class="uk-list uk-list-hyphen" data-test-gis-data-value>
                  {{#each data.value as |option|}}
                    <li>{{or option.displayValue option.value "-"}}</li>
                  {{/each}}
                </ul>
              {{else}}
                {{! regular question }}
                <p class="uk-margin-remove" data-test-gis-data-value>{{or
                    data.displayValue
                    data.value
                    "-"
                  }}</p>
              {{/if}}
            </li>
          {{/if}}
        {{/unless}}
      {{/each-in}}
    </ul>
  </modal.body>

  <modal.footer class="uk-flex">
    <div class="uk-width-expand uk-flex uk-flex-middle uk-margin-small-right">
      {{#if this.applyData.isRunning}}
        <progress class="uk-progress uk-margin-remove" value={{this.appliedAnswers}} max={{this.totalAnswers}}></progress>
      {{/if}}
    </div>

    <div>
      {{#unless this.applyData.isRunning}}
        <UkButton
          @label={{t "global.cancel"}}
          @onClick={{fn (mut this.showModal) false}}
        />
      {{/unless}}

      <UkButton
        @color="primary"
        @label={{t "global.save"}}
        @onClick={{perform this.applyData}}
        @disabled={{this.applyData.isRunning}}
        @loading={{this.applyData.isRunning}}
        data-test-confirm
      />
    </div>
  </modal.footer>
</UkModal>