{{#if (and this.entries.isRunning (not this.entries.value))}}
  <div class="uk-text-center uk-padding">
    <UkSpinner @ratio={{2}} />
  </div>
{{else}}
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th></th>
        <th>{{t "history.event"}}</th>
        <th>{{t "global.date"}}</th>
        <th>{{t "global.from"}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#if this.entries.value.length}}
        {{#each this.entries.value as |entry|}}
          <tr data-test-history-row={{entry.id}}>
            <td>
              <FaIcon
                uk-tooltip
                title={{t (concat "history.types." entry.historyType)}}
                container=".uk-table"
                @fixedWidth={{true}}
                @icon={{entry.icon}}
              />
            </td>
            <td>
              <div>
                {{entry.title}}
                {{#if (and entry.body entry.expand)}}
                  <hr class="uk-margin-small-top uk-margin-small-bottom">
                  <span class="uk-text-italic multi-line-text" data-test-history-body>{{entry.body}}</span>
                {{/if}}
              </div>
            </td>
            <td class="uk-text-nowrap">
              {{format-date entry.createdAt format="datetime"}}
            </td>
            <td class="uk-text-nowrap">
              {{entry.user.fullName}}
            </td>
            <td>
              {{#if entry.body}}
                <UkButton
                  @color="link"
                  @onClick={{toggle "expand" entry}}
                  title={{t (if entry.expand "history.collapse" "history.expand")}}
                  class="uk-flex-inline table-controls"
                  data-test-history-toggle
                >
                  <UkIcon @icon="arrow-{{if entry.expand "up" "down"}}" />
                </UkButton>
              {{/if}}
            </td>
          </tr>
        {{/each}}
        {{#if this.entries.isRunning}}
          <tr>
            <td class="uk-text-center" colspan="5">
              <UkSpinner />
            </td>
          </tr>
        {{else if this.hasNextPage}}
          <tr>
            <td class="center" colspan="5">
              <a href="" {{on "click" this.loadMore}}>
                {{t "global.loadMore"}}
              </a>
            </td>
          </tr>
        {{/if}}
      {{else}}
        <tr>
          <td class="center" colspan="5">
            {{t "global.empty"}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
{{/if}}