<div class="uk-card uk-card-default uk-card-small uk-margin-bottom">
  <div class="uk-card-header uk-flex uk-flex-between">
    <p class="uk-margin-remove-bottom uk-text-bold">{{@journalEntry.user.fullName}}</p>
    <div class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
      <div>
        <span class="uk-margin-small-right">
          {{format-date @journalEntry.creationDate format="datetime"}}
        </span>
        {{#if this.displayJournalEntryDuration}}
            <span uk-icon="icon: future; ratio: 0.7" />
            <span class="uk-margin-small-right inline-icon-margin">
              {{@journalEntry.duration}}
            </span>
        {{/if}}

        <div title={{if
            @journalEntry.visibility
            (t "journal.visibleForAuthorities")
            (t "journal.visibleForOwnOrganization")
             }}>
          <FaIcon
            @icon={{if @journalEntry.visibility "eye" "eye-slash"}}
            @fixedWidth={{true}}
          />
        </div>
      </div>
      {{#if (and (can "edit journal-entry" @journalEntry) (not @journalEntry.edit))}}
        <div>
          <UkButton
            @color="text"
            @type="button"
            @title={{t "journal.edit" }}
            @onClick={{toggle "edit" @journalEntry}}
            data-test-edit-entry
          >
            {{t "journal.edit"}}
          </UkButton>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="uk-card-body">
    {{#if @journalEntry.edit}}
      <JournalTextarea
        @journalEntry={{@journalEntry}}
        @showJournalEntryDuration={{@showJournalEntryDuration}}
      />
    {{else}}
      <span class="multi-line-text" data-test-journal-text>{{@journalEntry.text}}</span>
    {{/if}}
  </div>
</div>