<div>
  <Textarea
    class="uk-textarea"
    @value={{@journalEntry.text}}
    rows="5"
    aria-label="{{t "journal.textareaEdit"}}"
    {{autoresize mode="height"}}
    data-test-textarea
  />
  <form class="uk-flex uk-flex-between uk-form-horizontal uk-margin-top">
    <div class="uk-flex uk-flex-middle">
      <UkToggleSwitch
        @value={{@journalEntry.visibility}}
        @offLabel=""
        @onLabel={{t "journal.visibleForAuthorities"}}
        @showLabels={{true}}
        @size="small"
        @onToggle={{fn (mut @journalEntry.visibility)}}
        title={{t "journal.visibility"}}
        class="x-small"
      />
      {{#if @showJournalEntryDuration}}
        <div class="uk-flex uk-flex-middle uk-margin-medium-left">
          <input
            id="journal-duration"
            autocomplete="off"
            value={{or @journalEntry.duration "00:00"}}
            maxlength="5"
            name="duration"
            class="uk-input uk-form-width-xsmall
              {{unless this.isValidDuration "uk-form-danger"}}"
            type="text"
            {{on "input" this.validateDuration}}
          />
          <div class="uk-margin-small-left uk-text-uppercase">
            <label for="journal-duration">
              {{t "journal.duration"}}
            </label>
          </div>
        </div>
      {{/if}}
    </div>
    <div>
      <UkButton
        @type="button"
        @onClick={{fn this.cancelEditEntry @journalEntry}}
      >
        {{t "global.cancel"}}
      </UkButton>
      <UkButton
        @type="button"
        @color="primary"
        @disabled={{and @showJournalEntryDuration (not this.isValidDuration)}}
        @onClick={{perform this.saveEntry @journalEntry}}
        data-test-save
      >
        {{t "global.save"}}
      </UkButton>
    </div>
  </form>
</div>