<LinkAttachments::Modal
  @visible={{this.showModal}}
  @onHide={{fn (mut this.showModal) false}}
  @disabled={{@disabled}}
  @section={{this.attachmentSection.record}}
  @hasUpload={{this.hasUploadPermission.value}}
  @selected={{@field.answer.value}}
  @instanceId={{this.instanceId}}
  @isLoading={{this.isLoading}}
  @save={{this.save}}
  as |selectedAttachments|
>
  <div class="uk-grid-small" uk-grid>
    {{#each selectedAttachments as |attachment|}}
      <div>
        <LinkAttachments::Attachment
          @attachment={{attachment}}
          @selected={{true}}
        />
      </div>
    {{/each}}
    {{#if (and @disabled (not this.selectedAttachments.length))}}
      <div class="uk-text-italic uk-margin-small-top">{{t
          "link-attachments.no-selected"
        }}</div>
    {{else if (not @disabled)}}
      <div class="uk-flex uk-flex-middle">
        <button
          type="button"
          uk-icon={{if this.selectedAttachments.length "pencil" "plus"}}
          class="uk-icon-button
            {{unless this.selectedAttachments.length 'uk-margin-small-top'}}"
          {{on "click" (fn (mut this.showModal) true)}}
        ></button>
      </div>
    {{/if}}
  </div>

</LinkAttachments::Modal>
