{{#if this.staticContent.isRunning}}
  <UkSpinner @ratio={{2}} />
{{else}}
  <div class="uk-position-relative">
    {{#if this.edit}}
      <Textarea @value={{this.data.value.content}} rows="10" class="uk-textarea" aria-label={{t "static-content.content"}} />
      <div class="uk-text-right uk-margin">
        <UkButton @onClick={{this.reset}}>{{t "global.cancel"}}</UkButton>
        <UkButton @color="primary" @loading={{this.save.isRunning}} @onClick={{perform this.save}}>{{t "global.save"}}</UkButton>
      </div>
      <hr>
    {{else if (can "edit static-content")}}
      <UkButton
        class="uk-position-top-right uk-margin-right uk-margin-top"
        @color="link"
        @onClick={{set this "edit" true}}
      >
        {{t "static-content.edit"}}
      </UkButton>
    {{/if}}

    <MarkdownToHtml class="markdown-content" @markdown={{or this.data.value.content}} />
  </div>
{{/if}}