{{#unless @disabled}}
  <div>
    <UkButton
      @onClick={{perform this.search}}
      @loading={{this.search.isRunning}}
    >
      {{t "gis.findParcel"}}
    </UkButton>
  </div>
{{/unless}}

<LeafletMap
  @lat={{this.latlng.lat}}
  @lng={{this.latlng.lng}}
  @zoom={{this.zoom}}
  @minZoom={{this.minZoom}}
  @maxZoom={{this.maxZoom}}
  @onClick={{perform this.getFeatures value="latlng"}}
  @onLoad={{perform this.handleLoad}}
  class="uk-width-1-1 uk-height-large uk-margin" as |map|
>
  <map.wms-tile
    @transparent={{true}}
    @format="image/png"
    @version="1.1.1"
    @layers={{this.layers}}
    @url={{this.config.gisUrl}}
  />

  {{#each this.parcels as |parcel|}}
    <map.polygon
      @locations={{parcel.coordinates}}
      @clickable={{false}}
      @color="red"
    >
      {{#if parcel.number}}
        <TooltipLayer @sticky={{true}}>
          <strong>
            {{parcel.number}} {{parcel.municipality}}
          </strong>

          <i>
            {{parcel.egrid}}
          </i>
        </TooltipLayer>
      {{/if}}
    </map.polygon>
  {{/each}}
</LeafletMap>

<p>{{t "gis.info-text-ur"}}</p>

{{#each this.parcels as |parcel|}}
  <p>{{parcel.parcelInfo}}<br>{{parcel.nutzungInfo}}</p>
{{/each}}

{{#unless @disabled}}
  <div>
    <UkButton
      class="uk-margin-small-top"
      @disabled={{not this.parcels}}
      @loading={{or this.getFeatures.isRunning this.applySelection.isRunning}}
      @onClick={{perform this.applySelection}}
    >
      {{t "gis.submitParcel"}}
    </UkButton>
  </div>
{{/unless}}