<A11yLandmark @tagName="main">
  <OfflineNotify>
    <div class="uk-text-center uk-padding-small uk-background-primary uk-light">
      Sie sind nicht mit dem Internet verbunden. Bitte verbinden Sie sich
      wieder, damit die Anwendung funktioniert!
    </div>
  </OfflineNotify>

  <ServiceWorkerUpdateNotify>
    <div
      class="uk-text-center uk-padding-small uk-background-secondary uk-light"
    >
      <a class="service-worker-update-notify" href="">
        Es existiert eine neue Version der Anwendung, klicken Sie hier um sie zu laden.
      </a>
    </div>
  </ServiceWorkerUpdateNotify>

  <div class="uk-container">
    {{#unless isEmbedded}}
      <UkFlex
        @horizontal="center"
        @vertical="middle"
        @direction="column"
        class="uk-padding"
      >
        <LinkTo
          @route="index"
          class="uk-padding uk-link-reset uk-width-1-1 uk-width-large@m"
        >
          <div class="uk-width-1-1 uk-position-relative">
            <img
              class="uk-width-1-1"
              src="/assets/images/logo-kanton-schwyz.svg"
              alt="Kanton Schwyz"
            />
            <span class="uk-position-bottom-left uk-margin-medium-bottom">
              v{{app-version hideSha=true}}
            </span>
            {{#unless (eq environment "production")}}
              <UkLabel
                @label={{environment}}
                class="uk-position-bottom-left uk-margin-small-bottom"
              />
            {{/unless}}
          </div>
        </LinkTo>
        <div>
          <LinkTo
            @route="index"
            title="Startseite"
            class="uk-icon-button uk-animation-fade"
            uk-icon="home"
          ></LinkTo>
          <a
            title="Profil"
            class="uk-icon-button uk-animation-fade uk-margin-left"
            uk-icon="user"
            href="{{profileURL}}"
            target="_blank"
            rel="noopener noreferrer"
          ></a>
          {{#if session.isAuthenticated}}
            <button
              title="Ausloggen"
              class="uk-icon-button uk-animation-fade uk-margin-left"
              uk-icon="sign-out"
              {{action (transition-to "logout")}}
              type="button"
            ></button>
          {{/if}}
        </div>
      </UkFlex>
    {{/unless}}

    <div class="uk-padding uk-padding-remove-horizontal uk-animation-fade">
      <FocusingOutlet @outletState={{-get-dynamic-var "outletState"}}/>
    </div>
  </div>
</A11yLandmark>

<div id="modal-container"></div>