<table class="uk-table uk-table-divider uk-table-striped" ...attributes>
  <thead>
    <tr>
      {{#if this.highlight}}
        <th>
          <span hidden>{{t "workItems.actions.highlight"}}</span>
        </th>
      {{/if}}
      {{#each @columns as |column|}}
        <th>{{t (concat "workItems." column)}}</th>
      {{/each}}
      <th>
        <span hidden>{{t "workItems.actions.title"}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each @query.value as |workItem|}}
      <WorkItemList::Item @workItem={{workItem}} @columns={{@columns}} @highlight={{this.highlight}} />
    {{else}}
      <tr>
        <td colspan={{this.colspan}} class="uk-text-center">
          {{#if @query.isLoading}}
            <UkSpinner />
          {{else}}
            {{t "global.empty"}}
          {{/if}}
        </td>
      </tr>
    {{/each}}

    {{#if @query.hasNextPage}}
      <tr>
        <td colspan={{this.colspan}} class="uk-text-center">
          {{#if @query.isLoading}}
            <UkSpinner @ratio="0.5" />
          {{else}}
            <button type="button" class="uk-button uk-button-link" {{on "click" @query.fetchMore}}>
              {{t "global.loadMore"}}
            </button>
          {{/if}}
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>

<PaginationInfo @query={{@query}} />
