<div uk-grid class="uk-grid-small">
  <div class="uk-width-auto uk-flex uk-flex-top uk-flex-center">
    {{#if @claim.isAnswered}}
      <UkIcon @icon="check" @ratio="2" class="uk-text-success" />
    {{else if @claim.isOverdue}}
      <UkIcon @icon="warning" @ratio="2" class="uk-text-warning" />
    {{else}}
      <UkIcon @icon="question" @ratio="2" class="uk-text-muted" />
    {{/if}}
  </div>
  <div class="uk-width-expand">
    <header>
      <h4 class="uk-margin-remove">{{or @claim.service.name "-"}}</h4>
      <ul class="uk-subnav uk-subnav-divider uk-margin-remove-top">
        {{#if @claim.isAnswered}}
          <li>
            <a
              href="#"
              title={{format-date @claim.answered.answer.value format="date"}}
              pos="bottom"
              delay="200"
              uk-tooltip
            >
              {{t "claims.answered"}} {{format-date @claim.answered.answer.value format="date"}}
            </a>
          </li>
        {{else}}
          <li>
            <a
              href="#"
              class={{if @claim.isOverdue "uk-text-warning"}}
              title={{format-date @claim.deadline.answer.value format="date"}}
              pos="bottom"
              delay="200"
              uk-tooltip
            >
              {{t "claims.deadline"}} {{date-from-now @claim.deadline.answer.value}}
            </a>
          </li>
        {{/if}}
        {{#if @onEdit}}
          <li>
            <a href="#" {{on "click" (fn @onEdit @claim)}}>
              {{t (if @claim.isAnswered "claims.showAnswer" "claims.answer")}}
            </a>
          </li>
        {{/if}}
        {{#if @onCancel}}
          <li>
            <a href="#" {{on "click" @onCancel}}>
              {{t (if @claim.isAnswered "global.back" "global.cancel")}}
            </a>
          </li>
        {{/if}}
      </ul>
    </header>
    <CfFieldValue @field={{@claim.description}} @tagName="p" class="white-space-pre-line" />
  </div>
</div>