{{#if this.invalidFields.length}}
  <strong>{{t "submit.warning"}}</strong>
  <br>
  <ul class="uk-list uk-list-bullet">
    {{#each this.invalidFields as |invalidField|}}
      <li>
        <LinkTo @query={{hash displayedForm=invalidField.fieldset.form.slug}}>{{invalidField.question.label}}</LinkTo>
      </li>
    {{/each}}
  </ul>
{{/if}}

<UkButton
  @disabled={{this.buttonDisabled}}
  @label={{@field.question.label}}
  @loading={{this.submit.isRunning}}
  @on-click={{perform this.submit}}
  {{in-viewport onEnter=(perform this.validate)}}
/>

{{#if this.submit.isRunning}}
  <span class="uk-text-muted uk-margin-small-left uk-animation-fade">{{t "be-submit-instance.loading"}}</span>
{{/if}}