<tr>
  {{#if (can "charge billing-v2-entries")}}
    <td data-test-entry-charge>
      <input
        type="checkbox"
        class="uk-checkbox"
        aria-label={{t "billing.toggle-row"}}
        title={{t "billing.toggle-row"}}
        disabled={{not-eq @entry.dateCharged null}}
        checked={{or (not-eq @entry.dateCharged null) @selected}}
        data-test-toggle
        {{on "change" this.toggle}}
      >
    </td>
  {{/if}}
  <td data-test-entry-text>
    {{@entry.text}}
    {{#if (and (has-feature "billing.legalBasis") @entry.legalBasis)}}
      <span class="uk-text-italic">({{@entry.legalBasis}})</span>
    {{/if}}
  </td>
  {{#if (has-feature "billing.displayService")}}
    <td data-test-entry-service>{{@entry.group.service.name}}</td>
  {{else}}
    <td data-test-entry-group>{{@entry.group.name}}</td>
  {{/if}}
  <td data-test-entry-user>{{@entry.user.fullName}}</td>
  <td data-test-entry-amount>{{@entry.amount}}</td>
  <td class="uk-text-right" data-test-entry-final-rate>
    {{format-number @entry.finalRate minimumFractionDigits=2}}
  </td>
  <td data-test-entry-added>{{format-date @entry.dateAdded format="date"}}</td>
  {{#if (has-feature "billing.charge")}}
    <td data-test-entry-charged>{{format-date @entry.dateCharged format="date"}}</td>
  {{/if}}
  {{#if (has-feature "billing.organization")}}
    <td data-test-entry-organization>{{if @entry.organization (t (concat "billing.organizations." @entry.organization))}}</td>
  {{/if}}
  {{#if (has-feature "billing.billingType")}}
    <td data-test-entry-billing-type>
      {{#if @entry.billingType}}
        {{t (concat "billing.billing-types." @entry.billingType)}}
        {{#if (and (has-feature "billing.costCenter") @entry.costCenter)}}
          <br>
          <span class="uk-text-italic">({{t "billing.cost-center-short"}} {{@entry.costCenter}})</span>
        {{/if}}
      {{/if}}
    </td>
  {{/if}}
  {{#if (can "edit billing-v2-entries")}}
    <td data-test-entry-delete>
      {{#if (can "delete billing-v2-entry" @entry)}}
        <button
          type="button"
          class="uk-button uk-button-link"
          data-test-delete
          {{on "click" (perform this.delete)}}
        >
          <UkIcon @icon="trash" />
        </button>
      {{/if}}
    </td>
  {{/if}}
</tr>