<h1>{{t "publicInstances.title"}}</h1>

{{#if (has-feature "publication.municipalityFilter")}}
  <div>
    <label class="uk-form-label" for="type">{{t "instances.municipality"}}</label>
    <div class="uk-form-controls">
      <PowerSelect
        @selected={{this.selectedMunicipality}}
        @options={{this.municipalities}}
        @searchEnabled={{true}}
        @searchField="label"
        @onChange={{this.updateMunicipality}}
      as |option|>
        {{option.label}}
      </PowerSelect>
    </div>
  </div>
{{/if}}

{{#if (and this.fetchInstances.isRunning (eq this.instances.length 0))}}
  <div class="uk-text-center uk-padding">
    <UkSpinner @ratio={{2}} />
  </div>
{{else if this.instances.length}}
  <table class="uk-table uk-table-striped uk-table-hover uk-table-responsive">
    <thead>
      <tr>
        <th class="uk-text-nowrap">{{t (concat "instances.special-id-" (application-name))}}</th>
        <th class="uk-text-nowrap">{{t "instances.municipality"}}</th>
        <th class="uk-text-nowrap">{{t "publicInstances.applicant"}}</th>
        <th class="uk-text-nowrap">{{t (concat "instances.description-" (application-name))}}</th>
        <th class="uk-text-nowrap">{{t (concat "instances.address-" (application-name))}}</th>
        <th class="uk-text-nowrap">{{t "instances.parcel"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.instances as |publicInstance|}}
        <tr>
          <td>
            <LinkTo
              class="uk-text-bold"
              @route="public-instances.detail"
              @model={{publicInstance.instanceId}}
            >
              {{publicInstance.dossierNr}}
            </LinkTo>
          </td>
          <td>{{publicInstance.municipality}}</td>
          <td>{{publicInstance.applicant}}</td>
          <td>{{publicInstance.intent}}</td>
          <td>{{publicInstance.street}}</td>
          <td>{{publicInstance.parcels}}</td>
        </tr>
      {{/each}}
      {{#if this.hasNextPage}}
        <tr>
          <td
            colspan="6"
            class="uk-text-center"
            {{in-viewport onEnter=(perform this.fetchMore) viewportSpy=true}}
          >
            <UkSpinner />
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
{{else}}
  <UkFlex @horizontal="center" @vertical="middle" @direction="column">
    <div class="uk-text-center uk-width-large">
      <object data="/assets/images/stamp-document.svg" class="uk-width-medium">{{t "publicInstances.emptyTitle"}}</object>
      <p class="uk-margin-remove-top uk-text-large">{{t "publicInstances.emptyTitle"}}</p>
      <p>{{t "publicInstances.emptyText"}}</p>
    </div>
  </UkFlex>
{{/if}}