<SubNavigation @instanceId={{@model}} />

{{#if this.useFullScreen}}
  <div class="full-screen-content">
    {{outlet}}
  </div>
{{else}}
  <div class="uk-container main-content with-sidebar">
    {{! template-lint-disable no-bare-strings}}
    <h2>{{this.case.form}} {{or this.case.dossierNumber "-"}}</h2>
    {{! template-lint-enable no-bare-strings}}
    <div class="uk-child-width-1-4@s uk-text-left uk-margin-bottom" uk-grid>
      <div>
        <div class="uk-text-bold">{{t "cases.header.address"}}</div>
        {{or this.case.address "-"}}
      </div>
      <div>
        <div class="uk-text-bold">{{t "cases.header.plot"}}</div>
        {{or this.case.plot "-"}}
      </div>
      <div>
        <div class="uk-text-bold">{{t "cases.header.applicant"}}</div>
        {{or this.case.applicants "-"}}
      </div>
      {{!-- <div>
        <div class="uk-text-bold">{{t "cases.header.tags"}}</div>
        <input aria-label={{t "cases.header.tags"}}>
      </div> --}}
      <div>
        <div class="uk-text-bold">{{t "cases.header.municipality"}}</div>
        {{or this.case.municipality "-"}}
      </div>
      <div>
        <div class="uk-text-bold">{{t "cases.header.responsible"}}</div>
        {{or this.case.responsible "-"}}
      </div>
      <div>
        <div class="uk-text-bold">{{t "cases.header.submitDate"}}</div>
        {{or this.case.submitDate "-"}}
      </div>
      <div>
        <div class="uk-text-bold">{{t "cases.header.printPreview"}}</div>
        <span uk-icon="icon: file-pdf"></span><a href="#" {{on "click" (perform this.downloadPdf)}}>{{t "cases.header.form"}}</a>
      </div>
      <div>
        <div class="uk-text-bold">{{t "cases.header.description"}}</div>
        {{or this.case.description "-"}}
      </div>

    </div>
    <hr>

    {{outlet}}
  </div>
{{/if}}
