<aside class="nav-sidebar uk-navbar-container">
  <SubnavHeader @case={{this.case}} />
  <SubNavigation @instanceId={{@model.id}} />
</aside>

{{#if this.useFullScreen}}
  <div class="full-screen-content">
    {{outlet}}
  </div>
{{else}}
  <div class="uk-container main-content with-sidebar">
    <CaseHeader @case={{this.case}} />

    {{outlet}}
  </div>
{{/if}}
