<span {{did-insert (perform this.fetchData)}}></span>

{{#if (and this.fetchData.isRunning (not this.fetchData.lastSuccessful))}}
  <div class="uk-text-center">
    <UkSpinner @ratio={{2}} />
  </div>
{{else}}
  <table class="uk-table uk-table-striped uk-table-small uk-table-middle">
    <thead>
      <tr>
        <th>{{t "responsible.organisation"}}</th>
        <th>{{t "responsible.responsiblePerson"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.responsibilities as |responsibility|}}
        <tr>
          <td>{{responsibility.service.name}}</td>
          <td>{{responsibility.responsibleUser.fullName}}</td>
        </tr>
      {{else}}
        <tr><td class="uk-text-center" colspan="2">{{t "global.empty"}}</td></tr>
      {{/each}}
    </tbody>
  </table>

  {{#if (can "edit responsible-service")}}
    <form {{on "submit" (perform this.saveResponsibility)}} class="uk-form-stacked">
      <label class="uk-form-label" for="responsible-user-select">
        {{t "responsible.responsible"}}
      </label>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-expand">
          <PowerSelect
            @searchEnabled={{true}}
            @searchField="fullName"
            @renderInPlace={{true}}
            @options={{this.users}}
            @selected={{this.selectedUser}}
            @noMatchesMessage={{t "global.noMatch"}}
            @onChange={{fn (mut this.selectedUser)}}
            @allowClear={{true}}
            class="uk-form-controls"
            id="responsible-user-select"
            data-test-responsible-user-select as |user|
          >
            {{user.fullName}}
          </PowerSelect>
        </div>
        <div>
          <div class="uk-text-right uk-margin">
            <UkButton
              @disabled={{or (not this.selectedUser) this.saveResponsibility.isRunning}}
              @color="primary"
              @type="submit"
              @loading={{this.saveResponsibility.isRunning}}
              data-test-save-responsible
            >
              {{t "global.save"}}
            </UkButton>
          </div>
        </div>
      </div>
    </form>
  {{/if}}
{{/if}}
