{{#camac-form instance=model.instance meta=model.meta as |form|}}
  {{form.input 'arbeitssicherheit-planbesprechung'}}
  {{form.input 'arbeitssicherheit-tangiert'}}
  {{#form.input 'arbeitssicherheit-arbeitnehmer-raumen'}}
    <h4>Arbeitnehmer</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-arbeitnehmer-betrieb'}}
  {{#form.input 'arbeitssicherheit-arbeitsraume-hohe'}}
    <h4>Arbeitsräume</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-arbeitsraume-fensterflache'}}
  {{form.input 'arbeitssicherheit-arbeitsraume-bodenflache-fensterflache'}}
  {{form.input 'arbeitssicherheit-arbeitsraume-brustungshohen'}}
  {{#form.input 'arbeitssicherheit-ausgange-lage-treppenhause'}}
    <h4>Ausgänge</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-ausgange-laufbreite'}}
  {{form.input 'arbeitssicherheit-ausgange-material'}}
  {{form.input 'arbeitssicherheit-ausgange-fluchtwege'}}
  {{form.input 'arbeitssicherheit-ausgange-arten'}}
  {{form.input 'arbeitssicherheit-ausgange-schliessystem'}}
  {{#form.input 'arbeitssicherheit-luftung-art'}}
    <h4>Lüftung</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-luftung-absaugungen'}}
  {{form.input 'arbeitssicherheit-luftung-verunreinigte-luft'}}
  {{#form.input 'arbeitssicherheit-beleuchtung-raumbeleuchtung'}}
    <h4>Beleuchtung</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-beleuchtung-not-und-markierungsbeleuchtung'}}
  {{#form.input 'arbeitssicherheit-innerbetriebliche-emissionen-raumklima'}}
    <h4>Innerbetriebliche Emissionen</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-innerbetriebliche-emissionen-erschütterungen'}}
  {{form.input 'arbeitssicherheit-innerbetriebliche-emissionen-larm'}}
  {{form.input 'arbeitssicherheit-innerbetriebliche-emissionen-nachweis'}}
  {{#form.input 'arbeitssicherheit-betriebseinrichtungen-arbeitsmittel'}}
    <h4>Betriebseinrichtungen</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-betriebseinrichtungen-produktionsanlagen'}}
  {{form.input 'arbeitssicherheit-betriebseinrichtungen-aufstellungsplan'}}
  {{form.input 'arbeitssicherheit-betriebseinrichtungen-ergonomie'}}
  {{#form.input 'arbeitssicherheit-gesundheitsschadliche-stoffe-auflistung'}}
    <h4>Gesundheitsschädliche, ätzende, brand- oder explosionsgefährliche Stoffe</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-gesundheitsschadliche-stoffe-verwendung'}}
  {{form.input 'arbeitssicherheit-gesundheitsschadliche-stoffe-uberwachung'}}
  {{form.input 'arbeitssicherheit-gesundheitsschadliche-stoffe-ex-zonen'}}
  {{form.input 'arbeitssicherheit-gesundheitsschadliche-stoffe-ort-menge-luftung'}}
  {{#form.input 'arbeitssicherheit-schweissanlagen-art'}}
    <h4>Schweissanlagen</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-schweissanlagen-abschirmung'}}
  {{form.input 'arbeitssicherheit-schweissanlagen-absaugung'}}
  {{#form.input 'arbeitssicherheit-forderanlagen-aufzuge'}}
    <h4>Förderanlagen, Fördermittel</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-forderanlagen-krane'}}
  {{form.input 'arbeitssicherheit-forderanlagen-hebebuhnen'}}
  {{form.input 'arbeitssicherheit-forderanlagen-anpassrampen'}}
  {{form.input 'arbeitssicherheit-forderanlagen-fordereinrichtungen'}}
  {{form.input 'arbeitssicherheit-forderanlagen-stapeleinrichtungen'}}
  {{#form.input 'arbeitssicherheit-lager-gefrierraume'}}
    <h4>Lager und Lagereinrichtungen</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-lager-silos'}}
  {{form.input 'arbeitssicherheit-lager-lagersysteme'}}
  {{form.input 'arbeitssicherheit-lager-chemikalien'}}
  {{#form.input 'arbeitssicherheit-oberflachenbehandlungsanlagen-vorbehandeln'}}
    <h4>Oberflächenbehandlungsanlagen</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-oberflachenbehandlungsanlagen-galvanisieren'}}
  {{form.input 'arbeitssicherheit-oberflachenbehandlungsanlagen-farbspritzen'}}
  {{form.input 'arbeitssicherheit-oberflachenbehandlungsanlagen-pulverbeschichten'}}
  {{#form.input 'arbeitssicherheit-sozialraume-anzahl'}}
    <h4>Sozialräume</h4>
  {{/form.input}}
  {{form.input 'arbeitssicherheit-sozialraume-waschanlagen'}}
  {{form.input 'arbeitssicherheit-sozialraume-garderoben'}}
  {{form.input 'arbeitssicherheit-sozialraume-toiletten-duschen'}}
  {{form.input 'arbeitssicherheit-sozialraume-sanitare-anlagen'}}
  {{form.input 'arbeitssicherheit-sozialraume-ess-und-aufenthaltsraume'}}
  {{form.input 'arbeitssicherheit-sozialraume-pause-und-ruheraume'}}
{{/camac-form}}
