<li>
  <a href="#">{{t "nav.language"}}<UkIcon @icon="triangle-down" /></a>
  <div uk-dropdown="mode: click;">
    <ul class="uk-nav uk-dropdown-nav">
      {{#each @languages as |language|}}
        <li class={{if (eq language @currentLanguage) "uk-active"}}>
          <a data-test-language={{language}} href="#" {{on "click" (fn @onSelect language)}}>
            {{t (concat "nav." language)}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</li>