<LoadingOrNotfound
  @hasPermission={{can
    "read feedback of instance"
    this.editController.instance
  }}
>
  {{#if this.editController.feedback}}
    {{#if (macroCondition (macroGetOwnConfig "documentBackendCamac"))}}
      <BeAttachmentList @attachments={{this.editController.feedback}} />
    {{else}}
      <AlexandriaAttachmentList @attachments={{this.editController.feedback}} />
    {{/if}}
  {{else}}
    <div class="uk-text-center">{{t "feedback.info"}}</div>
  {{/if}}
</LoadingOrNotfound>