{{#unless question.hidden}}
  {{#with question.field.config.columns as |columns|}}
    <div class="uk-animation-fade">
      {{yield}}
      <label
        class="uk-form-label uk-text-bolder
          {{if error.length "uk-text-danger"}}"
      >
        {{question.field.label}}
        {{#if question.field.required}}
          <span class="uk-text-primary">
            *
          </span>
        {{/if}}
        {{#if question.field.hint}}
          {{camac-hint-dialog question.field.hint}}
        {{/if}}
      </label>
      <table
        class="uk-table uk-table-striped uk-margin-remove uk-table-small uk-table-responsive uk-table-middle"
      >
        <thead>
          <tr>
            {{#each columns as |column|}}
              <th title={{column.label}}>
                {{table-label column}}
              </th>
            {{/each}}
            {{#unless readonly}}
              <th></th>
            {{/unless}}
          </tr>
        </thead>
        <tbody>
          {{#each question.value as |row|}}
            <tr>
              {{#each columns as |column|}}
                <td>
                  {{get row column.name}}
                </td>
              {{/each}}
              {{#unless readonly}}
                <td class="uk-text-right">
                  <button
                    type="button"
                    title="Eintrag Bearbeiten"
                    data-test-edit-row
                    class="uk-icon-button"
                    uk-icon="pencil"
                    {{on "click" (perform this.editRow row)}}
                  ></button>
                  <button
                    type="button"
                    title="Eintrag Löschen"
                    data-test-delete-row
                    class="uk-icon-button"
                    uk-icon="trash"
                    {{on "click" (perform this.deleteRow row)}}
                  ></button>
                </td>
              {{/unless}}
            </tr>
          {{else}}
            <tr>
              <td
                colspan={{add (count-keys columns) 1}}
                class="uk-text-center uk-text-small"
              >
                Noch keine Einträge erfasst
              </td>
            </tr>
          {{/each}}
        </tbody>
        {{#unless readonly}}
          <tfoot>
            <tr>
              <td colspan={{add (count-keys columns) 1}} class="uk-text-center">
                <UkButton @size="small" @on-click={{perform this.addRow}}>
                  <UkIcon @icon="plus"/>
                </UkButton>
              </td>
            </tr>
          </tfoot>
        {{/unless}}
      </table>

      {{camac-input-error error}}
      
      {{#if this.questionActive}}
        <UkButton
          class="uk-align-center"
          @disabled={{unless this.copySourceValue "true"}}
          {{on "click" this.copyQuestionValue}}
        >
          {{@copyButtonLabel}}
        </UkButton>
      {{/if}}

      {{#unless readonly}}
        <CamacTableModal
          @name={{question.name}}
          @columns={{columns}}
          @visible={{showEdit}}
          @value={{editedRow}}
          @on-save={{perform this.saveRow}}
        />
      {{/unless}}
    </div>
  {{/with}}
{{/unless}}