<LoadingOrNotfound
  @hasPermission={{can "read applicants of instance" this.editController.instance}}
>
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th>{{t "instances.applicants.invitee"}}</th>
        <th>{{t "instances.applicants.created"}}</th>
        <th>{{t "instances.applicants.user"}}</th>
        {{#if (and (gt this.applicants.length 1) (can "manage applicants of instance" this.editController.instance))}}
          <td></td>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each this.applicants as |applicant|}}
        <tr>
          <td>
            {{#if applicant.invitee}}
              {{applicant.invitee.fullName}}
              <span class="uk-text-meta">({{applicant.invitee.email}})</span>
            {{else}}
              {{applicant.email}}
              <span class="uk-text-meta">({{t "instances.applicants.unregistered"}})</span>
            {{/if}}
          </td>
          <td>{{format-date applicant.created format="datetime"}}</td>
          <td>{{applicant.user.fullName}}</td>
          {{#if (and (gt this.applicants.length 1) (can "manage applicants of instance" this.editController.instance))}}
            <td class="uk-text-right">
                <button
                  type="button"
                  class="uk-icon-button"
                  uk-icon="trash"
                  title={{t "global.delete"}}
                  {{on "click" (perform this.delete applicant)}}
                ></button>
            </td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td class="uk-text-center" colspan="3">
            {{t "instances.applicants.noApplicants"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>


  {{#if (can "manage applicants of instance" this.editController.instance)}}
    <form uk-grid class="uk-grid-small" onsubmit={{perform this.add}}>
      <div class="uk-width-expand">
        <div class="uk-inline uk-width-1-1">
          <PersonalSuggestions
            @instanceId={{this.editController.model}}
            @usedEmails={{this.usedEmails}}
            @onSelect={{fn (mut this.email)}}
          >
            <UkIcon @icon="mail" class="uk-form-icon" />
            <Input
              class="uk-input"
              id="email"
              name="email"
              placeholder={{t "instances.applicants.email"}}
              required={{true}}
              @type="email"
              @value={{this.email}}
            />
          </PersonalSuggestions>
        </div>
      </div>
      <div class="uk-width-auto">
        <UkButton @type="submit" @color="primary" @disabled={{not this.email.length}}>{{t "instances.applicants.add"}}</UkButton>
      </div>
    </form>
  {{/if}}

  {{#if (has-feature "permissions.municipalityBeforeSubmission")}}
    <h4>{{t "instances.applicants.municipality-access"}}</h4>
    <p>{{t "instances.applicants.municipality-info"}}</p>

    {{#if this.municipalityPermissions.records.length}}
      <table class="uk-table uk-table-striped">
        <thead>
          <tr>
            <th>{{t "instances.applicants.municipality"}}</th>
            <th>{{t "instances.applicants.period"}}</th>
            <th>{{t "instances.applicants.user"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.municipalityPermissions.records as |permission|}}
            <tr>
              <td>{{permission.entityName}}</td>
              <td>
                {{format-date permission.createdAt format="datetime"}}
                -
                {{#if permission.revokedAt}}
                  {{format-date permission.revokedAt format="datetime"}}
                {{else}}
                  {{t "instances.applicants.now"}}
                {{/if}}
              </td>
              <td>{{permission.createdByName}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}

    {{#if (can "manage municipality access before submission of instance" this.editController.instance)}}
      {{#if (and (not this.currentMunicipality.value) (not this.currentMunicipality.isLoading))}}
        <div class="uk-alert uk-alert-danger">{{t "instances.applicants.municipality-info-empty"}}</div>
      {{/if}}

      <UkButton
        @onClick={{perform this.toggleMunicipalityAccess}}
        @disabled={{or
          this.toggleMunicipalityAccess.isRunning
          (and
            (not this.municipalityHasPermission)
            (not this.currentMunicipality.value)
          )
        }}
        @loading={{this.toggleMunicipalityAccess.isRunning}}
        @label={{t (concat "instances.applicants." (if this.municipalityHasPermission "revoke" "authorize"))}}
      />
    {{/if}}
  {{/if}}
</LoadingOrNotfound>