<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>{{t "instances.applicants.invitee"}}</th>
      <th>{{t "instances.applicants.created"}}</th>
      <th>{{t "instances.applicants.user"}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each applicants as |applicant|}}
      <tr>
        <td>{{applicant.invitee.fullName}}</td>
        <td>{{format-date applicant.created month="2-digit" day="2-digit" year="numeric" hour="2-digit" minute="2-digit"}}</td>
        <td>{{applicant.user.fullName}}</td>
        <td class="uk-text-right">
          {{#if (gt applicants.length 1)}}
            <button type="button" class="uk-icon-button" uk-icon="trash" title={{t "global.delete"}} {{action (perform delete) applicant}}></button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<form uk-grid class="uk-grid-small" onsubmit={{perform add}}>
  <div class="uk-width-expand">
    <div class="uk-inline uk-width-1-1">
      {{uk-icon "mail" class="uk-form-icon"}}
      <input class="uk-input" type="email" name="email" placeholder={{t "instances.applicants.email"}} required>
    </div>
  </div>
  <div class="uk-width-auto">
    <button type="submit" class="uk-button uk-button-primary">{{t "instances.applicants.add"}}</button>
  </div>
</form>