<h1 class="uk-text-center uk-margin-large-bottom">{{t "support.title"}}</h1>

<div class="uk-width-1-1 uk-flex uk-flex-center">
  <div uk-grid class="uk-width-1-1 uk-width-1-2@l uk-flex-center">
    <div class="uk-width-1-2">
      <a href="tel:{{t "support.phone"}}" class="uk-flex uk-flex-column uk-background-muted uk-padding uk-text-center uk-link-reset">
        {{uk-icon "receiver" ratio=3 class="uk-margin"}}
        {{t "support.phone"}}
      </a>
    </div>
    <div class="uk-width-1-1">
      <div class="uk-text-meta uk-text-center">
        {{t "support.info"}}
      </div>
    </div>
  </div>
</div>