<h1 class="uk-text-center uk-margin-large-bottom">{{t "nav.support"}}</h1>

<div class="uk-width-1-1 uk-flex uk-flex-center">
  <div uk-grid class="uk-width-1-1 uk-width-1-2@l uk-flex-center">
    <div class="uk-width-1-1">
      <div class="uk-text-meta uk-text-center">
        {{t "support.info-ur" htmlSafe=true}}
      </div>
    </div>
    <div class="uk-width-1-2">
      <a href="mailto:{{t "support.email-ur"}}?Subject={{t "support.subject-ur"}}" class="uk-flex uk-flex-column uk-background-muted uk-padding uk-text-center uk-link-reset">
        <UkIcon @icon="mail" @ratio={{3}} class="uk-margin" />
        {{t "support.email-ur"}}
      </a>
    </div>
  </div>
</div>