<div class="uk-width-2-3@l uk-width-1-1 uk-margin-auto">
  <h1 class="uk-text-center uk-margin-medium-bottom">
    {{t "index.welcome"}}
  </h1>

  <BeDashboard class="uk-padding uk-background-muted" @page="portal-inhalt" />

  <p
    class="uk-text-center uk-text-large uk-margin-medium-top uk-margin-medium-bottom"
  >
    {{t "index.nextStep"}}
  </p>

  <div class="uk-flex uk-flex-center uk-flex-wrap">
    {{#if (can "create instance")}}
      <div
        class="uk-flex uk-flex-middle uk-margin-small-left uk-margin-small-right uk-margin-bottom"
      >
        <LinkTo
          @route="instances.new"
          class="uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-center uk-flex-column"
        >
          <UkIcon @icon="plus" @ratio="3" class="uk-margin" />
          {{t "instances.new.title"}}
        </LinkTo>
      </div>
    {{/if}}

    <div
      class="uk-flex uk-flex-middle uk-margin-small-left uk-margin-small-right uk-margin-bottom"
    >
      <LinkTo
        @route="instances.index"
        class="uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-center uk-flex-column"
      >
        <UkIcon @icon="pencil" @ratio="3" class="uk-margin" />
        {{t "instances.edit"}}
      </LinkTo>
    </div>

    {{#if (has-feature "index.publicInstances")}}
      <div
        class="uk-flex uk-flex-middle uk-margin-small-left uk-margin-small-right uk-margin-bottom"
      >
        <LinkTo
          @route="public-instances"
          class="uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-center uk-flex-column"
        >
          <UkIcon @icon="file-text" @ratio="3" class="uk-margin" />
          {{t "nav.public-instance"}}
        </LinkTo>
      </div>
    {{/if}}
  </div>
</div>