<h3 class="uk-margin-small-top uk-margin-small-bottom">
  {{t "dossierImport.imports.title"}}
</h3>
<div class="uk-margin-bottom">
  {{t "dossierImport.imports.info"}}
</div>
<div class="uk-text-bold uk-margin-small-bottom">
  {{t "dossierImport.imports.listTitle"}}
</div>
<table class="uk-table uk-table-striped uk-table-middle uk-margin-remove-top">
  <thead>
    <tr>
      {{#let
        (array "createDate" "author" "status" "importDate") as |tableHeaders|
      }}
        {{#each tableHeaders as |tableHeader|}}
          <th class="uk-padding-remove-top">
            {{t (concat "dossierImport.imports.tableHeader." tableHeader)}}
          </th>
        {{/each}}
      {{/let}}
    </tr>
  </thead>
  <tbody>
    {{#if this.fetchImports.isRunning}}
      <tr>
        <td colspan="4" class="uk-text-center">
          <div class="uk-table-expand" uk-spinner></div>
        </td>
      </tr>
    {{else if (not this.imports.length)}}
      <tr>
        <td colspan="4" class="uk-text-center">
          {{t "dossierImport.imports.tableBody.noImports"}}
        </td>
      </tr>
    {{else}}
      {{#each this.imports as |import|}}
        <tr data-test-imports-row={{import.id}}>
          <td class="uk-table-link">
            <LinkTo
              @route="dossier-import.detail"
              @model={{import.id}}
              class="uk-link uk-link-reset"
            >
              {{format-date import.createdAt format="datetime"}}
            </LinkTo>
          </td>
          <td class="uk-table-link">
            <LinkTo
              @route="dossier-import.detail"
              @model={{import.id}}
              class="uk-link uk-link-reset"
            >
              {{#if this.isProd}}
                {{import.group.name}}
              {{else}}
                {{import.user.fullName}}
              {{/if}}
            </LinkTo>
          </td>
          <td class="uk-table-link">
            <LinkTo
              @route="dossier-import.detail"
              @model={{import.id}}
              class="uk-link uk-link-reset"
            >
              {{t (concat "dossierImport.imports.status." import.status)}}
            </LinkTo>
          </td>
          <td class="uk-table-link">
            <LinkTo
              @route="dossier-import.detail"
              @model={{import.id}}
              class="uk-link uk-link-reset"
            >
              {{or (format-date import.messages.import.completed format="datetime") "-"}}
            </LinkTo>
          </td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
<LinkTo
  data-test-new-import
  class="uk-button uk-button-primary uk-margin-bottom"
  @route="dossier-import.new"
  {{on "click" this.clearNotifications}}
>
  {{t "dossierImport.imports.newImportLink"}}
</LinkTo>
