<div class="uk-margin-small-right uk-margin-small-top uk-flex uk-flex-column" ...attributes>
  <label class="uk-form-label uk-text-bold">{{@label}}</label>
  <div class="uk-button-group">
    {{#each @options as |option|}}
      <UkButton
        @label={{option.label}}
        @color={{if (eq @selected option.value) "primary" "default"}}
        @onClick={{fn @onChange @name option.value}}
        @size={{or @size "medium"}}
      />
    {{/each}}
  </div>
</div>